<h1>Listing discussion_comments</h1>

<table>
  <tr>
    <th>Discussion thread</th>
    <th>User</th>
    <th>Position</th>
    <th>Comment type</th>
    <th>Cached resource</th>
    <th>Exhibit</th>
    <th>Link url</th>
    <th>Image url</th>
    <th>Comment</th>
  </tr>

<% for discussion_comment in @discussion_comments %>
  <tr>
    <td><%=h discussion_comment.discussion_thread_id %></td>
    <td><%=h discussion_comment.user_id %></td>
    <td><%=h discussion_comment.position %></td>
    <td><%=h discussion_comment.comment_type %></td>
    <td><%=h discussion_comment.cached_resource_id %></td>
    <td><%=h discussion_comment.exhibit_id %></td>
    <td><%=h discussion_comment.link_url %></td>
    <td><%=h discussion_comment.image_url %></td>
    <td><%=h discussion_comment.comment %></td>
    <td><%= link_to 'Show', discussion_comment %></td>
    <td><%= link_to 'Edit', edit_discussion_comment_path(discussion_comment) %></td>
    <td><%= link_to 'Destroy', discussion_comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New discussion_comment', new_discussion_comment_path %>
