<% current_page "admin" -%>
<% current_sub_page "Forum Topics" -%>
<div class="inner_content_container">
	<div class="page_header">Edit Forum Topics</div>

	<table>
	  <tr>
	    <th>Topic</th>
	  </tr>
	
	<% for discussion_topic in @discussion_topics %>
	  <tr>
	    <td><%=h discussion_topic.topic %></td>
	    <td><%= link_to 'Move Up', { :action => 'move_up', :id => discussion_topic }, :method => 'post', :class => 'modify_link' %></td>
	    <td><%= link_to 'Move Down', { :action => 'move_down', :id => discussion_topic }, :method => 'post', :class => 'modify_link' %></td>
	    <td><%= link_to 'Edit', {:action => 'edit', :id => discussion_topic}, {:class => 'modify_link'}  %></td>
	    <td><%= link_to 'Destroy', { :action => 'destroy', :id => discussion_topic }, :confirm => 'Are you sure?', :method => 'post', :class => 'modify_link' %></td>
	  </tr>
	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Forum Topic', {:action => 'new'}, {:class => 'modify_link'} %>
</div>
