<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "admin" -%>
<% current_sub_page "Forum Topics" -%>
<div class="inner_content_container">
	<div class="page_header">Edit Forum Topics</div>

	<table class='user_roles'>
	  <tr>
	    <th>Topic</th>
	  </tr>
	
	<% for discussion_topic in @discussion_topics %>
	  <tr>
	    <td><%= discussion_topic.topic %></td>
	    <td><%= link_to( 'Move Up', { :action => 'move_up', :id => discussion_topic }, :method => 'post', :class => 'modify_link') if discussion_topic.position != 1 %></td>
	    <td><%= link_to( 'Move Down', { :action => 'move_down', :id => discussion_topic }, :method => 'post', :class => 'modify_link') if discussion_topic.position != @discussion_topics.length %></td>
	    <td><%= link_to 'Edit', {:action => 'edit', :id => discussion_topic}, {:class => 'modify_link'}  %></td>
	    <td><%= link_to_confirm 'Destroy', { :action => 'destroy', :id => discussion_topic }, "Delete Forum Topic", "This will delete the forum topic \"#{discussion_topic.topic}\" and any threads that were created under that topic. Are you sure you want to continue?", 'delete' %></td>
	  </tr>

	<% end %>
	</table>
	
	<br />
	
	<%= link_to 'New Forum Topic', {:action => 'new'}, {:class => 'modify_link'} %>
</div>
