<%#
# ------------------------------------------------------------------------
#     Copyright 2010 Applied Research in Patacriticism and the University of Virginia
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<% current_page "admin" -%>
<% current_sub_page "Features" -%>
<script type="text/javascript">
	var saved_searches = <%= raw(@saved_searches.to_json) %>;
</script>
<div class="inner_content_container">
	<div class="page_header">Features</div>
	<table class='user_roles'>
	  <tr>
	    <th>Object URI</th>
	    <th>Saved Search URL</th>
	    <th>Image</th>
	    <th>Disabled</th>
	  </tr>
	<% @features.each do |rec| %>
	  <tr>
	    <td><%= rec.object_uri %></td>
	    <td><%= rec.saved_search_url %></td>
	    <td><% if rec.image %><img height="25" src="/<%=rec.image.photo.url(:feature) %>" alt="Feature image" /><% end %></td>
	    <td><%= rec.disabled == '1' ? 'Yes' : 'No' %></td>

	    <td><%= link_to_function 'Edit', "featureDlg(saved_searches, { method: 'PUT', url: '/admin/features/#{rec.id}' }, #{rec.to_json()}, '#{rec.image ? "/#{rec.image.photo.url(:feature)}" : 'null'}')", { :class => 'nav_link' } %></td>
	    <td>
	    <%= link_to "Delete", "/admin/features/#{rec.id}", :confirm => "Are you sure?", :method=>:delete, :class=>'nav_link' %>
	    </td>
	  </tr>
	<% end %>
	</table>

	<%= link_to_function "New Feature", "featureDlg(saved_searches, { method: 'POST', url: '/admin/features' }, {}, null)", { :class => 'nav_link' } %>
</div>
