<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# add_constraint_form : no parameters -%>
<% if SKIN == 'modnets' %>
	<div class="add_constraint_form" style="display:none;">
	  <% if @other_federations.length > 0 %>
   	  <div class="search_federation_checkbox">
   		<input type="checkbox" class="search_all_federations" />Search all federations
   	  </div>
	  <% end %>
		<form accept-charset="UTF-8" action="/search" id="add-search-constraint" method="get">
		  <input id="search_submit" type="submit" value="Search"/>
			<input name="q" type="text" class="search_entry_box_keyword jq-autocomplete" data-autocomplete-url="/search/auto_complete_for_q" autocomplete="off" placeholder="<%= "Search #{Setup.site_name()}..." if SKIN == 'modnets' %>" />
		  <% if HAS_FUZZY %>
			  <div class="fuzzy-container">
			  <% fuzz = @kfval %>
			  <% fuzz = 1 if @kfval.nil? %>
			  <input class="fuzzy" type="radio" name="fuz_q" value="1"
					 <% if fuzz==1 %>checked="checked"
					 <% end %> />
			  <span class="fuzzy">Exact Match</span>
			  <input class="fuzzy" type="radio" name="fuz_q" value="2"
					 <% if fuzz==2 %>checked="checked"
					 <% end %>/>
			  <span class="fuzzy">Some Variance</span>
			  <input class="fuzzy" type="radio" name="fuz_q" value="3"
					 <% if fuzz==3 %>checked="checked"
					 <% end %> />
			  <span class="fuzzy">More Variance</span>
			  </div>
		  <% end %>
		  <div class="search_help_icon">
			<a href="/about/help/" class="tooltip"><%= image_tag("#{SKIN}/help_thumb.gif", {alt: 'help', height: 18, style: "padding-left:5px"}) %>
			  <span class="search_help_tooltip"><b>Need help?</b><br/>Click to learn more about searching
			in <%= Setup.site_name() %>.</span></a>
		  </div>
		  <div class="search_entry_instructions">Other search options:</div>
		  <div class="row">
			<div>Title:</div>
			<input name="t" type="text" class="search_entry_box" <%= "value='#{@tphrs}'" if @tphrs %> />
		  </div>
		  <% if HAS_FUZZY %>
			  <div class="row"><div></div>
				<% fuzz = @tfval %>
				<% fuzz = 1 if @tfval.nil? %>
				<input class="fuzzy" type="radio" name="fuz_t" value="1"
					   <% if fuzz==1 %>checked="checked"
					   <% end %> />
				<span class="fuzzy">Exact Match</span>
				<input class="fuzzy" type="radio" name="fuz_t" value="2"
					   <% if fuzz==2 %>checked="checked"
					   <% end %>/>
				<span class="fuzzy">Some Variance</span>
				<input class="fuzzy" type="radio" name="fuz_t" value="3"
					   <% if fuzz==3 %>checked="checked"
					   <% end %> />
				<span class="fuzzy">More Variance</span>
			  </div>
		  <% end %>
		  <div class="row">
			<div>Author:</div>
			<td>
			  <input name="aut" type="text" class="search_entry_box" <%= "value='#{@aphrs}'" if @aphrs %> />
		  </div>
		  <div class="row">
			<div>Editor:</div>
			<td>
			  <input name="ed" type="text" class="search_entry_box" <%= "value='#{@ephrs}'" if @ephrs %> />
		  </div>
		  <div class="row">
			<div>Publisher:</div>
			<td>
			  <input name="pub" type="text" class="search_entry_box" <%= "value='#{@pphrs}'" if @pphrs %> />
		  </div>
		  <div class="row">
			<div>Year (YYYY):</div>
			<td>
			  <input id="search_year" name="y" type="text" class="search_entry_box" <%= "value='#{@yphrs}'" if @yphrs %> />
		  </div>
		  <input id="search_submit2" type="submit" value="Search"/>
	  </form>

	  <% if user_signed_in? -%>
		  <div id="saved-searches">
			<%= render :partial => 'save_search_list', :locals => {:header_class => 'page_header', :max_to_show => -1} %>
		  </div>
	  <% end -%>
	</div>

<% else %>
<center>
<div class="add_constraint_form" style="display:none;">
   <% if @other_federations.length > 0 %>
      <div class="search_federation_checkbox"><input type="checkbox" class="search_all_federations" />Search all federations</div>
   <% end %>
	<form accept-charset="UTF-8" action="/search" id="add-search-constraint" method="get">
		<div class="page_header">Search <%= Setup.site_name() %>:</div>
 	<table>
        <tr>
          <td colspan='2'>
			  <input name="q" type="text" class="search_entry_box_keyword jq-autocomplete" data-autocomplete-url="/search/auto_complete_for_q" autocomplete="off" placeholder="<%= "Search #{Setup.site_name()}..." if SKIN == 'modnets' %>" />
          </td>
          <td>
            <input id="search_submit" type="submit" value="Search" />
          </td>
        </tr>
       <% if HAS_FUZZY %>
          <tr>
            <td colspan='2' style="padding:0">
			  <span class="fuzzy-spacer"></span>
               <% fuzz = @kfval %>
               <% fuzz = 1 if @kfval.nil? %>
               <input class="fuzzy" type="radio" name="fuz_q" value="1" <% if fuzz==1 %>checked="checked"<% end %> />
               <span class="fuzzy">Exact Match</span>
               <input class="fuzzy" type="radio" name="fuz_q" value="2" <% if fuzz==2 %>checked="checked"<% end %>/>
               <span class="fuzzy">Some Variance</span>
               <input class="fuzzy" type="radio" name="fuz_q" value="3" <% if fuzz==3 %>checked="checked"<% end %> />
               <span class="fuzzy">More Variance</span>
            </td>
          </tr>
       <% end %>
		<tr><td colspan='3'><div class="search_help_icon">
					<a href="/about/help/" class="tooltip"><%= image_tag("#{SKIN}/help_thumb.gif", { alt: 'help', height: 18, style: "padding-left:5px" }) %><span class="search_help_tooltip"><b>Need help?</b><br />Click to learn more about searching in <%= Setup.site_name() %>.</span></a>
				</div><div class="search_entry_instructions">Other search options:</div></td></tr>
        <tr><td>Title:</td><td><input name="t" type="text" class="search_entry_box" <%= "value='#{@tphrs}'" if @tphrs %> /></td></tr>
        <% if HAS_FUZZY %>
           <tr>
             <td></td>
             <td colspan='2' style="padding:0">
			   <span class="fuzzy-spacer"></span>
               <% fuzz = @tfval %>
               <% fuzz = 1 if @tfval.nil? %>
               <input class="fuzzy" type="radio" name="fuz_t" value="1" <% if fuzz==1 %>checked="checked"<% end %> />
               <span class="fuzzy">Exact Match</span>
               <input class="fuzzy" type="radio" name="fuz_t" value="2" <% if fuzz==2 %>checked="checked"<% end %>/>
               <span class="fuzzy">Some Variance</span>
               <input class="fuzzy" type="radio" name="fuz_t" value="3" <% if fuzz==3 %>checked="checked"<% end %> />
               <span class="fuzzy">More Variance</span>
             </td>
           </tr>
        <% end %>
        <% if SKIN.upcase == 'MESA' %>
            <tr><td>Role:</td><td><%= select_tag( :search_role_type, options_from_collection_for_select([ ['', '(Select a role)'] ] + @searchable_roles, :first, :last), :class => 'search_role_type' ) %>
           <input name="search_role" id="search_role" type="text" class="search_entry_box_short" placeholder="Please select a role."/>
            </td>
            <td>
              <span class="tooltip advanced_search_field_tooltip">
                   <%= image_tag("#{SKIN}/help_thumb.gif", { alt: 'help', height: 13, style: "padding-left:5px" }) %>
                   <span class="search_help_tooltip">
                     <b>Search by Role</b><br />In addition to searching roles, you should also try your search in the key terms field above.
                   </span>
                 </span>
            </td></tr>
         <% else %>
           <tr><td>Author:</td><td><input name="aut" type="text" class="search_entry_box" <%= "value='#{@aphrs}'" if @aphrs %> /></td></tr>
           <tr><td>Editor:</td><td><input name="ed" type="text" class="search_entry_box" <%= "value='#{@ephrs}'" if @ephrs %> /></td></tr>
           <tr><td>Publisher:</td><td><input name="pub" type="text" class="search_entry_box" <%= "value='#{@pphrs}'" if @pphrs %> /></td></tr>
        <% end %>
        <% if SKIN.upcase == 'MESA' %>
           <tr>
             <td>Language:</td>
             <td><%= select_tag( :lang, options_from_collection_for_select([IsoLanguage.new(:english_name => "(Select a language)")] + Catalog.factory_create(false).get_languages(), :alpha3, :first_english_name), :class => 'search_language' ) %></td>
           </tr>
        <% end %>
        <tr><td>Year (YYYY):</td><td><input id="search_year" name="y" type="text" class="search_entry_box" <%= "value='#{@yphrs}'" if @yphrs %> /></td></tr>
        <tr><td colspan="3" style="text-align: right;"><input id="search_submit2" type="submit" value="Search" /></td></tr>
    </table>
	</form>

	<% if user_signed_in? -%>
		<div id="saved-searches">
			<%= render :partial => 'save_search_list', :locals => { :header_class => 'page_header', :max_to_show => -1 } %>
		</div>
	<% end -%>
</div>
</center>
<% end %>
