<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# add_constraint_form : no parameters -%>

<center>
<div class="add_constraint_form">
    	<div class="search_federation_checkbox"><input type="checkbox" name="search_federation" id="search_federation" onchange="changeFederation(this); return false;" value="search_all_federations" <%= "checked='checked'" if has_all_federation_constraints?(@other_federations) %> ><%= @all_federations %></input></div>
	<%= form_tag({controller: "search", action: "add_constraint"}, { id: "add-search-constraint", onsubmit: "return searchValidation('search_year', null, null, 'search_submit', 'search_submit2');" }) do %>
		<div class="page_header">Search <%= Setup.site_name() %>:</div>
 	<table>
        <tr>
          <td colspan='2'>
            <%= text_field_with_suggest :search, :keyword,  {:class=>"search_entry_box_keyword", :value=>@kphrs ? @kphrs : '' }, {:min_chars => 2}-%>
          </td>
          <td>
            <input id="search_submit" type="submit" value="Search" />
          </td>
        </tr>
       <% if SKIN.upcase == 'MESA' %>
       <tr>
         <td colspan='2' class="yui3-skin-sam" style="padding:0">
           <div>
            <span id="fuz_control_keyword" class="fuz_control_keyword "></span>
            <span class="tooltip slider_tooltip">
               <img height="13" src="/images/<%= SKIN %>/help_thumb.gif" alt="help" style="padding-left:5px"/>
               <span class="search_help_tooltip">
                 <b>Fuzzy Search Slider</b><br />A lower value will allow the search to match more varied spellings.
               </span>
            </span>
           </div>
           <div id="labels_fuz_control_keyword" style="width:455px;vertical-align:top;position:relative;top:-11px">
               <span style="float:left;vertical-align:top;padding-left:90px;color: gray;">Fuzzy</span>
               <span style="float:right;vertical-align:top;padding-right:90px;color: gray;">Exact</span>
           </div>
           <% if @kfval %>
               <input id="search_keyword_fuz" name="search_keyword_fuz" type="hidden" <%=  "value='#{@kfval}'" %> />
           <% else %>
               <input id="search_keyword_fuz" name="search_keyword_fuz" type="hidden" value='1'  />
           <% end %>
         </td>
       </tr>
       <% end %>
		<tr><td colspan='3'><div class="search_help_icon">
					<a href="/help.html" class="tooltip"><img height="18" src="/images/<%= SKIN %>/help_thumb.gif" alt="help" /><span class="search_help_tooltip"><b>Need help?</b><br />Click to learn more about searching in <%= Setup.site_name() %>.</span></a>
				</div><div class="search_entry_instructions">Other search options:</div></td></tr>
        <tr><td>Title:</td><td><input name="search_title" id="search_title" type="text" class="search_entry_box" <%= "value='#{@tphrs}'" if @tphrs %> /></td></tr>
        <% if SKIN.upcase == 'MESA' %>
           <tr>
             <td></td>
             <td class="yui3-skin-sam" style="padding:0">
               <div>
                   <span id="fuz_control_title" class="fuz_control_title" >
                    <%# slider gets put in here %>
                   </span>
                 <span class="tooltip slider_tooltip">
                   <img height="13" src="/images/<%= SKIN %>/help_thumb.gif" alt="help" style="padding-left:5px"/>
                   <span class="search_help_tooltip">
                     <b>Fuzzy Search Slider</b><br />A lower value will allow the search to match more varied spellings.
                   </span>
                 </span>
               </div>
               <div id="labels_fuz_control_title" style="width:355px;vertical-align:top;position:relative;top:-13px">
                 <span style="float:left;vertical-align:top;padding-left:45px;color: gray;">Fuzzy</span>
                 <span style="float:right;vertical-align:top;padding-right:35px;color: gray;">Exact</span>
               </div>
               <% if @kfval %>
                   <input id="search_title_fuz" name="search_title_fuz" type="hidden" <%=  "value='#{@tfval}'" %> />
               <% else %>
                   <input id="search_title_fuz" name="search_title_fuz" type="hidden" value='1'  />
               <%end%>
             </td>
           </tr>
        <% end %>
        <% if SKIN.upcase == 'MESA' %>
            <tr><td>Role:</td><td><%= select_tag( :search_roles, options_from_collection_for_select([ ['disabled_search_input', '(Select a role)'],
                                                                                                      ['search_author','Author'],
                                                                                                      ['search_editor','Editor'],
                                                                                                      ['search_artist','Artist'],
                                                                                                      ['search_owner','Owner'],
                                                                                                      ['search_publisher','Publisher']], :first, :last), :class => 'search_role_type' ) %>
           <input name="disabled_search_input" id="disabled_search_input" disabled="true" type="text" class="search_entry_box_short search_entry_hidden" value=""/>
           <input name="search_author" id="search_author" type="text" class="search_entry_box_short search_entry_hidden" <%= "value='#{@aphrs}'" if @aphrs %> />
           <input name="search_editor" id="search_editor" type="text" class="search_entry_box_short search_entry_hidden" <%= "value='#{@ephrs}'" if @ephrs %> />
           <input name="search_artist" id="search_artist" type="text" class="search_entry_box_short search_entry_hidden" <%= "value='#{@arphrs}'" if @arphrs %> />
           <input name="search_owner" id="search_owner" type="text" class="search_entry_box_short search_entry_hidden" <%= "value='#{@ophrs}'" if @ophrs %> />
           <input name="search_publisher" id="search_publisher" type="text" class="search_entry_box_short search_entry_hidden" <%= "value='#{@pphrs}'" if @pphrs %> /></td></tr>
         <% else %>
           <tr><td>Author:</td><td><input name="search_author" id="search_author" type="text" class="search_entry_box" <%= "value='#{@aphrs}'" if @aphrs %> /></td></tr>
           <tr><td>Editor:</td><td><input name="search_editor" id="search_editor" type="text" class="search_entry_box" <%= "value='#{@ephrs}'" if @ephrs %> /></td></tr>
           <!--
           <tr><td>Artist:</td><td><input name="search_artist" id="search_artist" type="text" class="search_entry_box" <%= "value='#{@arphrs}'" if @arphrs %> /></td></tr>
           <tr><td>Owner:</td><td><input name="search_owner" id="search_owner" type="text" class="search_entry_box" <%= "value='#{@ophrs}'" if @ophrs %> /></td></tr>
           -->
           <tr><td>Publisher:</td><td><input name="search_publisher" id="search_publisher" type="text" class="search_entry_box" <%= "value='#{@pphrs}'" if @pphrs %> /></td></tr>
        <% end %>
        <% if SKIN.upcase == 'MESA' %>
           <tr>
             <td>Language:</td>
             <td><%= select_tag( :search_language, options_from_collection_for_select([IsoLanguage.new(:english_name => "(Select a language)")] + Catalog.factory_create(false).get_languages(), :alpha3, :first_english_name), :class => 'search_language' ) %></td>
           </tr>
        <% end %>
        <tr><td>Year (YYYY):</td><td><input name="search_year" id="search_year" type="text" class="search_entry_box" <%= "value='#{@yphrs}'" if @yphrs %> /></td></tr>
        <tr><td colspan="3" style="text-align: right;"><input id="search_submit2" type="submit" value="Search" /></td></tr>
    </table>
	<% end %>

	<% if is_logged_in? -%>
		<div id="saved-searches">
			<%= render :partial => 'save_search_list', :locals => { :header_class => 'page_header', :max_to_show => -1 } %>
		</div>
	<% end -%>
</div>
</center>
<script type="text/javascript">
  function on_role_type_change(event, el)
  {
      if (el && el.options)
      {
          var old_input_value = '';

          // hide old option
          var visible_inputs = $$('.search_entry_visible');
          if (visible_inputs.length > 0)
          {
              visible_inputs.each( function(i) {
                  YAHOO.util.Dom.replaceClass(i, 'search_entry_visible', 'search_entry_hidden');
                  old_input_value = i.value;
                  i.value = '';
              });
          }

          var si = el.options.selectedIndex;
          var input_id = el.options[si].value;
          var selected_inputs = $$('#' + input_id)
          if (selected_inputs.length > 0)
          {
              selected_inputs.each( function(i) {
                  YAHOO.util.Dom.replaceClass(i, 'search_entry_hidden', 'search_entry_visible');
                  i.value = old_input_value;
              });
          }
      }
  }

  function add_search_field_events()
  {
    var sr = $$('#search_roles');
    if (sr.length > 0)
    {
        sr[0].on('change', on_role_type_change);
        on_role_type_change(null, sr[0]);
    }
  }

  function updateInputValue(e)
  {
      if (e && e.newVal) {
          this.set('value', e.newVal / 1000);
      }
  }

  function snapToValue(e)
  {
      var value = this.get('value');
      value = Math.round(value / 100) * 100;
      this.set('value', value);
      this.syncUI();
  }

  function delaySnapToValue(e)
  {
      var me = this;
      setTimeout( function() {snapToValue.call(me, e)}, 100);
  }

  function add_fuz_sliders()
  {
      YUI().use('slider', function(Y) {
          if (Y.one("#fuz_control_keyword")) {
              var slider = new Y.Slider({
                  length : 256,
                  height : 40,
                  thumbUrl : '/images/collex/thumb-x.png',
                  min : 200,
                  max : 1000,
                  value : 1000,
                  majorStep: 100,
                  minorStep: 100
              });
              slider.render("#fuz_control_keyword");
              var input = Y.one('#search_keyword_fuz');
              var input_value = parseFloat(input.get('value'));
              if (!isNaN(input_value))
              {
                  slider.set('value', input_value * 1000);
              }
              slider.on('valueChange', updateInputValue, input);
              slider.syncUI();

              slider.on('slideEnd', snapToValue, slider);
              slider.on('railMouseDown', delaySnapToValue, slider);
          }
          if (Y.one("#fuz_control_title")) {
              slider = new Y.Slider({
                  length : 256,
                  height : 40,
                  thumbUrl : '/images/collex/thumb-x.png',
                  min : 200,
                  max : 1000,
                  value : 1000,
                  majorStep: 100,
                  minorStep: 100
              });
              slider.render("#fuz_control_title");
              var input = Y.one('#search_title_fuz');
              var input_value = parseFloat(input.get('value'));
              if (!isNaN(input_value))
              {
                  slider.set('value', input_value * 1000);
              }
              slider.on('valueChange', updateInputValue, input);
              slider.syncUI();

              slider.on('slideEnd', snapToValue, slider);
              slider.on('railMouseDown', delaySnapToValue, slider);

              //slider._dd.con.set('tickX', 28);
          }

      });
  }

  function init_search_page()
  {
      add_search_field_events();
      add_fuz_sliders();
  }

  YAHOO.util.Event.onDOMReady(init_search_page);

</script>