<%# ------------------------------------------------------------------------
    Copyright 2007 Applied Research in Patacriticism and the University of Virginia
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
---------------------------------------------------------------------------- %>

<div class="right_column">
	<div class="right_column_header">Currently Searching...</div>
	<table class="limit_to limit_to_federation">
		<% fed_count = @results['facets']['federation'] ? @results['facets']['federation'][DEFAULT_FEDERATION] : 0 -%>
		<% other_count = @results['facets']['federation'] ? @results['facets']['federation'][@other_federation] : 0 -%>
		<%= federation_selector(DEFAULT_FEDERATION, fed_count) %>
		<%= federation_selector(@other_federation, other_count) %>
	</table>

	<div class="right_column_header">Limit Results to...</div>
    <p>Select a resource and genre below to limit your search results</p>
    
	<table class="limit_to">
		<tr>
			<th>Resource</th>
			<th class="num_objects"># of Objects</th>
		</tr>
		<%= render :partial => '/common/facet_tree_one_branch', :locals => { :branch => @sites_forest, :indent => 1, :is_edit_mode => false, :parent_id => '', :start_hidden => false, :site_count => @results['facets']['archive'] } %>
	</table>
   
    <table class="limit_to">
	    <tr><th>Genre</th><th class="num_objects"># of Objects</th></tr>
		<% for genre in @genre_data -%>
			<%= genre_selector( genre ) %>
		<% end -%>
    </table>    
   
    <table class="limit_to">
	    <tr><th>Access</th><th class="num_objects"># of Objects</th></tr>
		<%= access_selector(@freeculture_count, access_is_in_constraints?('FreeCultureConstraint'), "Free Culture Only", '/search/constrain_freeculture') %>
      <%= access_selector(@fulltext_count, access_is_in_constraints?('FullTextConstraint'), "Full Text Only", '/search/constrain_fulltext') %>
      <% if COLLEX_PLUGINS['typewright'] %>
      <%= access_selector(@typewright_count, access_is_in_constraints?('TypeWrightConstraint'), "TypeWright Enabled Only", '/search/constrain_typewright') %>
      <% end -%>
    </table>

<!--    <table class="limit_to">
      <tr><th>Federation</th><th class="num_objects"># of Objects</th></tr>
        < %= nines_selector(@nines_count) %>
        < %= eighteenth_connect_selector(@ec_count) %>
    </table> -->
</div>
