<%# ------------------------------------------------------------------------
    Copyright 2007 Applied Research in Patacriticism and the University of Virginia
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
---------------------------------------------------------------------------- %>

<div class="right_column">
	<div class="right_column_header">Currently Searching...</div>
	<table class="limit_to limit_to_federation">
		<% fed_count = @results['facets']['federation'] ? @results['facets']['federation'][Setup.default_federation()] : 0 -%>
		<%= federation_selector(Setup.default_federation(), fed_count) %>
		<% for fed in @other_federations %>
			<% other_count = @results['facets']['federation'] ? @results['facets']['federation'][fed] : 0 -%>
			<%= federation_selector(fed, other_count) %>
		<% end %>
	</table>

	<div class="right_column_header">Limit Results to...</div>
    <p>Select a resource below to limit your search results</p>
    
	<table class="limit_to facet-archive">
		<tr>
			<th>Resource</th>
			<th class="num_objects"># of Objects</th>
		</tr>
		<%= render :partial => '/common/facet_tree_one_branch', :locals => { :branch => @sites_forest, :indent => 1, :parent_id => '', :start_hidden => false, :site_count => @results['facets']['archive'] } %>
	</table>
  <br/>

  <div class="right_column_header">Other helpful facets...</div>
  <p>Select a facet below to limit your search results</p>

  <% facet_order = Setup.facet_order() %>
  <% facet_keys = facet_order.keys.sort %>
  <% facet_keys.each do |key| %>
    <% case facet_order[key] %>
      <% when 'access' %>
          <%= create_access_table(@freeculture_count, @fulltext_count, @typewright_count) %>
      <% when 'format' %>
          <%=  create_format_table(@format_data) %>
      <% when 'discipline' %>
          <%=  create_discipline_table(@discipline_data) %>
      <% when 'genre' %>
          <%=  create_genre_table(@genre_data) %>
      <% end %>
  <% end %>


  <!--    <table class="limit_to">
   <tr><th>Federation</th><th class="num_objects"># of Objects</th></tr>
     < %= nines_selector(@nines_count) %>
     < %= eighteenth_connect_selector(@ec_count) %>
 </table> -->
</div>
