<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# exhibit_palette params: ActiveRecord exhibit -%>	
<% collected_object_thumbnails = ExhibitObject.get_collected_object_thumbnail_array(exhibit.id) -%>
<span class="exhibit_profile">Exhibit Palette (<%= pluralize(collected_object_thumbnails.length, "#{Setup.site_name()} Object") %>)
	<%= link_to_function("[Edit Palette]", "new EditExhibitObjectListDlg('#{image_path(PROGRESS_SPINNER_PATH)}', '/builder/get_all_collected_objects', '/builder/update_objects_in_exhibits', #{exhibit.id}, 'exhibit_palette'); return false;", { :class => 'nav_link' }) %>
</span>
<div class="exhibit_palette_items">
<table>
	<% count = 0 -%>
	<% 0.upto((collected_object_thumbnails.length/11.0).ceil()) do -%>
		<tr>
			<% 0.upto(9) do -%>
				<td>
					<% if count < collected_object_thumbnails.length -%>
						<a href="#" onclick="new ResultRowDlg('/forum/get_object_details', '<%= collected_object_thumbnails[count][:uri] %>', '<%= image_path(PROGRESS_SPINNER_PATH) %>', {}); return false;">
							<%= render :partial => 'forum/img_with_progress_spinner', :locals => { :src => collected_object_thumbnails[count][:image], :alt => collected_object_thumbnails[count][:title], :title => collected_object_thumbnails[count][:title] + " (click for details)", :width => "25", :height => "25" } %>
						</a>
						<% count = count + 1 -%>
					<% else -%>
						<div style="width:25px;height:25px;"></div>
					<% end -%>
				</td>
			<% end -%>
		</tr>
	<% end -%>
</table>
</div>