<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%#parameters: Exhibit exhibit; bool show_immediately -%>
<script type="text/javascript">
	var gGenres = <%= raw(Catalog.factory_create(false).get_genres().sort.to_json()) %>;
	var gDisciplines = <%= raw(Catalog.factory_create(false).get_disciplines().sort.to_json()) %>;
</script>
<div id="global_form" class="inside_edit_exhibit_box">
	<div class="exhibit_profile">Exhibit Profile <%= link_to_function("[Edit Profile]", "editExhibitProfile('overview_data', #{exhibit.id}, 'overview_field', '/forum/get_nines_obj_list', '/forum/get_nines_obj_list_with_image?exhibit_id=#{exhibit.id}', '#{image_path(PROGRESS_SPINNER_PATH)}', gGenres, gDisciplines); return false;", { :class => 'modify_link' }) %></div>
	<span class='exhibit_profile_comment'>Use the fields below to change the font styles, thumbnails or Creative Commons License for your exhibit</span>
	<div class="exhibit_preview_thumbnail"><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => show_immediately } %></div>
	<div class="exhibit_profile_preview">
		<div><span class="exhibit_profile_label">Style: </span>
			<% if Group.can_change_styles(exhibit) -%>
			<%= exhibit_builder_style_name(exhibit) %> <%= link_to_function("[select style]", "new EditFontsDlg('/builder/update_fonts', #{exhibit.id}, #{exhibit.to_json()}, 'exhibit', false, null, false)", { :class => 'modify_link' }) %>
			<% else -%>
			Styles are set by the group.
			<% end -%>
		</div>
		<div><span class="exhibit_profile_label">Visible URL:</span>
			http://<%= request.host_with_port() %>/exhibits/<%= exhibit.get_id_if_no_visible_url() %><span id="overview_visible_url" class="overview_field"><%= exhibit.visible_url %></span></div>
		<span class="exhibit_profile_label">Thumbnail:</span>
		<span id="overview_thumbnail" class="overview_field"><%= exhibit.thumbnail && exhibit.thumbnail.length > 0 ? exhibit.thumbnail : raw("</span><span class='exhibit_profile_comment'>You have not added a thumbnail to this exhibit.") %></span>
		<div>
			<span class="exhibit_profile_label">Short Title:</span>
			<span id="overview_resource_name" class="overview_field"><%= exhibit.resource_name %></span>
		</div>
		<div>
			<span class="exhibit_profile_label">Genres:</span>
		    <span id="overview_genres" class="overview_field"><%= exhibit.genres %></span>
		</div>
	    <div>
		    <span class="exhibit_profile_label">Disciplines:</span>
		    <span id="overview_disciplines" class="overview_field"><%= exhibit.disciplines %></span>
		</div>
		<% has_groups = Group.user_is_in_group(get_curr_user_id()) -%>
		<% none_text = has_groups ? 'No Group Selected' : 'You are not in any groups' -%>
		<% group_name = exhibit.group_id && exhibit.group_id.to_i > 0 ? link_to(Group.find(exhibit.group_id).name, { :controller => 'groups', :action => 'show', :id => exhibit.group_id }, { :class => 'nav_link'}) : none_text -%>
		<% users_groups = [{ :value => '', :text => none_text }] -%>
		<% my_groups = Group.get_all_users_groups(exhibit.user_id) -%>
		<% for group in my_groups -%>
		<% users_groups.push({ :value => "#{group.id}", :text => group.name }) -%>
		<% end  -%>
		<span class="exhibit_profile_label">Group: </span><span id="overview_group" class="overview_field"><%= group_name %>&nbsp;<%= link_to_function("[change group]", "selectGroup(#{exhibit.id}, #{users_groups.to_json()}, '#{exhibit.group_id}');", { :class => 'modify_link' }) if has_groups %></span>
	<% if exhibit.group_id && exhibit.group_id.to_i > 0 && Cluster.find_by_group_id(exhibit.group_id) != nil -%>
		<div>
			<% cluster_name = exhibit.cluster_id ? link_to(Cluster.find(exhibit.cluster_id).name, { :controller => 'clusters', :action => 'show', :id => exhibit.cluster_id }, { :class => 'nav_link'}) : "No #{Group.get_clusters_label(exhibit.group_id)} Selected" -%>
		<% groups_clusters = [{ :value => '', :text => "No #{Group.get_clusters_label(exhibit.group_id)} Selected" }] -%>
		<% clusters = Cluster.where({group_id: exhibit.group_id}) -%>
		<% for cluster in clusters -%>
		<% groups_clusters.push({ :value => "#{cluster.id}", :text => cluster.name }) -%>
		<% end  -%>
		<span class="exhibit_profile_label"><%= Group.get_clusters_label(exhibit.group_id) %>: </span><span id="overview_cluster" class="overview_field"><%= cluster_name %>&nbsp;<%= link_to_function("[select #{Group.get_clusters_label(exhibit.group_id)}]", "selectCluster(#{exhibit.id}, #{groups_clusters.to_json()}, '#{exhibit.cluster_id}', '#{Group.get_clusters_label(exhibit.group_id)}');", { :class => 'modify_link' }) %></span>
		</div>
	<% end  -%>
		<div>
			<%= exhibit.get_visibility_friendly_text() %>&nbsp;<% links = exhibit.get_publish_links() -%>
			<% for link in links -%>
				<%= link_to_function link[:text], "doPublish(#{exhibit.id}, #{link[:param]});", :class => 'nav_link' %>&nbsp;
			<% end  -%>
		</div>
	</div>
	<div class="exhibit_sharing">
		<span class="exhibit_profile_label">Creative Commons License:</span>
		<div>
			<% if Group.can_change_license(exhibit) -%>
			<div class="exhibit_preview_thumbnail"><%= link_to_function(raw("#{exhibit.get_sharing_image()}"), "license_dialog({ populateLicenses: '/exhibits/get_licenses?add_inherit=false', selection: #{exhibit.get_sharing_int()}, id_name: 'sharing', id: #{exhibit.id}, update_id: 'overview_data', sub_title: 'Share this exhibit under the following license:', callback_url: '/builder/change_sharing' }); return false;") %></div>
			<span id="overview_published" class="overview_field"><%= "Creative Commons' #{exhibit.get_sharing()} License" %>
			</span>
			<%= link_to_function("[Choose License]", "license_dialog({ populateLicenses: '/exhibits/get_licenses?add_inherit=false', selection: #{exhibit.get_sharing_int()}, id_name: 'sharing', id: #{exhibit.id}, update_id: 'overview_data', sub_title: 'Share this exhibit under the following license:', callback_url: '/builder/change_sharing' }); return false;", { :class => "modify_link" }) %>
			<% else -%>
			<div class="exhibit_preview_thumbnail"><%= raw(exhibit.get_sharing_image()) %></div>
			<span id="overview_published" class="overview_field"><%= "Creative Commons' #{exhibit.get_sharing()} License" %>
			</span>
			<br />[The license is set by the group.]
			<% end -%>
		</div>
	</div>
	<div class="clear_both"></div>
</div>
