<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page Setup.my_collex() -%>
<script type="text/javascript">
	var gIllustrationTypes = <%= raw(ExhibitIllustration.get_illustration_type_array()) %>;

	document.observe('dom:loaded', function() {
		if (window.initOutline) 
			initOutline("edit_exhibit_outline");	
		});
</script>

<div id="edit_exhibit_outline" class="hidden">
	<div class="bd">
		<div id="exhibit_builder_outline_content">
			<%= render :partial => 'exhibit_outline', :locals => { :exhibit => @exhibit, :element_id_selected => -1, :is_editing_border => false } %>
		</div>
	</div>
</div>

<div class="inner_content_container">
	<% if !user_signed_in? -%>
		<%= render :partial => 'login_instructions' %>
	<% else -%>
		<div class="subpage_nav"> 
			<%= link_to Setup.my_collex(), "/#{MY_COLLEX_URL}", :class => 'nav_link' %><%= link_separator() %>&nbsp;<%= link_to "My objects", "/#{MY_COLLEX_URL}/results?view=all_collected", :class => 'nav_link' %><%= link_separator() %>&nbsp;Editing Exhibit&nbsp;<br />
		</div>
		
		<table class="edit_exhibit_heading"><tr>
			<td valign="top" width="50%">
				<div id="exhibit_palette" class="exhibit_palette">
					<%= render :partial => 'exhibit_palette', :locals => { :exhibit => @exhibit } %>
				</div>
			</td>
			<td valign="top" width="50%">
				<div id="overview_data" class="edit_exhibit_box">
					<%= render :partial => 'overview_data', :locals => { :exhibit => @exhibit, :show_immediately => false } %>
				</div> <%# Exhibit overview data %>
			</td>
		</tr></table>

		<div class="edit_exhibit_links">
			<%= link_to_function "[Show Outline]", "showExhibitOutline(-1,  -1);", :class => 'nav_link' %>
			<%= link_to_function "[Preview]", "var el = $('overview_visible_url'); var url = el.innerHTML; if (url.length === 0) url = #{@exhibit.id}; gotoPage('/exhibits/view/'+url+'?page=#{@page}');", { :class => 'nav_link' } %>
			<% if can_publish_as_different_user? -%>
				<%= link_to_function '[Publish as different user]', "setExhibitAuthorAlias('/builder/get_alias_users', '/builder/set_exhibit_author_alias', #{@exhibit.id}, 'exhibit_page', #{@page});",  :class => 'nav_link' %>
				<%= link_to_function '[Add additional author]', "addAdditionalAuthor('/builder/get_alias_users', '/builder/add_additional_author', #{@exhibit.id}, 'exhibit_page', #{@page});",  :class => 'nav_link' %>
			<% end -%>
		</div>
		
		<div id="exhibit_page">
			<%= render :partial => '/exhibits/exhibit_page', :locals => { :exhibit => @exhibit, :page_num => @page, :is_edit_mode => true, :top => nil, :badge_pos => 'none' } %>
		</div>
		<div class="clear_both">&nbsp;</div>
	<% end # is logged in -%>
</div>
