 ==============================
 Document Complete Notification
 ==============================
 
 TypeWright user "<%= @user %>" has marked document <%= @uri %> "<%= @title %>" complete. 
       
 Review the document <a href="<%= @doc_url %>">here</a> to confirm the status change.<br/>
 Go <a href="<%= @status_url %>">here</a> to approve or reject the status. 