<h1>Listing exhibit_sections</h1>

<table>
  <tr>
    <th>Exhibit page</th>
    <th>Position</th>
    <th>Has border</th>
  </tr>

<% for exhibit_section in @exhibit_sections %>
  <tr>
    <td><%=h exhibit_section.exhibit_page_id %></td>
    <td><%=h exhibit_section.position %></td>
    <td><%=h exhibit_section.has_border %></td>
    <td><%= link_to 'Show', exhibit_section %></td>
    <td><%= link_to 'Edit', edit_exhibit_section_path(exhibit_section) %></td>
    <td><%= link_to 'Destroy', exhibit_section, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exhibit_section', new_exhibit_section_path %>
