<% is_first = true # TODO-PER: refactor this out. %>
<% if element.exhibit_element_layout_type == 'header' -%>
	<div id="header_<%= element.id %>">
		<%= render :partial => 'exhibits/exhibit_header', :locals => { :text => element.element_text, :id => element.id } %>
	</div>
	<script language="JavaScript">
		if(window.initializeInplaceHeaderEditor)
			initializeInplaceHeaderEditor(<%= "'header_#{element.id}'"%>, "/my9s/edit_header");
	</script>
<% elsif element.exhibit_element_layout_type == 'text' -%>
	<%= render :partial => 'edit_exhibit_text', :locals => { :element => element, :is_first => is_first } %>
	<% is_first = false -%>
<% elsif element.exhibit_element_layout_type == 'pic_text' -%>
	<% illustration = element.exhibit_illustrations.find(:first) -%>
	<table><tr>
		<td><%= render :partial => 'edit_exhibit_illustration', :locals => { :element_id => element.id, :illustration => illustration, :part_of_row => false } %></td>
		<td width="100%"><%= render :partial => 'edit_exhibit_text', :locals => { :element => element, :is_first => is_first } %></td>
		<% is_first = false -%>
	</tr></table>
<% elsif element.exhibit_element_layout_type == 'text_pic' -%>
	<% illustration = element.exhibit_illustrations.find(:first) -%>
	<table><tr>
		<td width="100%"><%= render :partial => 'edit_exhibit_text', :locals => { :element => element, :is_first => is_first } %></td>
		<% is_first = false -%>
		<td><%= render :partial => 'edit_exhibit_illustration', :locals => { :element_id => element.id, :illustration => illustration, :part_of_row => false } %></td>
	</tr></table>
<% elsif element.exhibit_element_layout_type == 'pics' -%>
	<% illustrations = element.exhibit_illustrations -%>
	<table><tr>
		<% for illustration in illustrations -%>
		<td><% #= link_to_function ins_char(), "insertIllustration('element_#{element.id}', #{element.id}, #{illustration.position});", { :title => 'Insert Illustration' } %></td>
		<td><%= render :partial => 'edit_exhibit_illustration', :locals => {  :element_id => element.id, :illustration => illustration, :part_of_row => true } %></td>
		<% end -%>
		<td><% #= link_to_function ins_char(), "insertIllustration('element_#{element.id}', #{element.id}, #{illustrations.length+1});", { :title => 'Insert Illustration' } %></td>
	</tr></table>
<% else -%>
	Unknown element type:
	<%= element.exhibit_element_layout_type %><br />
<% end -%>