<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% is_first = true # TODO-PER: refactor this out. %>
<% if element.exhibit_element_layout_type == 'header' -%>
	<div id="header_<%= element.id %>">
		<%= render :partial => 'exhibits/exhibit_header', :locals => { :text => element.element_text, :id => element.id } %>
	</div>
	<script language="JavaScript">
		if(window.initializeInplaceHeaderEditor)
			initializeInplaceHeaderEditor(<%= "'header_#{element.id},full-window-content'"%>, "/my9s/edit_header,/my9s/refresh_outline");
	</script>
<% elsif element.exhibit_element_layout_type == 'text' -%>
	<%= render :partial => 'edit_exhibit_text', :locals => { :element => element, :is_first => is_first } %>
	<% is_first = false -%>
<% elsif element.exhibit_element_layout_type == 'pic_text' -%>
	<% illustration = element.exhibit_illustrations.find(:first) -%>
	<table><tr>
		<td><%= render :partial => 'edit_exhibit_illustration', :locals => { :element_id => element.id, :illustration => illustration, :part_of_row => false } %></td>
		<td width="100%"><%= render :partial => 'edit_exhibit_text', :locals => { :element => element, :is_first => is_first } %></td>
		<% is_first = false -%>
	</tr></table>
<% elsif element.exhibit_element_layout_type == 'text_pic' -%>
	<% illustration = element.exhibit_illustrations.find(:first) -%>
	<table><tr>
		<td width="100%"><%= render :partial => 'edit_exhibit_text', :locals => { :element => element, :is_first => is_first } %></td>
		<% is_first = false -%>
		<td><%= render :partial => 'edit_exhibit_illustration', :locals => { :element_id => element.id, :illustration => illustration, :part_of_row => false } %></td>
	</tr></table>
<% elsif element.exhibit_element_layout_type == 'pics' -%>
	<% illustrations = element.exhibit_illustrations -%>
	<table><tr>
		<% for illustration in illustrations -%>
		<td><%= render :partial => 'edit_exhibit_illustration', :locals => {  :element_id => element.id, :illustration => illustration, :part_of_row => true } %></td>
		<% end -%>
	</tr></table>
<% else -%>
	Unknown element type:
	<%= element.exhibit_element_layout_type %><br />
<% end -%>