<ul id="exhibit_outline" class="outline_tree">
<% for page in exhibit.exhibit_pages -%>
	<li><%= tree_node( "Page #{page.position}.", "p#{page.position}", "outline", "exhibit_outline_text", "toggle_outline", :open ) %></li>
	<ul id='outline_<%= "p#{page.position}" %>'>
	<% for section in page.exhibit_sections -%>
		<li><%= tree_node( "Section #{section.position}.", "s#{section.position}", "outline", "exhibit_outline_text", "toggle_outline", :open ) %></li>
		<ul id='outline_<%= "s#{section.position}" %>'>
		<% for element in section.exhibit_elements -%>
			<li><span class="exhibit_outline_text"><%= element.position -%>.</span>
			<% if element.exhibit_element_layout_type == 'text' -%>
				<%= element_text_thumbnail(element) %>
			<% elsif element.exhibit_element_layout_type == 'header' -%>
				<span class="exhibit_outline_header"><b><big><%= element.element_text %></big></b></span>
			<% elsif element.exhibit_element_layout_type == 'pics' -%>
				<% illustrations = element.exhibit_illustrations -%>
				<%= "[Row of pictures: none specified]" if illustrations.length == 0 %>
				<% for illustration in illustrations -%>
				<%= element_pic_thumbnail_illustration(illustration) %>
				<% end -%>
			<% elsif element.exhibit_element_layout_type == 'pic_text' -%>
				<%= element_pic_thumbnail(element) %>
				<%= element_text_thumbnail(element) %>
			<% elsif element.exhibit_element_layout_type == 'text_pic' -%>
				<%= element_text_thumbnail(element) %>
				<%= element_pic_thumbnail(element) %>
			<% else -%>
				Error: unknown type
			<% end -%>
			</li>
		<% end -%>
		</ul>
	<% end -%>
	</ul>
<% end -%>
</ul>
