<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # my_exhibits_list params: int user_id -%>
<div class="right_column_header">My Exhibits</div>
	<% my_exhibits = Exhibit.find(:all, :conditions => ['user_id = ?', user_id] ) -%>
	<% if my_exhibits.length == 0 -%>
		<div class="empty_list_text" >You have not created any exhibits</div>
	<% else -%>
		<table>
		<% for exhibit in my_exhibits -%>
			<tr>
				<td><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => false } %></td>
				<td class="exhibit_link"><%=h exhibit.title %>&nbsp;<a class="nav_link" href="/exhibits/view/<%= exhibit.id %>">[view]</a>&nbsp;<a class="nav_link" href="/my9s/edit_exhibit?id=<%= exhibit.id %>">[edit]</a></td>
			</tr>
		<% end -%>
		</table>
	<% end # if there are exhibits -%>
	<%= link_to_function "Create New Exhibit", "var dlg = new CreateNewExhibitWizard('#{PROGRESS_SPINNER_PATH}', '/my9s/get_all_collected_objects'); dlg.show();", :class => 'modify_link' %>
</div>