<%= stylesheet_link_tag "exhibits_elements", :media => "all" %>
<% current_page "My&nbsp;9s" -%>

<script language="JavaScript">
	var gIllustrationTypes = <%= ExhibitIllustration.get_illustration_type_array() %>;
	var gCollectedObjects = <%= ExhibitObject.get_collected_object_array(@exhibit.id) %>;
</script>

<div id="full_window">
	<%= render :partial => 'exhibit_outline', :locals => { :exhibit => @exhibit, :element_id_selected => -1, :is_editing_border => false } %>
</div>
<script language="JavaScript">
document.observe('dom:loaded', function() {
	if (window.initOutline)
			initOutline("full_window");
	});
</script>

<div id="search-main">
	<% if !is_logged_in? -%>
		<%= render :partial => 'my9s_instructions' %>
	<% else -%>
		<% curr_user = User.find_by_username(session[:user][:username]) -%>
		<div class="tag_minor_nav"> 
			<%= link_to "My9s", :action => 'index' %><%= link_separator() %>&nbsp;<%= link_to "My objects", :action => 'results', :view => 'all_collected' %><%= link_separator() %>&nbsp;Editing Exhibit&nbsp;<br />
		</div>
		
		<div id="overview_data" class="edit_exhibit_box">
			<h1>
				<div class="outline_right_controls">
					<%= link_to_function opened_char(), "toggle_by_id('global_form');", { :title => 'Close Form', :id => 'global_form_opened' } %>
					<%= link_to_function closed_char(), "toggle_by_id('global_form');", { :title => 'Open Form', :id => 'global_form_closed' , :style => 'display: none;' } %>
				</div>
				EDITING EXHIBIT:&nbsp;<%= @exhibit.title %></h1>
			<div id="global_form" class="inside_edit_exhibit_box">
				<table>
					<tr>
						<td><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => @exhibit } %></td>
						<td><%= render :partial => 'exhibit_globals_form', :locals => { :exhibit => @exhibit }  %></td>
						<td>
							<%= link_to 'Completely Delete Exhibit', { :action => 'delete_exhibit', :id => @exhibit.id }, :confirm => 'Warning: This will permanently remove this exhibit. Are you sure you want to continue?' %>
						</td>
					</tr>
				</table>
			</div>
		</div> <% # Editing Exhibit %>
		<% page = @exhibit.exhibit_pages[@page-1] -%>
		<% if page != nil -%>
			<% num_pages = @exhibit.exhibit_pages.length -%>
			<%= render :partial => 'exhibits/pagination', :locals => { :curr_page => @page, :num_pages => num_pages, :id => @exhibit.id, :action => 'change_page' } %>
			Editing Page: <%= page.position %>
			<%= link_to_function "[Show Outline]", "showExhibitOutline(-1);" %>
			<% preview_id = @exhibit.visible_url ? (@exhibit.visible_url.length > 0 ? @exhibit.visible_url : @exhibit.id) : @exhibit.id -%>
			<%= link_to "[Preview]", :controller => 'exhibits', :action => 'view', :id => preview_id %><br />
			<br /><br /><br />
			<div id="edit_exhibit_page">
				<%= render :partial => 'edit_exhibit_page', :locals => { :page => page } %>
			</div>
		<% else # if page is nil -%>
			<%= link_to "[insert page]", { :action => 'edit_page', :id => @exhibit.id, :page => 1, :verb => 'insert'}, { :title => 'Create first page' } %>
		<% end # if page != nil -%>
	<% end # is logged in -%>
</div>
