<%= stylesheet_link_tag "exhibits_elements", :media => "all" %>
<% current_page "My&nbsp;9s" -%>

<script language="JavaScript">
	var gIllustrationTypes = <%= ExhibitIllustration.get_illustration_type_array() %>;
	var gCollectedObjects = <%= ExhibitObject.get_collected_object_array(@exhibit.id) %>;
</script>

<div id="full_window">
	<%= render :partial => 'exhibit_outline', :locals => { :exhibit => @exhibit, :element_id_selected => -1, :is_editing_border => false } %>
</div>
<script language="JavaScript">
	if(window.initOutline)
	{
		initOutline("full_window");
		var outer_dlg = $("full_window").up(".dialog");
		outer_dlg.setStyle({ position: 'fixed' });
		//setTimeout(function() 	{ $("full_window").setStyle({ position: 'fixed' }); }, 5000);
}
</script>

<div id="search-main">
	<% if !is_logged_in? -%>
		<%= render :partial => 'my9s_instructions' %>
	<% else -%>
		<% curr_user = User.find_by_username(session[:user][:username]) -%>
		<div class="tag_minor_nav"> 
			<%= link_to "My9s", :action => 'index' %><%= link_separator() %>&nbsp;<%= link_to "My objects", :action => 'results', :view => 'all_collected' %><%= link_separator() %>&nbsp;Editing Exhibit&nbsp;<br />
		</div>
		
		<div id="overview_data" class="edit_exhibit_box">
			<h1>
				<div class="outline_right_controls">
					<%= link_to_function opened_char(), "toggle_by_id('global_form');", { :title => 'Close Form', :id => 'global_form_opened' } %>
					<%= link_to_function closed_char(), "toggle_by_id('global_form');", { :title => 'Open Form', :id => 'global_form_closed' , :style => 'display: none;' } %>
				</div>
				EDITING EXHIBIT:&nbsp;<%= @exhibit.title %></h1>
			<div id="global_form" class="inside_edit_exhibit_box">
				<table>
					<tr>
						<td><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => @exhibit } %></td>
						<td><%= render :partial => 'exhibit_globals_form', :locals => { :exhibit => @exhibit }  %></td>
						<td>
							<%= link_to 'Completely Delete Exhibit', { :action => 'delete_exhibit', :id => @exhibit.id }, :confirm => 'Warning: This will permanently remove this exhibit. Are you sure you want to continue?' %>
						</td>
					</tr>
				</table>
			</div>
		</div> <% # Editing Exhibit %>
		<% page = @exhibit.exhibit_pages[@page-1] -%>
		<% if page != nil -%>
			<% num_pages = @exhibit.exhibit_pages.length -%>
			<%= render :partial => 'exhibits/pagination', :locals => { :curr_page => @page, :num_pages => num_pages, :id => @exhibit.id, :action => 'change_page' } %>
			Editing Page: <%= page.position %>
			<% #= link_to "[insert page before]", { :action => 'edit_page', :id => @exhibit.id, :page => @page, :verb => 'insert' }, { :title => 'Insert a page before this one' }  %>
			<% #= link_to(up_char(), { :action => 'edit_page', :id => @exhibit.id, :page => @page, :verb => 'up' }, { :title => 'Move this page up' } ) if @page > 1 %>
			<% #= link_to(down_char(), { :action => 'edit_page', :id => @exhibit.id, :page => @page, :verb => 'down' }, { :title => 'Move this page down' } ) if @page < num_pages %>
			<% #= link_to del_char(), { :action => 'edit_page', :id => @exhibit.id, :page => @page, :verb => 'delete' }, { :title => 'Delete this page' }  %>
			<% #= link_to "[insert page after]", { :action => 'edit_page', :id => @exhibit.id, :page => @page+1, :verb => 'insert' }, { :title => 'Insert a page after this one' }  %>
			<%= link_to_function "[Show Outline]", "showExhibitOutline(-1);" %>
			<% preview_id = @exhibit.visible_url ? (@exhibit.visible_url.length > 0 ? @exhibit.visible_url : @exhibit.id) : @exhibit.id -%>
			<%= link_to "[Preview]", :controller => 'exhibits', :action => 'view', :id => preview_id %><br />
			<br /><br /><br />
			<div id="edit_exhibit_page">
				<%= render :partial => 'edit_exhibit_page', :locals => { :page => page } %>
			</div>
		<% else # if page is nil -%>
			<%= link_to "[insert page]", { :action => 'edit_page', :id => @exhibit.id, :page => 1, :verb => 'insert'}, { :title => 'Create first page' } %>
		<% end # if page != nil -%>
	<% end # is logged in -%>
</div>

<!--<div id="text_area_form_div" style="float: none; left: 50px; top: 50px; display: none; POSITION: absolute; BACKGROUND-COLOR: #ededed; LAYER-BACKGROUND-COLOR: #fff; width: 420px; border: 1px solid #666; PADDING: 3px; z-index: 10;">
    <span style="clear:both;float:right;"><%= link_to_function 'X', 'Effect.Fade("text_area_form_div", { duration: 0.0 })' %>&nbsp;</span>
    <form id="text_area_form" method="post" action="/my9s/edit_text" onsubmit="doPopupFormSubmit('text_area_form');">
        <input type="hidden" name="exhibit_id" id="exhibit_id" />
        <input type="hidden" name="page_num" id="page_num" />
        <input type="hidden" name="element_id" id="element_id" />
        <textarea rows="10" style="width:350px" name="text" id="text"></textarea>
        <span style="clear:both;float:right;"><%= link_to_function "ok", "doPopupFormSubmit('text_area_form');" -%>&nbsp; </span>
    </form>
</div>-->

<!-- <div id="illustration_form_div" style="float: none; left: 50px; top: 50px; display: none; POSITION: absolute; BACKGROUND-COLOR: #ededed; LAYER-BACKGROUND-COLOR: #fff; width: 420px; border: 1px solid #666; PADDING: 3px; z-index: 10;">
    <span style="clear:both;float:right;"><%= link_to_function 'X', 'Effect.Fade("illustration_form_div", { duration: 0.0 })' %>&nbsp;</span>
    <form id="illustration_form" method="post" action="/my9s/edit_illustration" onsubmit='doIllustrationFormSubmit();'>
        <input type="hidden" name="ill_element_id" id="ill_element_id" />
        <input type="hidden" name="illustration_id" id="illustration_id" />
        <label for="type">type:</label>
			<select id="type" name="type" align="top" >
			<option value="Image" >Image</option>
			<option value="Text" >Text</option>
			</select><br />
        <label for="image_url">image_url:</label><input type="text" name="image_url" id="image_url" size="40" /><br />
        <label for="link">link:</label><input type="text" name="link" id="link" size="40" /><br />
        <label for="width">width:</label><input type="text" name="width" id="width" /><br />
        <label for="caption1">caption1:</label><input type="text" name="caption1" id="caption1" size="40" /><br />
        <label for="caption2">caption2:</label><input type="text" name="caption2" id="caption2" size="40" /><br />
        <textarea rows="10" style="width:350px" name="ill_text" id="ill_text"></textarea>
        <span style="clear:both;float:right;"><%= link_to_function "ok", "doIllustrationFormSubmit();" -%>&nbsp; </span>
    </form>
</div> -->

<!-- <div id="header_form_div" style="float: none; left: 50px; top: 50px; display: none; POSITION: absolute; BACKGROUND-COLOR: #ededed; LAYER-BACKGROUND-COLOR: #fff; width: 200px; border: 1px solid #666; PADDING: 3px; z-index: 10;">
    <span style="clear:both;float:right;"><%= link_to_function 'X', 'Effect.Fade("header_form_div", { duration: 0.0 })' %>&nbsp;</span>
    <form id="header_form" method="post" action="/my9s/edit_header" onsubmit="doPopupFormSubmit('header_form');">
        <input type="hidden" name="head_exhibit_id" id="head_exhibit_id" />
        <input type="hidden" name="head_page_num" id="head_page_num" />
        <input type="hidden" name="head_element_id" id="head_element_id" />
        <label for="header">header:</label>
        <input type="text" name="header" id="header" />
        <span style="clear:both;float:right;"><%= link_to_function "ok", "doPopupFormSubmit('header_form');" -%>&nbsp; </span>
    </form>
</div>
-->
