<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% current_page "My&nbsp;9s" -%>
<div id="search-main">
	<% if !is_logged_in? -%>
		<%= render :partial => 'my9s_instructions' %>
	<% else -%>
		<% curr_user = User.find_by_username(session[:user][:username]) -%>
		<div class="tag_minor_nav"> 
			My 9s<%= link_separator() %>&nbsp;<%= link_to "My objects", :action => 'results', :view => 'all_collected' %>&nbsp;<br />
		</div>
		
		<table>
			<tr>
				<td width="80%">
					<div class="standard_box">
						<h1>PROFILE</h1>
					<%= render :partial => 'profile', :locals => { :user => curr_user, :edit_mode => false } %>
					</div>
					<br />
					<div class="standard_box">
						<h1>RECENTLY COLLECTED ITEMS</h1>
					      <%= render( :partial => 'results/results', :locals => { :user_id => curr_user.id, :hits => @results } ) %>
						<div class="tag_minor_nav"> 
							<%= link_to "See more collected objects", :action => 'results', :view => 'all_collected' %><br />
						</div>
					</div>
				</td>
				<td valign="top">
					<%= render :partial => 'search/save_search_list' %>
					<br/>
					<div class="standard_box narrow_tag_cloud">
						<center>
							<h1>MY TAGS</h1>
							<br /><br />
							<div id="tag_cloud_div" class="inside_standard_box">
						  	  <%= render :partial => '/tag/cloud', :locals => { :cloud_freq => @cloud_freq, :bucket_size => @bucket_size, :selected_tag => "", :controller_for_tags => 'my9s' } %>
							</div>
						</center>
					</div>
					<br />
					<div class="standard_box">
						<h1>MY EXHIBITS</h1>
						<% my_exhibits = Exhibit.find(:all, :conditions => ['user_id = ?', curr_user.id] ) -%>
						<% if my_exhibits.length == 0 -%>
							<div class="empty_list_text" >You have not created any exhibits</div>
						<% else -%>
							<table>
							<% for exhibit in my_exhibits -%>
								<tr>
									<td><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit } %></td>
									<td class="exhibit_link"><%= exhibit.title %>&nbsp;<a href="/exhibits/view/<%= exhibit.id %>">[view]</a>&nbsp;<a href="/my9s/edit_exhibit?id=<%= exhibit.id %>">[edit]</a></td>
								</tr>
							<% end -%>
							</table>
						<% end # if there are exhibits -%>
						<%= link_to "Create New Exhibit", :action => 'new_exhibit' %>
					</div>
				</td>
			</tr>
		</table>
	<% end -%>
</div>

