<% current_page "My&nbsp;9s" -%>
<div id="search-main">
<div class="tag_minor_nav"> 
	<%= link_to "My 9s", :action => 'index' %><%= link_separator() %>&nbsp;Manage my objects<%= link_separator() %>&nbsp;<span style="color:gray;" ><i>My Exhibits</i></span>&nbsp;<br />
</div>

<table class="results_layout"><tr>
	<tr>
<td id="tag_sidebar" class="tag_sidebar standard_box">
<%= render :partial => 'tag/sidebar', :locals => { :cloud_freq => @cloud_freq, :view => params[:view], :tag => params[:tag] } %></td>

<td class="tag_results standard_box">
<%= render( :partial => 'results/result_count' ) %>    
<h1><%= create_total(params[:view], @total_hits, params[:tag]) %></h1>
<%= render( :partial => 'results/bulkcollect' ) %>
<%= render( :partial => 'results/pagination', :locals => { :page => @page, :num_pages => @num_pages, :destination_hash => { :action => 'results'} }  ) %>

<form name="bulk_collect_form" id="bulk_collect_form" action="/results/bulk_collect" method="post">
	<input type="hidden" name="return" value="/my9s/results" />
	<%= render( :partial => 'results/results', :locals => { :page => @page, :hits => @results } ) %>
</form>

<%= render( :partial => 'results/pagination', :locals => { :page => @page, :num_pages => @num_pages, :destination_hash => { :action => 'results'} }  ) %>
<%= render( :partial => 'results/bulkcollect' ) %>
</td>
</tr></table>
</div>

<%= render :partial => 'common/ajax_forms' %>
