<h1>Listing exhibit_objects</h1>

<table>
  <tr>
    <th>Uri</th>
    <th>Exhibit</th>
  </tr>

<% for exhibit_object in @exhibit_objects %>
  <tr>
    <td><%=h exhibit_object.uri %></td>
    <td><%=h exhibit_object.exhibit_id %></td>
    <td><%= link_to 'Show', exhibit_object %></td>
    <td><%= link_to 'Edit', edit_exhibit_object_path(exhibit_object) %></td>
    <td><%= link_to 'Destroy', exhibit_object, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New exhibit_object', new_exhibit_object_path %>
