<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # attachment params: ActiveRecord comment -%>

<div class="FP_attachment">
	<% if comment.get_type() == "nines_exhibit" -%>
		<% exhibit = Exhibit.find(comment.exhibit_id) -%>
		<% img = render :partial => 'img_with_progress_spinner', :locals => { :src => exhibit.thumbnail, :alt => 'thumbnail', :klass => "FP_attachment_img", :width => 150 } -%>
		<% title = get_exhibit_link(exhibit) -%>
	<% elsif comment.get_type() == "inet_object" -%>
		<% img = render :partial => 'img_with_progress_spinner', :locals => { :src => comment.image_url, :alt => 'thumbnail', :klass => "FP_attachment_img", :width => 150 } -%>
		<% title = make_ext_link(comment.link_url) -%>
	<% elsif comment.get_type() == "nines_object" -%>
		<% hit = CachedResource.get_hit_from_resource_id(comment.cached_resource_id) -%>
		<% img = thumbnail_image_tag(hit) -%>
		<% title = "" -%>
		<% if hit["title"] -%>
			<% title = h hit["title"][0] -%>
			<% if hit["url"] %>
				<% title = link_to(title, hit["url"][0], { :class=> "nines_link", :target => "_blank" }) %>
			<% end %>
		<% end %>
	<% end -%>
	<%= img %>
	<p class="FP_attachment_title"><%= title %></p>
	<% details_id = "nines_object_#{comment.id}" -%>
	<% details_id_show = "#{details_id}_show" -%>
	<% details_id_hide = "#{details_id}_hide" -%>
	<% if comment.get_type() == "nines_object" -%>
		<p><a id='<%= details_id_show %>' href="#" class='nav_link' onclick='$("<%= details_id %>").show(); $("<%= details_id_hide %>").show(); $("<%= details_id_show %>").hide();''>[Details]</a>
			<a id='<%= details_id_hide %>' style='display:none' href="#" class='nav_link' onclick='$("<%= details_id %>").hide(); $("<%= details_id_hide %>").hide(); $("<%= details_id_show %>").show();'>[Hide Details]</a></p>
		<div id='<%= details_id %>' class='nines_object_details' style='display:none' >
			<%= render :partial => 'nines_object_details', :locals => { :hit => hit, :details_id => details_id } %>
		</div>
	<% end -%>
</div>		
