<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# attachment params: ActiveRecord comment -%>

<% if comment.get_type() == "nines_object" -%>
	<% hit = CachedResource.get_hit_from_resource_id(comment.cached_resource_id) -%>
	<% is_collected = result_is_collected(hit) %>
<% else -%>
	<% is_collected = false %>
<% end -%>
<div class="FP_attachment<%= ' FP_attachment_collected' if is_collected %>">
	<% comment_info = get_comment_header_info(comment) -%>
	<% if comment_info[:link] -%>
		<% title = link_to(comment_info[:caption], comment_info[:link], :class => 'nav_link') -%>
	<% else -%>
		<% title = comment_info[:caption] -%>
	<% end -%>
	<% if comment_info[:thumbnail] -%>
		<%= render :partial => '/forum/img_with_progress_spinner', :locals => { :src => comment_info[:thumbnail], :alt => 'thumbnail', :klass => "FP_attachment_img", :width => 100, :height => 125 } -%>
	<% end -%>
	<p class="FP_attachment_title"><%= title %></p>
	<% if comment.get_type() == "nines_object" -%>
		<p>
			<a class="nav_link" href="#" onclick="new ResultRowDlg('/forum/get_object_details', '<%= hit['uri'] %>', '<%= image_path(PROGRESS_SPINNER_PATH) %>', { partial: '/forum/attachment', index: <%= comment.id %>, target_el: '<%= "attachment_#{comment.id}" %>'}); return false;">[view details...]</a>
		</p>
	<% end -%>
</div>		
