<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # params: ActiveRecord comment, int thread_id, bool can_delete, bool is_main -%>
<% # the difference between the main comment and the others is that the main 
	# comment has a title and a background color. -%>
    <div class="<%= is_main ? "FP_original_post" : "FP_reply_container" %>">
		<%= "<div class='FP_post_header'>#{DiscussionThread.find(thread_id).get_title()}</div>" if is_main %>
		<% if comment.reported == 1 -%>
			<div class="reported_comment">
				NOTICE: This comment has been reported as objectionable by <%= User.find(comment.reporter_id).fullname %>, and is pending moderation.
			</div>
		<% end -%>
		<div class="FP_user_image">
			<% picture_src = get_user_picture(comment.user_id, :thumb) -%>
			<%= render :partial => 'img_with_progress_spinner', :locals => { :src => picture_src, :alt => 'user', :klass => 'FP_user_img' } if picture_src && picture_src.length > 0 %>
			<%= get_user_link(User.find(comment.user_id)) %>
		</div>

		<div class="FP_post_body">
			<p>Posted by <%= User.find(comment.user_id).fullname %> on Mar 09, 2009—02:01PM 
			<% if is_logged_in? -%>
				<% action = "var dlg = new DiscussionReportDlg({ comment_id: #{comment.id}, submit_url: '/forum/report_comment', parent_id: 'discussion_thread' }); dlg.show(); return false;" -%>
			<% else -%>
				<% action = "new RedirectIfLoggedIn('', 'You must be signed in to report a comment', false);" -%>
			<% end -%>
			<% if comment.reported != 1 -%>
				<a class="FC_report_link" href="#" onclick="<%= action %>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
			<% end -%>
			</p>
			<%= decode_exhibit_links(comment.comment) %>
		</div>
			<% if comment.get_type() != "comment" -%>
				<%= render :partial => 'attachment', :locals => { :comment => comment } %>
			<% end -%>
        <div class="clear_both"></div>
    </div>

