<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # comment_footer --- params: ActiveRecord comment, bool include_username, bool include_report, bool include_last_updated -%>
<div>
	<% if include_report -%>
		<% if is_logged_in? -%>
			<% action = "var dlg = new DiscussionReportDlg({ comment_id: #{comment.id}, submit_url: '/forum/report_comment', parent_id: 'discussion_thread' }); dlg.show(); return false;" -%>
		<% else -%>
			<% action = "new RedirectIfLoggedIn('', 'You must be signed in to report a comment', false);" -%>
		<% end -%>
		<%= rounded_button("report", "report_id_#{comment.id}", action, 'gray') %>
	<% end -%>
	<% if include_last_updated -%>
		Original Post by
	<% else -%>
		Posted by
	<% end -%>
	<%= "#{get_user_link(User.find(comment.user_id))} " if include_username %>on <%= comment_time_format(comment.updated_at) %>
	<% if include_last_updated -%>
		<% thread = DiscussionThread.find(comment.discussion_thread_id) -%>
		<% last_comment = thread.discussion_comments[thread.discussion_comments.length-1] -%>
		|
		<%= "<span class='discussion_topic_recent_update'>" if is_new_post(last_comment.updated_at) -%>
		Last updated by <%= get_user_link(User.find(last_comment.user_id)) %> on <%= comment_time_format(last_comment.updated_at) %>
		<%= "</span>" if is_new_post(last_comment.updated_at) -%>
	<% end -%>
	<br /><br />
</div>
