<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # nines_object_details params: hash hit, string details_id -%>

<%= forum_result_row_item(:separate_lines, hit, 'source', 'Source') %>
<%= forum_result_row_item(:multiple_item, hit, 'role_AUT', 'By') %>
<%= forum_result_row_item(:multiple_item, hit, 'role_ART', 'Artist') %>
<% ################### -%>
<!--
< % tags = CollectedItem.get_tags_for_uri(hit['uri']) -%>
< %  if is_collected -%>
	< %= forum_result_row_item_format("Collected&nbsp;on", h(item.updated_at.strftime("%b %d, %Y"))) %>
< % end -%>
< % ################### -%>
<td valign="top" class="search_result_data_label">Tags:</td>
<td>
	< % my_tags = [] -%>
	< % if is_collected -%>
		< % my_tags = item.tags -%>
	< % end #if the item is collected by the user. -%>
   	< % tags.each {|tag| -%>
		< % is_mine = is_in_tag_array(my_tags, tag) -%>
		< %= " | " if tag != tags[0] %>
		< % if is_mine -%>
			< %= link_to h(tag), { :controller => 'tag', :action => 'results', :tag => tag, :view => 'tag' }, { :class => 'tag_link my_tag', :title => "view all objects tagged \"#{tag}\"" } %>
        	< %= link_to_function "X", "doRemoveTag('#{hit['uri']}', '#{row_id}', '#{create_javascript_friendly_tag_name(tag)}');", :class => 'modify_link my_tag remove_tag', :title => "delete tag \"#{tag}\"" %>
		< % else -%>
			< %= link_to h(tag), { :controller => 'tag', :action => 'results', :tag => tag, :view => 'tag' }, { :class => 'tag_link', :title => "view all objects tagged \"#{tag}\"" } %>
		< % end #if this tag was created by the current user -%>
	< % } #the tag loop -%>
	< % if !no_links -%>
		< % if session[:user] == nil -%>
			<span class="tags_instructions"><%= "[#{sign_in_link({:class => 'nav_link'})} to add tags]" %></span>
		< % else -%>
			< %= link_to_function "[add&nbsp;tag]", "doAddTag('add_tag_#{index}', '#{hit['uri']}', #{index}, '#{row_id}', event);",  :id => "add_tag_#{index}", :class => 'modify_link' if is_collected %>
			< %= "<span class='tags_instructions'>Collect this item to add tags</span>" if !is_collected %>
		< % end #if the user is logged in. -%>
	< % end #if !no_links -%>
</td>
-->
<% ################### -%>
<% if hit['archive'] %>
<% site = site(hit['archive']) ? link_to(site(hit['archive'])['description'], site(hit['archive'])['url'], { :class => 'nines_link', :target => '_blank' } ) : hit['archive'] -%>
	<%= forum_result_row_item_format("Site", site) %>
<% end %>
<% ################### -%>
<%= forum_result_row_item(:multiple_item, hit, 'genre', 'Genre') %>
<%= forum_result_row_item(:single_item, hit, 'exhibit_type', 'Exhibit&nbsp;type') %>
<%= forum_result_row_item(:single_item, hit, 'license', 'License') %>
<%= forum_result_row_item(:multiple_item, hit, 'role_EDT', 'Editor') %>
<%= forum_result_row_item(:multiple_item, hit, 'role_PBL', 'Publisher') %>
<%= forum_result_row_item(:multiple_item, hit, 'role_TRL', 'Translator') %>
<%= forum_result_row_item(:multiple_item, hit, 'date_label', 'Date') %>
<% ################### -%>