<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<% current_page "Forum" -%>
<% user_id = session[:user] ? User.find_by_username(session[:user][:username]).id : nil -%>
<% thread_id = @thread.id -%>
<% topic = DiscussionTopic.find(@thread.discussion_topic_id) -%>

<script language="JavaScript">
	var gIllustrationTypes = <%= ExhibitIllustration.get_illustration_type_array_with_exhibit() %>;
	var gCollectedObjects = <%= user_id ? CollectedItem.get_collected_object_array(user_id) : "[]" %>;
	var gExhibitNames = [ <%= Exhibit.js_array_of_all_public_exhibits() %> ];
</script>

<div class="page_subheader">Follow and join in this discussion by using your free NINES account.</div>
<a href='/forum/rss/<%=thread_id%>.xml'><img src='/images/RSS_icon.gif' height='16px' alt='RSS'/></a>&nbsp;Follow this discussion on RSS
<div class="FP_breadcrumb">
	<%= link_to "Nines Forum", { :action => 'index' }, :class => 'nav_link' %> > <%= link_to topic.topic, { :action => 'view_topic', :topic => topic.id }, :class => 'nav_link' %> > <%= DiscussionThread.find(thread_id).title %>
</div>
<% main_comment = @thread.discussion_comments[0] -%>
<%= render :partial => 'comment', :locals => { :comment=> main_comment, :thread_id => @thread.id, :can_delete => false, :is_main => true } %>

<div class="FP_replies">
	<div class="FP_reply_number">Replies to this topic (<%= @total %>)</div>
	<div class="clear_both"></div>
	
	<% if @replies.length > 0 -%>
		<div class="FP_reply_header">
			<div class="FP_replies_per_page"><%= render( :partial => 'results/result_count' ) %></div>
			<div class="FP_reply_pages">
				<%= render( :partial => 'results/pagination', :locals => { :page => @page, :num_pages => @num_pages, :destination_hash => { :controller => 'forum', :action => 'view_thread' } } ) %>
			</div>
			<div class="clear_both"></div>
		</div>
	<% end -%>
	
	<% @replies.each {|reply| -%>
		<%= render :partial => 'comment', :locals => { :comment=> reply, :thread_id => @thread.id, :can_delete => is_logged_in? && (is_admin? || (reply.user_id == user_id)), :is_main => false  } %>
	<% } -%>
	
	<% if @replies.length > 0 -%>
		<div class="FP_reply_footer">
			<div class="FP_replies_per_page"><%= render( :partial => 'results/result_count' ) %></div>
			<div class="FP_reply_pages">
				<%= render( :partial => 'results/pagination', :locals => { :page => @page, :num_pages => @num_pages, :destination_hash => { :controller => 'forum', :action => 'view_thread' } } ) %>
			</div>
			<div class="clear_both"></div>
		</div>
	<% end -%>
	
	<div id="discussion_thread" class="discussion_action_bar">
		<% if is_logged_in? -%>
			<%= link_to_function("[post comment]", 	"var dlg = new NewDiscussionCommentDlg({ thread_id: #{thread_id}, submit_url: '/forum/post_comment_to_existing_thread', parent_id: 'discussion_thread' }); dlg.show(); return false;", :class => 'modify_link') %>
			<%= link_to_function("[post object]", "var dlg = new NewThreadObjectDlg({thread_id: #{thread_id}, obj_list: gCollectedObjects, exhibit_list: gExhibitNames, type_list: gIllustrationTypes, submit_url: '/forum/post_object_to_existing_thread', parent_id: 'discussion_thread' }); dlg.show(); return false;", :class => 'modify_link') %>
		<% end -%>
	</div>
</div>
