<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<% current_page Setup.community_tab() -%>
<% topic = @topic -%>
<% last_updated_date = topic.get_last_updated_date -%>
<%= create_breadcrumbs([{ :text => Setup.community_tab(), :url => '/communities' }, { :text => "#{Setup.site_name()}  Forum", :url => '/forum' }], topic.topic) %>

<div class="content_container2">
<div class="page_header"><%= topic.topic %></div>
<div class="page_subheader">We've set aside this portion of <%= Setup.site_name() %> for commentary, discussion and collaboration among the <%= Setup.site_name() %> community.
	Log in to your free account to join in the conversations below and to discuss the objects of your research at <%= Setup.site_name() %>.</div>

<table class="FH_cat_table" border="0" cellpadding="0" cellspacing="0">
	<tr><td colspan="9" class="FH_cat_info">
		<p><%= topic.description %></p>
		<p><%= pluralize(@total, 'discussion') %><%= "• Last updated #{comment_time_format(last_updated_date)}" if @threads.length > 0 %></p>
		<% new_post_id = "new_post_#{topic.id}" -%>
		<%= link_to("New Post", "#", :onclick => 'return false;', :id => new_post_id, :class => 'modify_link') %>
		<script type="text/javascript">
			document.observe('dom:loaded', function() {
			    var onButtonClick = function (e) {
					new ForumReplyDlg({ topic_id: <%= topic.id %>,
						submit_url: '/forum/post_comment_to_new_thread',
						populate_exhibit_url: '/forum/get_exhibit_list',
						populate_collex_obj_url: '/forum/get_nines_obj_list',
						progress_img: '<%=image_path(PROGRESS_SPINNER_PATH) %>',
						logged_in: <%= user_signed_in? %>,
						redirect: '/forum/view_topic?topic=<%= topic.id %>&page=1'
					});
					return false;
			    };
			    new YAHOO.widget.Button("<%= new_post_id %>", { onclick: { fn: onButtonClick } });
				YAHOO.util.Event.onAvailable('<%= new_post_id %>-button', function() {
					$('<%= new_post_id %>-button').writeAttribute('onclick', 'return false;');	// This keeps the '#' out of the address bar
				}, this);
			<% if @script == 'ForumReplyDlg' %>
				onButtonClick();
			<% end %>
			});
		</script>
		</td>
	</tr>
	<tr>
		<td class="FC_pages" colspan="9">
		</td>
	</tr>
	<tr>
		<td class="FC_header">Discussion thread</td>
		<td class="FC_spacer"></td>
		<td class="FC_header">Last comment by</td>
		<td class="FC_spacer"></td>
		<td class="FC_header"># of Replies</td>
		<td class="FC_spacer"></td>
		<td class="FC_header"># of Views</td>
		<td class="FC_spacer"></td>
		<td class="FC_header">Object</td>
	</tr>

	<% for thread in @threads -%>
	<tr>
		<% if thread.discussion_comments.length < 1 -%>
			<td class="FH_post">ERROR: ill-formed thread. (Main comment is missing in thread <%= thread.id %>)</td>
		<% else -%>
			<% comment_info = get_comment_header_info(thread.discussion_comments[0]) -%>
			<td class="FC_post_title">
				<p><%= link_to forum_title_with_tooltip(comment_info[:title], thread.discussion_comments[0].comment), "/forum/view_thread?thread=#{thread.id}", :class => 'FH_post_title nav_link tooltip' %><br />
				<%= raw("<span class='group_comment'>#{comment_info[:group_comment]}</span><br />") if comment_info[:group_comment].length > 0 -%>
				By <%= get_user_link(comment_info[:author]) %><br />
				<% num_pages = (thread.discussion_comments.length-1).quo(session[:items_per_page]).ceil -%>
				<% if num_pages > 1 -%>
					(
					<% 1.upto(num_pages) do |i| -%>
						<%= "," if i != 1 -%>
						<%= link_to "#{i}", "/forum/view_thread?thread=#{thread.id}&page=#{i}", :class => 'nav_link' %>
					<% end -%>
					)
				<% end -%>
				</p>
			</td>
			<td class="FC_spacer"></td>
			<td class="FC_last_comment"><%= get_user_link(comment_info[:last_comment_author]) %><br />
			<%= comment_time_format(comment_info[:last_comment_time]) %></td>
			<td class="FC_spacer"></td>
			<td class="FC_replies"><%= thread.discussion_comments.length-1 %></td>
			<td class="FC_spacer"></td>
			<td class="FC_views"><%= thread.number_of_views ? thread.number_of_views : 0 %></td>
			<td class="FC_spacer"></td>
			<td class="FC_object"><%= render :partial => 'img_with_progress_spinner', :locals => { :src => comment_info[:thumbnail], :alt => 'thumbnail', :klass => "FC_post_image", :width => 100, :height => 125 } if comment_info[:thumbnail] != nil %></td>
		<% end # if legal comment -%>
	</tr>
	<% end # for each thread -%>
	<tr>
		<td class="FC_pages_bottom" colspan="9">
		</td>
	</tr>
</table>
</div>