<%#
# ------------------------------------------------------------------------
#     Copyright 2009 Applied Research in Patacriticism and the University of Virginia
# 
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
# 
#         http://www.apache.org/licenses/LICENSE-2.0
# 
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<%# classroom_facet_tree params: institutions, people, course_title, course_number } %>
<div class="right_column_header">Limit Results to...</div>
<p>Browse classroom content in <%= Setup.site_name() %> using the categories below.</p>
<table class="limit_to">
	<tr>
		<th>Category</th>
		<th class="num_objects"># of Objects</th>
	</tr>
	<%= create_facet_tree(institutions, 'univ', '/classroom/facet_on_group?id=', 'facet_redraw') %>
	<%= create_facet_tree(people, 'fac', '/classroom/facet_on_group?id=', 'facet_redraw') %>
	<%= create_facet_tree(course_title, 'clstitle', '/classroom/facet_on_group?id=', 'facet_redraw') %>
	<%= create_facet_tree(course_number, 'clsnumber', '/classroom/facet_on_group?id=', 'facet_redraw') %>
</table>
