<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# exhibit_list params: int ty -%>
<% exhibit_list = Exhibit.all(:conditions => [ "category = ? AND is_published = 1", Group.types()[ty]]) -%>
<%# < % groups = Group.find_all_by_group_type(Group.types()[ty]) -% >
<div class="exhibit_category"><%=Group.friendly_types()[ty] % ><div class='exhibit_list_title_explanation'><%= Group.type_explanation(ty) % ></div></div>
< % if is_logged_in? -% >
< % if BLEEDING_EDGE == true % >
< %= link_to_function("Create Group", "new CreateGroupWizardDlg('# {get_curr_user().id}', '/groups/verify_group_title', '/groups/create', '/groups/', # {Group.types_to_json(false)}, # {Group.permissions_to_json()}, '# {Group.types()[ty]}'); return false;", :class => 'nav_link' ) if ty != 2 % >
< % end -% >
< % end -% >
-%>
<table>
<%# if BLEEDING_EDGE == true % >
	< % for group in groups -% >
	<tr>
		<td>< %= render :partial => 'common/thumbnail', :locals => { :element_id => "group_# {group.id}", :url => get_image_url(get_url_for_internal_image(group.image, :thumb)), :show_immediately => false } % ></td>
		<td class="exhibit_link"><%= link_to group.name, { :controller => 'groups', :action => 'show', :id => group.id }, :class => 'nav_link' % ><br />
			< %= pluralize(Exhibit.find_all_by_group_id_and_is_published(group.id, 1).length, "Exhibit")  % >&nbsp;<%= pluralize(DiscussionThread.find_all_by_group_id(group.id).length, "Discussion") % >
		</td>
	</tr>
	< % end -% >
	< % if exhibit_list.length > 0 -% >
	<tr><td colspan="2"><hr /></td></tr>
	< % end -% >
< % end -% >
-%>
<% for exhibit in exhibit_list -%>
	<tr>
		<td><%= render :partial => 'exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => false } %></td>
		<td class="exhibit_link"><%= get_exhibit_link(exhibit) %>&nbsp;by
			<%= get_exhibit_user_link(exhibit) %>
			<% if Exhibit.can_edit(get_curr_user(), exhibit.id) -%>
				| <%= link_to("[Edit this exhibit]", { :controller => 'my_collex', :action => 'edit_exhibit', :id => exhibit.id }, :class => 'nav_link' ) %>
			<% end -%>
			<% if exhibit.group_id %>
				<br />in <%= link_to Group.find(exhibit.group_id).name, { :controller => 'groups', :action => 'show', :id => exhibit.group_id }, :class => 'nav_link' %>
			<% end -%>
		</td>
	</tr>
<% end -%>
</table>
