<% edit_mode ||= false -%>

<% # Set up all variables in advance to make the html code cleaner -%>
<% illustration_id = illustration.id -%>
<% url = illustration.image_url -%>
<% link = illustration.link -%>
<% if illustration.illustration_type == ExhibitIllustration.get_illustration_type_nines_obj()
	url = CachedResource.get_image_from_uri(illustration.nines_object_uri)
	link = CachedResource.get_link_from_uri(illustration.nines_object_uri)
	link = "" if link == nil
end -%>
<% url = get_image_url(url) -%>
<% width = illustration.image_width -%>
<% illustration_position = illustration.position -%>
<% illustration_type = illustration.illustration_type -%>

<% if edit_mode -%>
	<% wrapper_type = 'edit' -%>
	<% ajax_action = "'/my9s/edit_row_of_illustrations,/my9s/refresh_outline'" -%>
	<% ajax_div_id = "'element_#{element_id},full-window-content'" -%>
	<% ajax_params = "'element_id=#{element_id}&position=#{illustration_position}&verb='" -%>
<% else -%>
	<% element_id = -1 -%>
	<% if link == "" -%>
		<% wrapper_type = 'none' -%>
	<% else -%>
		<% wrapper_type = 'link' -%>
	<% end -%>
<% end -%>

<center>
<div class="exhibit_illustration">
	<% # The wrapper is either nothing, if this is live and there was no link specified, or the link if specified, or a table if we are in edit mode. -%>
	<% if wrapper_type == 'link' -%>
		<a target="_blank" href="<%= link %>">
	<% elsif wrapper_type == 'edit' -%>
		<% # We are creating a table with one row and 3 cols: the two outer cols are for the move left and move right controls. -%>
			<table><tr>
			<% if part_of_row && illustration_position > 1 -%>
				<td class="edit_illustration_column"><a title="Move Illustration Left" onclick="doAjaxLink(<%= ajax_div_id %>, <%= ajax_action %>, <%= ajax_params %> + 'left'); return false;" href="#"  class="edit_exhibit_widget"><img src="../images/left-image-arrow.gif" alt="" /></a></td>
			<% end -%>
			
			<td class="edit_illustration_column"><div class="illustration_control_border">
				<% if part_of_row == true -%>
					<div class="outline_right_controls_no_space">
						<span class="close_link"><%= link_to_function del_char(), "doAjaxLink(#{ajax_div_id}, #{ajax_action}, #{ajax_params}+'delete');", { :title => 'Remove Illustration' } %></span>
					</div>
				<% end -%>
				<!--<a title="Edit illustration options"  widenableelement="illustration_img_< %= illustration_id %>" class="widenable" < % #= "onclick='change_illustration2(#{element_id}, #{illustration_id}, #{illustration_div}); return false;'" %> href='#'>-->
	<% end -%>
	
	<div id='illustration_inner_<%= illustration_id %>'>
		<% #Put all the data on the page in hidden divs so that the javascript for the dialog can pick it up %>
		<% if edit_mode -%>
			<div class="saved_data ill_illustration_type" style="display:none;"><%= illustration.illustration_type %></div>
			<div class="saved_data ill_image_url" style="display:none;"><%= illustration.image_url %></div>
			<div class="saved_data ill_link" style="display:none;"><%= illustration.link %></div>
			<div class="saved_data ill_image_width" style="display:none;"><%= illustration.image_width %></div>
			<div class="saved_data ill_illustration_text" style="display:none;"><%= illustration.illustration_text %></div>
			<div class="saved_data ill_illustration_alt_text" style="display:none;"><%= illustration.alt_text %></div>
			<div class="saved_data ill_illustration_caption1" style="display:none;"><%= illustration.caption1 %></div>
			<div class="saved_data ill_illustration_caption2" style="display:none;"><%= illustration.caption2 %></div>
			<div class="saved_data ill_nines_object_uri" style="display:none;"><%= illustration.nines_object_uri %></div>
		<% end -%>
	
		<% # Create the actual content -%>	
		<% if illustration_type == ExhibitIllustration.get_illustration_type_image() -%>
			<img class="exhibit_illustration_img widenable" id='illustration_img_<%= illustration_id %>' src="<%= url %>" width="<%= width %>px" alt="<%= illustration.alt_text %>"/>
		<% elsif illustration_type == ExhibitIllustration.get_illustration_type_text() -%>
			<div class="exhibit_illustration_text widenable" id='illustration_img_<%= illustration_id %>' style='width:<%= width %>px;'><%= illustration.illustration_text %></div>
		<% else # nines object -%>
			<img class="exhibit_illustration_img widenable" id='illustration_img_<%= illustration_id %>' src="<%= url %>" width="<%= width %>px" alt="<%= illustration.alt_text %>"/>
		<% end -%>
	</div>

	<% # Close the wrapper created above -%>
	<% if wrapper_type == 'link' -%>
		</a>
	<% elsif wrapper_type == 'edit' -%>
		<% # </a>	 The link to the edit dialog -%>
		</div> <% # The illustration control border -%>
		</td>	<% # The middle column containing the content and the image control stuff -%>
		
		<% if part_of_row && illustration_position < ExhibitElement.find(element_id).exhibit_illustrations.length %>
			<td class="edit_illustration_column"><a title="Move Illustration Right" onclick="doAjaxLink(<%= ajax_div_id %>, <%= ajax_action %>, <%= ajax_params %> + 'right'); return false;" href="#" class="edit_exhibit_widget" ><img src="../images/right-image-arrow.gif" alt="" /></a></td>
		<% end -%>
		</tr></table>
	<% end -%>

	<% # draw the caption(s) -%>
	<% if illustration != nil -%>
		<% if illustration.caption1 && illustration.caption1.length > 0 -%>
			<div class="exhibit_caption1"><%= illustration.caption1 %>
			<% if illustration.caption2 && illustration.caption2.length > 0 -%>
				<div class="exhibit_caption2"><%= illustration.caption2 %></div>
			<% end -%>
			</div>
		<% else -%>
			<% if illustration.caption2 && illustration.caption2.length > 0 -%>
				<div class="exhibit_caption2"><%= illustration.caption2 %></div>
			<% end -%>
		<% end -%>
	<% end -%>
</div>
</center>
