<center>
<div class="exhibit_illustration">
	<% if illustration == nil -%>
		<img id='illustration_img_<%= illustration.id %>' src="../images/lg-harrington.gif" width="100px" alt="" />
	<% else -%>
		<% if illustration.link.length > 0 -%>
			<a href="<%= illustration.link %>">
		<% end -%>
		<img id='illustration_img_<%= illustration.id %>' src="<%= illustration.image_url %>" width="<%= illustration.image_width %>px" alt="" />
		<% if illustration.link.length > 0 -%>
			</a>
		<% end -%>
		<% if illustration.caption1.length > 0 -%>
			<div class="exhibit_caption1"><%= illustration.caption1 %>
			<% if illustration.caption2.length > 0 -%>
				<div class="exhibit_caption2"><%= illustration.caption2 %></div>
			<% end -%>
			</div>
		<% else -%>
			<% if illustration.caption2.length > 0 -%>
				<div class="exhibit_caption2"><%= illustration.caption2 %></div>
			<% end -%>
		<% end -%>
	<% end # illustration == nil -%>
</div>
</center>