<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "View Exhibit" -%>
<style type="text/css">
	.message_box_label {
		font-family: <%= @exhibit.get_font_name('footnote') %>;
		font-size: <%= @exhibit.get_font_size('footnote') %>px;
	}
</style>

<div class="exhibit_sharing_notice">
	<%= @exhibit.get_sharing_icon_with_link() %>
</div>
<div class="inner_content_container">
	<div class="subpage_nav">
		<% if !@exhibit.is_peer_reviewed() -%>
		<span class="not_peer_reviewed">This exhibit has not been peer reviewed.</span>&nbsp;
		<% end -%>
		<a href="/exhibit_list" class="nav_link" >[Return to Exhibit List]</a>&nbsp;<a href="/print_exhibit/<%=@exhibit.id%>" class="nav_link" >[Printer-friendly Page]</a>&nbsp;
		<%= link_to("[Edit this exhibit]", { :controller => MY_COLLEX_URL, :action => 'edit_exhibit', :id => @exhibit.id, :page => @page }, :class => 'nav_link', :target => '_parent' ) if Exhibit.can_edit(get_curr_user(), @exhibit.id)  %>
	</div>
	<div id="exhibit_page clear_both">
		<%= render :partial => 'exhibit_page', :locals => { :exhibit => @exhibit, :page_num => @page, :is_edit_mode => false, :top => nil, :badge_pos => 'left' } %>
	</div>
</div>
<div class="exhibit_footer">
	<%= @exhibit.get_sharing_widget() %>
</div>
