<% current_page "Tags" -%>
<div id="search-main">

<% if is_logged_in? && !params[:all_tags] -%>
<div class="tag_sidebar">
	<h1>MY TAGS</h1>
 	  <%= tag_list(@cloud_freq, params[:all_tags], params[:tag]) %>
	  <br />
	<h1>MY COLLECTION</h1>
	<% if params[:view] == 'untagged' -%>
	<div class="sidebar_tag_link_selected">Untagged</div>
	<% else -%>
	<div class="sidebar_tag_link"><%= link_to "Untagged", { :action => 'results', :view => 'untagged' } %></div>
	<% end -%>
	
	<% if params[:view] == 'all_collected' -%>
	<div class="sidebar_tag_link_selected">All Collected</div>
	<% else -%>
	<div class="sidebar_tag_link"><%= link_to "All Collected", { :action => 'results', :all_tags => false, :view => 'all_collected' } %></div>
	<% end -%>
	<br />
</div>
<% end -%>

<div class="<%= 'tag_results' if is_logged_in? %>">
<div class="tag_minor_nav"><%= link_to "Go back to the tag cloud", :action => 'list', :all_tags => params[:all_tags] %></div><br /><br />
<%= render( :partial => 'results/result_count' ) %>    
<h1><%= create_total(params[:view], @total_hits, params[:tag]) %></h1>
<%= render( :partial => 'results/bulkcollect' ) %>
<%= render( :partial => 'results/pagination', :locals => { :page => @page, :num_pages => @num_pages, :destination_hash => { :action => 'results', :all_tags => params[:all_tags], :tag => params[:tag], :view => params[:view] } }  ) %>

<form name="bulk_collect_form" id="bulk_collect_form" method="post">
	<%= render( :partial => 'results/results', :locals => { :page => @page, :hits => @results } ) %>
</form>

<%= render( :partial => 'results/pagination', :locals => { :page => @page, :num_pages => @num_pages, :destination_hash => { :action => 'results', :all_tags => params[:all_tags], :tag => params[:tag], :view => params[:view]  } }  ) %>
<%= render( :partial => 'results/bulkcollect' ) %>
</div>
</div>
