<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# group_exhibits_list : parameters: ActiveRecord group, ActiveRecord cluster, int user_id -%>
<%# if cluster is nil, then this is the group page, otherwise it is the cluster page -%>
<% cluster ||= nil -%>
<% if cluster == nil -%>
<script type="text/javascript">
<%
	curr_cluster_sort = session[:sort_cluster] ? session[:sort_cluster] : 'name'
	if group.show_exhibits != 'show_exhibits_only'
		clusters = Cluster.find_all_by_group_id(group.id)
		if curr_cluster_sort == 'name'
			clusters = clusters.sort { |a,b| a.name <=> b.name }
		else
			clusters = clusters.sort { |a,b| a.created_at <=> b.created_at }
		end
		cluster_options = []
		for clus in clusters
			cluster_options.push({ :text => clus.name, :value => clus.id })
		end
	else
		clusters = []
	end
-%>
	gClusterOptions = <%= cluster_options.to_json()  %>;
</script>
<% end -%>
<div class="group_header">Exhibits</div>
<% if group.can_edit(user_id) -%>
<div class="set_exhibit_style">
<% if cluster == nil -%>
	<span class="group_member_explanation">As an administrator for this group, you have the option to create a custom style for all exhibits associated with your group. </span>
	<%= link_to_function("Click here to set a new style.", "new EditFontsDlg('/groups/update', #{group.id}, gGroupData, 'group', true, 'group_details')", { :class => 'modify_link' }) %>
	<ul>
<% if group.can_create_exhibit(user_id) -%>
		<li><%= link_to_function "Create an Exhibit", "var dlg = new CreateNewExhibitWizard({ group_id: #{group.id}, #{cluster != nil ? 'cluster_id: ' + cluster.id.to_s + ', ' : ''}progress_img: '#{PROGRESS_SPINNER_PATH}', url_get_objects: '/my_collex/get_all_collected_objects', populate_collex_obj_url: '/forum/get_nines_obj_list_with_image'}); dlg.show();", :class => 'modify_link' %></li>
<% end -%>
		<li><%= link_to_function("Create a Cluster of Exhibits", "new CreateNewClusterDlg('/clusters/create', #{group.id}, '#{group.name}', #{group.group_type != 'classroom'}, 'group_exhibits_list', 'group_exhibits', '/forum/get_nines_obj_list', '#{PROGRESS_SPINNER_PATH}')", { :class => 'modify_link' }) %>&nbsp;
			<%= link_to_function("( what is this? )", "$('cluster_explanation').removeClassName('hidden'); $('cluster_what_is_this').addClassName('hidden');", { :class => 'modify_link what_is_this', :id => 'cluster_what_is_this' }) %>
			<span id="cluster_explanation" class="group_member_explanation hidden" >Clusters are a way to manage multiple exhibits on similar topics. For example, the administrators of a Byron group might want to create clusters for Poetry and Prose, or those using their accounts for teaching purposes might want to create separate clusters for each class.
				<%= link_to_function("[hide this]", "$('cluster_explanation').addClassName('hidden'); $('cluster_what_is_this').removeClassName('hidden');", { :class => 'modify_link' }) %>
			</span>
		</li>
		<li><%= link_to_function("Change which exhibits are shown", "changeWhichExhibitsAreShown(#{group.id}, gGroupData.show_exhibits, #{Group.show_exhibits_to_json()}, #{Group.show_exhibits_explanations_to_json()});", { :class => 'modify_link' }) %></li>
	</ul>
<% else -%>
	<%= link_to_function("[move exhibit to cluster]", "moveExhibitToCluster('/clusters/move_exhibit', #{cluster.id}, gNonClusteredExhibits, 'cluster_details')", { :class => 'modify_link' }) %>
<% end -%>
</div>
<br />
<% end -%>
	<div>
<% if cluster == nil -%>
<% if clusters.length > 0 %>
		<div><span class="group_details_label">Clusters: (<%= clusters.length %>)</span> | sort by:
			<%= make_select_control("cluster_sort", [ { :name => 'Date', :value => 'created_at'}, { :name => 'Title', :value => 'name'}], curr_cluster_sort, "recurseUpdateWithAjax([ '/groups/sort_cluster' ], [ 'group_exhibits' ], null, null, { id: #{group.id}, sort: sel })") %>
		</div>
<% end -%>
<% for clus in clusters -%>
	<div class="thumbnail_item">
		<div class="left_thumbnail"><%= render :partial => 'common/thumbnail', :locals => { :element_id => "cluster_#{clus.id}", :url => get_cluster_image_url(group, clus), :show_immediately => true } %></div>
		<div class="right_of_thumbnail exhibit_link"><%= link_to clus.name, { :controller => 'clusters', :action => 'show', :id => clus.id }, :class => 'nav_link' %><br />
			<%= pluralize(Exhibit.find_all_by_cluster_id(clus.id).length, "Exhibit")  %>&nbsp;<%= pluralize(DiscussionThread.find_all_by_cluster_id(clus.id).length, "Discussion") %>
		</div>
	</div>
<% end # for clus in clusters -%>
<% end # if cluster == nil -%>
<% if group.show_exhibits != 'show_clusters_only' -%>
<% if group.can_view_exhibits(user_id) -%>
<% curr_exhibit_sort = session[:sort_exhibit] ? session[:sort_exhibit] : 'title' -%>
<% exhibits = Exhibit.get_exhibits_in_group(group, cluster, user_id, curr_exhibit_sort) -%>

<% if exhibits.length > 0 -%>
	<div class="group_details_label">Exhibits: (<%= exhibits.length %>) | sort by:
		<%= make_select_control("exhibit_sort", [ { :name => 'Date', :value => 'last_change'}, { :name => 'Title', :value => 'title'}, { :name => 'Author', :value => 'author'}], curr_exhibit_sort, "recurseUpdateWithAjax([ '/groups/sort_exhibits' ], [ 'group_exhibits' ], null, null, { id: #{group.id}, cluster_id: #{cluster ? cluster.id : 'null' }, sort: sel })") %>
	</div>
<% end -%>
<% author_options_label = group.can_edit(user_id) ? 'Author options:' : '' -%>
<% for exhibit in exhibits -%>
	<div class="thumbnail_item<%= ' group_only' if exhibit.group_only %>">
<% if exhibit.group_only -%>
		<div class="group_only_text">Exhibit Shared to Group Only</div>
<% end -%>
		<div class="left_thumbnail"><%= render :partial => '/exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => true } %></div>
		<div class="right_of_thumbnail exhibit_link"><%= get_exhibit_link(exhibit) %>&nbsp;by
			<%= get_exhibit_user_link(exhibit) %>
			<% if Exhibit.can_edit(get_curr_user(), exhibit.id) -%>
				<br /><%= author_options_label %> <%= link_to("[edit this exhibit]", { :controller => 'my_collex', :action => 'edit_exhibit', :id => exhibit.id }, :class => 'nav_link' ) %>
			<% end -%>
<% if group.can_edit(user_id) -%>
				<br />Group Editor options:
			<%= link_to_function("[remove from cluster]", "removeFromCluster(#{group.id}, #{cluster.id}, #{exhibit.id});", { :class => 'nav_link' }) if cluster != nil %>
			<%= link_to_function("[unpublish]", "unpublishExhibit(#{exhibit.id});", { :class => 'nav_link' }) %>
			<%= link_to_function("[limit to group only]", "limitExhibit(#{exhibit.id}, 'group');", { :class => 'nav_link' }) if exhibit.editor_limit_visibility != 'group' && exhibit.is_published != 3 -%>
			<%= link_to_function("[allow publishing]", "unlimitExhibit(#{exhibit.id}, 'www');", { :class => 'nav_link' }) if exhibit.editor_limit_visibility == 'group' -%>
<% end -%>
		</div>
	</div>
<% end # for exhibit in exhibits -%>
<% end # if group.show_exhibits != 'show_clusters_only' -%>

<% pending_exhibits = Exhibit.get_pending_exhibits_in_group(group, cluster, user_id) -%>
<% if pending_exhibits.length > 0 -%>
	<div class="group_details_label">Pending Exhibits:</div>
<% for exhibit in pending_exhibits -%>
	<div class="thumbnail_item">
		<div class="left_thumbnail"><%= render :partial => '/exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => true } %></div>
		<div class="right_of_thumbnail exhibit_link"><%= get_exhibit_link(exhibit) %>&nbsp;by
			<%= get_exhibit_user_link(exhibit) %>
			<% if Exhibit.can_edit(get_curr_user(), exhibit.id) -%>
				| <%= link_to("[Edit this exhibit]", { :controller => 'my_collex', :action => 'edit_exhibit', :id => exhibit.id }, :class => 'nav_link' ) %>
			<% end -%>
			<%= link_to_function("[remove from cluster]", "removeFromCluster(#{group.id}, #{cluster.id}, #{exhibit.id});", { :class => 'nav_link' }) if group.can_edit(user_id) && cluster != nil %>
			<%= link_to_function("[accept]", "acceptAsPeerReviewed(#{exhibit.id}, gClusterOptions);", { :class => 'nav_link' }) if group.can_edit(user_id) %>
			<%= link_to_function("[revisions needed]", "rejectAsPeerReviewed(#{exhibit.id}, '#{exhibit.get_apparent_author_name()}', '#{exhibit.get_apparent_author_email()}');", { :class => 'nav_link' }) if group.can_edit(user_id) %>
		</div>
	</div>
<% end # for exhibit in pending_exhibits -%>
<% end # if pending_exhibits.length > 0 -%>
<% if group.show_exhibits != 'show_clusters_only' -%>
<% if !exhibits || exhibits.length == 0 -%>
	<div class="empty_list_text" >There have been no exhibits published in this <%= cluster == nil ? "group" : "cluster"  %>.</div>
<% end -%>
<% else # if group.can_view_exhibits(user_id) -%>
	<div class="empty_list_text" >You must be a member of this group to see its exhibits.</div>
<% end # if group.can_view_exhibits(user_id) -%>
<% end # if group.show_exhibits != 'show_clusters_only' -%>
	</div>
<div class="clear_both">
	&nbsp;
</div>