<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# group_discussions_list : parameters: ActiveRecord group, ActiveRecord cluster, int user_id -%>
<%# if cluster is nil, then this is the group page, otherwise it is the cluster page -%>
<% cluster ||= nil -%>
<% threads = DiscussionThread.all(:conditions => ["group_id = ? AND cluster_id IS NULL", group.id]) if cluster == nil -%>
<% threads = DiscussionThread.where({cluster_id: cluster.id}) if cluster != nil -%>
<% if !group.can_read_forum(user_id) -%>
	<div class="empty_list_text" >You must be a member of this group to see its discussions.</div>
<% else -%>
	<ul class="group_link_list">
		<li class='change_forum_permissions'>Forum Permissions: <%= Group.permission_to_friendly(group.forum_permissions) %>
			<span class="tooltip"><%= image_tag("help_thumb.sm.gif", { alt: "help" }) %><span class="group_help_tooltip">Open: Anyone can read and any <%= Setup.site_name() %> user can respond. <br />
Public: Anyone can read, but only group members may respond. <br />
Private: Only group members may read and respond to private discussions.</span></span>
			<%= link_to_function('[change]', "editPermissions(#{group.id}, '#{group.forum_permissions}', #{Group.permissions_to_json()}, #{Group.permission_explanations_to_json()});", :class => 'nav_link') if group.can_edit(user_id) %>
		</li>
	<% if threads.length == 0 -%>
		<li class="empty_list_text" >There have been no discussions started in this <%= cluster == nil ? "group" : "cluster"  %>.</li>
	<% end -%>
	<% if group.can_post(user_id) -%>
		<li class='group_new_post'>
		<% if cluster == nil -%>
			<%= link_to_function("[ New Post ]", "new GroupNewPost('#{image_path(PROGRESS_SPINNER_PATH)}',#{group.id}, gGroupData.name,  #{user_signed_in?}, #{(group.license_type==nil)?4:group.license_type});", :class => "nav_link" ) %>
		<% else -%>
			<%= link_to_function("[ New Post ]", "new ClusterNewPost('#{image_path(PROGRESS_SPINNER_PATH)}',#{group.id}, gGroupData.name,  #{cluster.id}, '#{escape_apos(cluster.name)}',  '#{group.get_clusters_label()}', #{user_signed_in?}, #{(group.license_type==nil)?4:group.license_type}); return false;", :class => "nav_link" ) %>
		<% end -%>
		</li>
	<% end #if can post -%>
	<% for thread in threads -%>
		<li>
		<% comment_info = get_comment_header_info(thread.discussion_comments[0]) -%>
		<div class="thumbnail_item">
			<div class="left_thumbnail">
		<% if comment_info[:thumbnail] == nil -%>
				<% comment_info[:thumbnail] = image_path('group_forum_default_thumb.jpg') %>
		<% end -%>
			<%= render :partial => '/forum/img_with_progress_spinner', :locals => { :src => comment_info[:thumbnail], :alt => 'thumbnail', :klass => "FH_post_image", :width => 50, :height => 125 } %>
			</div>
			<div class="right_of_thumbnail exhibit_link">
				<div class="group_thread_title"><%= link_to(thread.get_title(), { :controller => 'forum', :action => 'view_thread', :thread => thread.id }, :class => 'nav_link') %></div>
				Last updated by <%= get_user_link(comment_info[:last_comment_author]) %><br /><%= comment_time_format_relative(comment_info[:last_comment_time]) %>
			</div>
		</div>
		</li>
		<% end # for each thread -%>
	</ul>
<% end # can read forum -%>
