<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "Exhibits" -%>
<div class="inner_content_container">
	<% gu = GroupsUser.find(params[:id]) %>
	The email address <%= gu.email %> does not belong to a registered member of <%= Setup.site_name() %>.
	If you are registered using a different email address, then login and request to join the group directly.<br />
	If you are not a user of <%= Setup.site_name() %>, then you can join by creating a username below.

	<div class="gd_flash_notice_error"><%= params[:message] if params[:message].length > 0 %></div>
	<%= form_tag :controller => 'groups', :action => 'create_login_create', :id => gu do %>
	<table>
		<tr><td>Create your user name:</td><td><input type='text' name='user_name' id='user_name' value=''/></td></tr>
		<tr><td>Password:</td><td><input type='password' name='password' id='password' value=''/></td></tr>
		<tr><td>Retype password:</td><td><input type='password' name='password2' id='password2' value=''/></td></tr>
	</table>
	  <%= submit_tag 'Join' %>
	<% end %>
	<div class="clear_both"></div>
</div>
