<% current_page "TypeWright" -%>
<script type="text/javascript">
  // All of the TypeWright data for a page is in the TW.lines variable.
  // This is an array, one item for each identified rectangle on the page. Mostly, the rectangle should define a line,
  // but there are exceptions, when the document is particularly noisy, or when there are two columns on the page, for instance.
  //
  // Each item represents one line and is a hash, containing the following:
  // "l", "t", "r", "b": the bounding rectangle of this line.
  // "num": the line number, starting at one, and generally an integer, but may be a decimal if a line has been inserted by an end user.
  // "line","paragraph": not used by the TW javascript
  // "src": Where the OCR came from. This isn't processed by the javascript, but it is passed back to the server with any user change.
  // "authors", "text", "dates", "actions", "word": Arrays describing the modifications to this line. These arrays are always the same length.
  // The first item in these arrays describe the original text from the OCR. The data for this item is:
  // authors[0] = "Original"
  // text[0] = the OCRs text
  // dates[0] = ""
  // actions[0] = "original"
  // words[0] = the original word data (see below for format)
  //
  // For the rest of the items in those arrays:
  // authors: the user name of the person making the change.
  // dates: the date of the change expressed as "Jan 1, 2000 12:00pm"
  // text: the text of the entire line, as typed by the user
  // actions: one of "change", "delete", "insert", "correct"
  // words: array of each word inferred from the user's input. This is a hash with the elements:
  //
  // "l", "t", "r", "b": the bounding rectangle of this word.
  // "word": the text of the word
  // "line", "paragraph", "src": not used by the TW javascript
  //
  // NOTE: As the user manipulates the page, the TW.lines array will be modified. See line.js for details about the modifications.
	TW.lines = <%= raw(@params[:lines].to_json()) %>;
	TW.currLine = <%= @params['starting_line'] %>;
	TW.doc_id = <%= @params[:doc_id] %>;
	TW.page = <%= @params[:page] %>;
	TW.token = "<%= @params['token'] %>";
	TW.loadTime = "<%= Time.now() %>";
	TW.showDebugItems = <%= @debugging ? 'true' : 'false' %>;
	TW.updateUrl = "/typewright/lines/" + TW.doc_id + '.json';
	TW.imgWidth = <%= @params[:img_size][:width] %>;
	TW.imgHeight = <%= @params[:img_size][:height] %>;
</script>
<div class="tw_notification" style="display: none;">
  <a href="#" class="tw_dismiss" title="Dismiss this notification">x</a>
  <div class="tw_notification_text"></div>
</div>
<div class="tw_editing_title"><a title="<%= @params[:title] %>">"<%= @params[:title_abbrev] %>"</a>
  <%= link_to_function "delete edits", "", { :class => 'nav_link tw_delete_edits tw_cmd', :id => 'tw_delete_edits', 'data-url' => "/typewright/documents/#{@params[:doc_id]}/delete_edits?page=#{@params[:page]}" } if is_admin? %>
</div>

<div class="tw_toolbar">
	<!-- <span class="tw_button2 tw_find_button">&nbsp;</span> -->
	<span class="tw_button2 tw_insert_above_button">&nbsp;</span>
	<span class="tw_button2 tw_insert_below_button">&nbsp;</span>
	<span id="curr-user-name"><%= current_user.username %></span>
	<!-- <span class="tw_button2 tw_review_history_button">&nbsp;</span> -->
	<%= render :partial => 'pagination', :locals => { :show_complete=>false, :doc_id => @params[:doc_id], :doc_uri => @uri, :page => @params[:page], :num_pages => @params[:num_pages] } %>
</div>
<div class="tw_edit_text">
	<table>
		<tr>
			<td class="tw_left_row">
				<img id="tw_img_thumb" src="<%= @params[:img_thumb] %>" alt="original image" />
			    <%= link_to_function "report this page", "", { :class => 'nav_link tw_report_page tw_cmd', :id => 'tw_report_page', 'data-url' => "/typewright/documents/#{@params[:doc_id]}/report?page=#{@params[:page]}" } %>
			    <%= link_to "resize red box", "#", { :class => 'nav_link tw_resize_box tw_cmd' } %>
            </td>
			<td class="tw_middle_row">
				<div id="tw_img_full">
					<div style="background-image: url(<%= @params[:img_full].gsub('*', '0') %>);"></div>
					<div style="background-image: url(<%= @params[:img_full].gsub('*', '1') %>);"></div>
					<div style="background-image: url(<%= @params[:img_full].gsub('*', '2') %>);"></div>
				</div>
			    <table class="tw_editing">
			        <tr id="tw_text_0">
			            <td class="tw_history_icon"></td>
			            <td class="tw_change_icon"></td>
			            <td class="tw_line_num">&nbsp;</td>
			            <td class="tw_text">&nbsp;</td>
			        </tr>
			        <tr id="tw_text_1">
			            <td class="tw_history_icon"></td>
			            <td class="tw_change_icon"></td>
			            <td class="tw_line_num">&nbsp;</td>
			            <td><span id="tw_editing_line"></span>
			                <span class="tw_button tw_correct" title="Correct">&nbsp;</span><span class="tw_button tw_delete_line" title="Delete line">&nbsp;</span><span class="tw_button tw_undo_button hidden" title="Undo">&nbsp;</span><span class="tw_button tw_redo_button hidden" title="Redo">&nbsp;</span></td>
			        </tr>
			        <tr id="tw_text_2">
			            <td class="tw_history_icon"></td>
			            <td class="tw_change_icon"></td>
			            <td class="tw_line_num">&nbsp;</td>
			            <td class="tw_text">&nbsp;</td>
			        </tr>
			    </table>
			</td>
			<td class="tw_right_row">
				<div class="tw_button3 tw_change_line tw_up_arrow_top" data-amount="-1" title="Previous line">&nbsp;</div>
				<div class="tw_button3 tw_change_line tw_down_arrow_top" data-amount="1" title="Next line">&nbsp;</div>
			</td>
		</tr>
	</table>

    <div class="tw_toolbar bottom">
    <%= render :partial => 'pagination', :locals => { :is_complete=>@is_complete, :show_complete=>true, :doc_id => @params[:doc_id], :doc_uri => @uri, :page => @params[:page], :num_pages => @params[:num_pages] } %>
    </div>
	<%= render :partial => 'edit_instructions' %>
	<div class="clear_both"></div>
	<%= render :partial => 'word_stats', :locals => { :word_stats => @params[:word_stats], :doc_word_stats => @params[:doc_word_stats]} %>

</div>
<div id="tw_pointer_thumb"></div>
<div id="tw_pointer_doc"></div>
<% 20.times {|x|  %>
<div id="tw_pointer_word_1_<%= x %>" style="position:absolute;display:none;border:2px dotted #3333ff;"></div>
<% } %>
