<%#
# ------------------------------------------------------------------------
#     Copyright 2009 Applied Research in Patacriticism and the University of Virginia
# 
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
# 
#         http://www.apache.org/licenses/LICENSE-2.0
# 
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>

<% current_page "TypeWright" -%>

<div class="inner_content_container">
  
  <!-- Typewright overview content -->
  <div class="typewright_overview">
    <div class="typewright_welcome">
        <%= image_tag("type_wright/typewright_logo.png", { alt: 'TypeWright', class: "typewright_logo"}) %>
       <span class="typewright_welcome_txt">Welcome to TypeWright</span>
    </div>
    
    <!-- main overview text -->
    <div class="tw_intro">
    TypeWright<%= link_to_function "1", "showFootnoteDiv('1')", :class  => "tw_note" %>
    &nbsp;is a tool for correcting the text-version of a document made up of page images.  
    These text-versions are crucially necessary: they are what enables full-text searching, 
    datamining, preserving, and curating<%= link_to_function "2", "showFootnoteDiv('2')", :class  => "tw_note" %>
    &nbsp;texts of historical importance.  
    Right now, the text running behind the page images of these texts has been mechanically 
    typed,<%= link_to_function "3", "showFootnoteDiv('3')", :class  => "tw_note" %>
    &nbsp;leaving behind errors that need to be corrected by human eyes and hands.
    </div>

    <div id="footnotes_box" class="tw_footnotes" style="display:none">
      <!-- footnote number 1 -->
      <div id="1" class="footnote" style="display:none">
        <b>1.</b>&nbsp;TypeWright was created thanks to a grant to Miami University by the Mellon Foundation.  
        It was built by <%= link_to "Performant Software", "http://www.performantsoftware.com" %>.&nbsp;
        In creating TypeWright, we have followed the lead of the Australian Newspaper Digitisation Program 
        (Rose Holley, &#8220;<%= link_to "Many Hands Make Light Work: Public Collaborative OCR Correction in Australian Historic Newspapers",
                                         "http://www.nla.gov.au/ndp/project_details/documents/ANDP_ManyHands.pdf" %>,&#8221;
        &nbsp;National Library of Australia [March 2009]).  
        <%= link_to_function "close", "closeFootnoteDiv('1')", :class  => "footnote_close" %>
      </div>
  
      <!-- footnote number 2 -->
      <div id="2" class="footnote" style="display:none">
        <b>2.</b>&nbsp;Martin Mueller defines &#8220;curation&#8221; as making it possible for all texts &#8220;to be good enough and [to be able to] play nicely with each other&#8221;.
        Professor Mueller also offers a more formal definition, quoting Philip Lord: &#8220;the activity of managing and promoting the use of data from its point of creation,
        to ensure it is fit for contemporary purpose, and available for discovery and re-use&#8221; 
        (Philip Lord, Alison Macdonald, Liz Lyon, David Giaretta, From Data Deluge to Data Curation, 2004). 
        We want to ultimately be able to search across vast numbers of textual archives, and so they must be encoded in similar ways.
        <%= link_to_function "close", "closeFootnoteDiv('2')", :class  => "footnote_close" %>
      </div>
  
      <!-- footnote number 3 -->
      <div id="3" class="footnote" style="display:none">
        <b>3.</b>&nbsp;OCR, optical character recognition programs, have difficulty reading pre-modern type because of line unevenness, ligatures, and long 's.'
        Type-founding and setting practices are modernized from 1820-1850.  One can see the process very clearly in&nbsp;
        <%= link_to_function "Google searches", "showFootnotePopup('Google NGRAM Viewer', #{image_path('type_wright/google_ngram.png')})" %>.
        <%= link_to_function "close", "closeFootnoteDiv('3')", :class  => "footnote_close" %>
      </div>
    </div>
  </div>
  
  <!-- Search typewright enabled documents -->
  <div id="typewright_documents">
    
      <div class="tw_search_box">
	      <form action="/search" method="GET">
          <div class="tw_search_label">Search for TypeWright enabled texts</div>
          <div class="tw_phrase_container">
			  <input type="hidden" name="o" value="typewright" />
              <input id="tw_search_phrase" name="q" type="text" required />
              <div class="tw_advanced_link">
                <%= link_to("Advanced Search", '/search?o=typewright', :class => 'nav_link') %>
              </div>
           </div>
           
           <button class="tw_search_button"> </button>
	      </form>
          <div class="clear_both"></div>
      </div>
      
      <!-- featured -->
      <div class="shared_header">Featured Text</div>
      <% if @primary.nil? %>
        <div class="tw_no_features">There currently is no Featured Text.</div>
        <% if is_admin? %>
          <div class="tw_no_features">Click <%= link_to("here", '/typewright/admin') %> to set one up.</div>
        <% end %>
      <% else %>
        <%= render( :partial => 'text_detail', :locals => { :hit => @primary, :id => @id, :stats => @stats, :thumb => @thumb, :title => @title, :is_complete => false } ) %>
      <% end %>
      
      <!-- More -->
      <div class="shared_header">More TypeWright Enabled Texts</div>
      <% if @features.length == 0 %>
        <div class="tw_no_features">There are currently no featured TypeWright texts.</div>
        <% if is_admin? %>
          <div class="tw_no_features">Click <%= link_to("here", '/typewright/admin') %> to administer TypeWright texts.</div>
        <% end %>
      <% else %>
        <br/><div class="expand_all_link"><%= render( :partial => 'results/bulkcollect', :locals => {:mode => :both, :page => 1} ) %></div>
        <form name="bulk_collect_form" id="bulk_collect_form">
			<input type="hidden" id="page" name="page" value="1" />
           <input type="hidden" id="bulk_tag_text" name="bulk_tag_text" value="" />
           <%= render( :partial => 'results/results', :locals => { :user_id => !user_signed_in? ? -1 : get_curr_user_id, :hits => @features } ) %>
        </form>
        <div class="clear_both"></div>
        <hr class="search_results_hr" />
      <% end %>

      
      <div class="subpage_nav"> 
        <%= link_to "See all TypeWright enabled projects", "/search?o=typewright", :class => 'nav_link' %>
      </div>
      
  </div>               
    
</div>                 