<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # params: ActiveRecord comment, int thread_id, bool can_delete, bool is_main -%>

<div class="<%= is_main ? 'new_discussion' : 'discussion_thread_list' %>">
	<div class="discussion_comment2">
	<% if comment.reported == 1 && can_delete -%>
		<div class="reported_comment">
			NOTICE: This comment has been reported as objectionable by <%= user.fullname %>, and is pending moderation.
		</div>
	<% end -%>

	<% if comment.get_type() == "comment" -%>
		<% comment_user  = User.find(comment.user_id) %>
		<table><tr>
			<td></td><td>
				<% if is_main -%>
					<span class="discussion_title"><%= DiscussionThread.find(thread_id).title %></span>
				<% end -%>
			</td>
		<% if !is_main -%>
			</tr><tr>
				<td></td><td>
					<div style="float:right;"><%= link_to del_char(), "/discussion_threads/delete_comment?comment=#{comment.id}", :confirm => 'Are you sure?', :method => :delete, :class => 'modify_link' if can_delete %></div>
					<span class="discussion_comment_title">	<%= get_user_link(comment_user) %> comments:
				</span>
				</td>
		<% end -%>
		</tr><tr>
			<td valign="top"><div class="discussion_user_picture"><%= render :partial => 'img_with_progress_spinner', :locals => { :src => get_user_picture(comment.user_id), :alt => 'user' } %></div></td>
			<td valign="top" width="100%">
				<%= comment.comment %>
			</td>
		</tr><tr>
			<td></td><td><%= render :partial => 'comment_footer', :locals => { :comment => comment, :include_username => is_main, :include_report => true } %></td>
		</tr></table>

	<% elsif comment.get_type() == "nines_object" -%>
			<% hit = CachedResource.get_hit_from_resource_id(comment.cached_resource_id) -%>
			<%= render :partial => 'added_object', :locals => {:comment => comment, :is_first => comment.position == 1 } %>
			<%= link_to del_char(), "/discussion_threads/delete_comment?comment=#{comment.id}", :confirm => 'Are you sure?', :method => :delete, :class => 'modify_link', :style => 'float:right;' if can_delete %>
			<table><tr>
				<%= render :partial => '/results/result_row', :locals => { :row_id => "test", :index => 2, :hit => hit, :has_exhibits => false } %>
			</tr><tr><td></td><td colspan='4'>
				<%= render :partial => 'comment_footer', :locals => { :comment => comment, :include_username => false, :include_report => false } %>
			</td></tr></table>
		<% elsif comment.get_type() == "nines_exhibit" -%>
			<% exhibit = Exhibit.find(comment.exhibit_id) -%>
			<%= render :partial => 'added_object', :locals => {:comment => comment, :is_first => comment.position == 1 } %>
			<%= link_to del_char(), "/discussion_threads/delete_comment?comment=#{comment.id}", :confirm => 'Are you sure?', :method => :delete, :class => 'modify_link', :style => 'float:right;' if can_delete %>
			<table><tr>
			<td><div class="discussion_user_picture"><%= render :partial => 'img_with_progress_spinner', :locals => { :src => exhibit.thumbnail, :alt => 'exhibit' } %></div></td>
			<td valign="top" width="100%">
				<h3><%= get_exhibit_link(exhibit) %></h3>
				<%= render :partial => 'comment_footer', :locals => { :comment => comment, :include_username => false, :include_report => false } %>
			</td>
			</tr></table>
		<% elsif comment.get_type() == "inet_object" -%>
			<%= render :partial => 'added_object', :locals => {:comment => comment, :is_first => comment.position == 1 } %>
			<%= link_to del_char(), "/discussion_threads/delete_comment?comment=#{comment.id}", :confirm => 'Are you sure?', :method => :delete, :class => 'modify_link', :style => 'float:right;' if can_delete %>
			<table><tr>
			<td><div class="discussion_user_picture"><%= render :partial => 'img_with_progress_spinner', :locals => { :src => comment.image_url, :alt => 'thumbnail' } %></div></td>
			<td valign="top" width="100%">
				<%=make_ext_link(comment.link_url) %>
				<p><%= comment.comment %></p>
				<%= render :partial => 'comment_footer', :locals => { :comment => comment, :include_username => false, :include_report => true } %>
			</td>
			</tr></table>
		<% else -%>
			ERROR: ill-formed comment. (Comment type <%- comment.comment_type %> is unknown)
		<% end -%>
	</div>
</div>
