<h1>Editing discussion_thread</h1>

<%= error_messages_for :discussion_thread %>

<% form_for(@discussion_thread) do |f| %>
  <p>
    <b>Topic</b><br />
    <%= f.text_field :topic_id %>
  </p>

  <p>
    <b>Title</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @discussion_thread %> |
<%= link_to 'Back', discussion_threads_path %>
