<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<% current_page "Discuss" -%>
<% user_id = session[:user] ? User.find_by_username(session[:user][:username]).id : nil -%>

<div id="discussion_thread">&nbsp;</div>

<% topics = DiscussionTopic.find(:all, :order => 'position') -%>
<% for topic in topics -%>
	<div class="discussion_topic_title">
		<h2>
			<%= toggle_discussion_topic(topic.id, "topic", "toggle_by_id", :open) %>
			<%= topic.topic %>
			<%= "(#{topic.discussion_threads.length} threads " if topic.discussion_threads.length > 1 %>
			<%= link_to_function "[start new thread]", "new RedirectIfLoggedIn('popup_dialog_anchor', 'discussion_threads/start_discussion?topic_id=#{topic.id}', 'You must be signed in to start a discussion', #{is_logged_in? ? 'true' : 'false'});", { :class => 'nav_link' } %>
			<%= ")" if topic.discussion_threads.length > 1 %>
		</h2>
	</div>
	<div id="topic_<%= topic.id %>" class="discussion_thread_list_item">
		<% threads =  topic.discussion_threads -%>
		<% for thread in threads -%>
			<% if thread.discussion_comments.length < 1 -%>
				ERROR: ill-formed thread. (Main comment is missing)<br/>
			<% else -%>
				<% main_comment = thread.discussion_comments[0] -%>
				<%= render :partial => 'summary', :locals => { :comment=> main_comment, :thread_id => thread.id, :can_delete => is_logged_in? && (is_admin? || (main_comment.user_id == user_id)) } %>
			<% end # there is a comment -%>
		<% end # threads -%>
	</div>
<% end # topics -%>
