<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<% current_page "Discuss" -%>

<% topics = DiscussionTopic.find(:all) -%>
<% for topic in topics -%>
	<h2><%= topic.topic %></h2>
	<%= link_to "[new thread]", { :action => 'start_discussion', :topic_id => topic.id }, { :class => 'nav_link' } %><br .>
	<% threads =  topic.discussion_threads -%>
	<% for thread in threads -%>
		<% if thread.discussion_comments.length < 1 -%>
			ERROR: ill-formed thread. (Main comment is missing)<br/>
		<% else -%>
			<% main_comment = thread.discussion_comments[0] -%>
			<table class="discussion_thread_list">
				<tr valign="top">
					<% if main_comment.get_type() == "comment" -%>
						<td><%= render :partial => 'users_picture', :locals => { :user_id => main_comment.user_id } %></td>
						<td>
							<h3><%= thread.title %></h3>
							<%=h main_comment.comment %>
						</td>
					<% elsif main_comment.get_type() == "nines_object" -%>
						<% hit = CachedResource.get_hit_from_resource_id(main_comment.cached_resource_id) -%>
						<%= render :partial => '/results/result_row', :locals => { :row_id => "test", :index => 2, :hit => hit, :has_exhibits => false } %>
					<% elsif main_comment.get_type() == "nines_exhibit" -%>
						<% exhibit = Exhibit.find(main_comment.exhibit_id) -%>
						<td><img src="<%= exhibit.thumbnail %>" alt="exhibit" /></td>
						<td>
							<h3><%=h exhibit.title %></h3>
						</td>
					<% elsif main_comment.get_type() == "inet_object" -%>
						<td><img src="<%= main_comment.image_url %>" alt="thumbnail" /></td>
						<td><a class="ext_link" target="_blank" href="<%= main_comment.link_url %>" ><%=h main_comment.link_url %></a>
						<p><%=h main_comment.comment %></p>
						</td>
					<% else -%>
						<td>ERROR: ill-formed thread. (Main comment type <%- main_comment.comment_type %> is unknown)</td>
					<% end -%>
				</tr>
			</table>
		<% end # there is a comment -%>
	<% end # threads -%>
<% end # topics -%>

<!--
list of topics
list of threads under each (as a tree)
(Graphic: thumbnail if object, profile pic if comment was the first item in the thread; then title of the thread)

Clicking on the new “Discussions” tab takes the user to the Discussions home page. From here 
the user can see a list of available topics for discussion. Topics are displayed as headings and 
underneath each topic heading is a list of Discussion Threads. Each discussion thread has a title 
and a graphic which it draws from the object or comment under discussion. Clicking on a discussion 
thread opens the discussion thread and brings the user to the end of the thread (the last page.)

-->
