<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<% current_page "Discuss" -%>
<% user_id = session[:user] ? User.find_by_username(session[:user][:username]).id : nil -%>

<div class="discussion_explanation">
	<span>Welcome to the NINES Forum!</span> We've set aside this portion of NINES for commentary, discussion and collaboration among the NINES community.
	Join in the conversations below immediately, or login to your free account to associate objects of searches with your entries.
</div>

<div id="discussion_thread">&nbsp;</div>

<div class="discussion_topic_index_header">
	<h2>Current Threads</span><span class="discussion_topic_sort_by">&nbsp;&nbsp;(sorted by: Recent Activity | Alphabetically)</h2>
</div>
<% topics = DiscussionTopic.find(:all, :order => 'position') -%>
<% for topic in topics -%>
	<% threads = topic.discussion_threads -%>
	<div class="discussion_topic_title">
		<h2>
			<%= toggle_discussion_topic(topic.id, "topic", "toggle_by_id", :open) %>
			<%= topic.topic %>
			<% if threads.length >= 1 -%>
				<span class="discussion_topic_count">
					(<%= pluralize(threads.length, 'discussion') %> |
					<% last_updated_date = get_last_updated_date(topic) -%>
					<%= "<span class='discussion_topic_recent_update'>" if is_new_post(last_updated_date) %>
						Last updated <%= comment_time_format(last_updated_date) %>
					<%= "</span>" if is_new_post(last_updated_date) %>
					)
				</span>
			<% end -%>
		</h2>
		<span class="discussion_topic_new"><%= link_to_function "[start new discussion]", "new RedirectIfLoggedIn('popup_dialog_anchor', 'discussion_threads/start_discussion?topic_id=#{topic.id}', 'You must be signed in to start a discussion', #{is_logged_in? ? 'true' : 'false'});", { :class => 'nav_link' } %></span>
	</div>
	<div id="topic_<%= topic.id %>" class="discussion_thread_list_item">
		<% for thread in threads -%>
			<% if thread.discussion_comments.length < 1 -%>
				ERROR: ill-formed thread. (Main comment is missing)<br/>
			<% else -%>
				<% main_comment = thread.discussion_comments[0] -%>
				<%= render :partial => 'summary', :locals => { :comment=> main_comment, :thread_id => thread.id, :can_delete => is_logged_in? && (is_admin? || (main_comment.user_id == user_id)) } %>
			<% end # there is a comment -%>
		<% end # threads -%>
	</div>
<% end # topics -%>
