<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>

<% current_page "Discuss" -%>
<% user_id = User.find_by_username(session[:user][:username]).id -%>
<% topic_id = params[:topic_id] -%>

<script language="JavaScript">
	var gIllustrationTypes = <%= ExhibitIllustration.get_illustration_type_array_with_exhibit() %>;
	var gCollectedObjects = <%= CollectedItem.get_collected_object_array(user_id) %>;
	var gExhibitNames = [ <%= Exhibit.js_array_of_all_public_exhibits() %> ];
	
	var commentEditor = null;
	document.observe('dom:loaded', function() {
		
		// Switch the textarea for the YUI RTE
		commentEditor = new RichTextEditor({ id: 'comment', toolbarGroups: [ 'fontstyle', 'lists', 'link' ], linkDlgHandler: new LinkDlgHandler() });
	});

</script>

<div  id="discussion_thread" class="tag_minor_nav"> 
	<%= link_to "View All Discussion Topics", { :action => 'index' }, :class => 'nav_link' %><br />
</div>

<%= rounded_h1("Starting a New Discussion in \"#{DiscussionTopic.find(topic_id).topic}\"...") %>
<div class="standard_box new_discussion">
	<div class="discussion_user_picture discussion_user_picture_new">
		<%= render :partial => 'users_picture', :locals => { :user_id => user_id } %>
	</div>
	<div class="comment_form">
		<div class="comment_form2">
			<form name='post_comment' method="post" action='/discussion_threads/post_comment_to_new_thread'>
				<input type="hidden" name="topic_id" value="<%= params[:topic_id] %>">
				<input type="text" id="title" name="title" class="inputHintStyle" value="Enter a discussion topic here" />
<script type="text/javascript" charset="utf-8">
    $('title').defaultValueActsAsHint();
  </script>
				<textarea name="comment" id="comment"></textarea>
				<div class="buttons">
					<%= rounded_button("cancel", "cancel_id", "window.location = '/discussion'", 'red') %>
					<%= rounded_button("post", "post_id", "postNewComment();", 'red') %>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="discussion_action_row">
	<table><tr>
		<td>OR, Start the Discussion with an Object:</td>
		<td><%= rounded_button("post object", "post_object_id", 
			"var dlg = new NewThreadObjectDlg({ topic_id: #{topic_id}, obj_list: gCollectedObjects, exhibit_list: gExhibitNames, type_list: gIllustrationTypes, submit_url: '/discussion_threads/post_object_to_new_thread', parent_id: 'discussion_thread' }); dlg.show(); return false;", 'red') %>
		</td>
	</tr></table>
</div>
