<%#
# ------------------------------------------------------------------------
#     Copyright 2011 Applied Research in Patacriticism and the University of Virginia
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<%# featured_news -%>
<div class="feature_news">
    <%= image_tag "18th/voyeur.png", { class: "voyeur_icon", alt: "Voyeur Icon" } %>
The roughly 2,000 texts released by Gale Cengage Learning and the Text Creation Partnership (<%= link_to "see the News tab", '/news/', { :class => 'nav_link' } %>)
	are <%= link_to "available for full-text searching here", '/search/saved?user=paul&name=ecco_full_text', { :class => 'nav_link' } %>.
18thConnect will soon offer access here to Voyeur: <%= link_to "Reveal Your Texts", 'http://hermeneuti.ca/voyeur', { :class => 'ext_link', :target => '_blank' } %>, a window
	that allows using TaPOR tools to analyze these texts.  If you would like to try that now, you may see any of the following texts in Voyeur:
<ul>
<li><%= link_to "Susanna Centlivre, The Artifice, a comedy (1723)", "http://voyeurtools.org/?corpus=K032308.xml&archive=http://18thConnect.org/images/18th/centlivreXML.xml&stopList=stop.en.taporware.txt&xmlAuthorXpath=//author&xmlTitleXpath=//label&xmlContentXpath=//plainText", { :class => 'ext_link', :target => '_blank' } %></li>
<li><%= link_to "Daniel Defoe, The Farther Adventures of Robinson Crusoe (1719)", "http://voyeurtools.org/?corpus=K018256.xml&archive=http://18thConnect.org/images/18th/defoeXML.xml&stopList=stop.en.taporware.txt&xmlAuthorXpath=//author&xmlTitleXpath=//label&xmlContentXpath=//plainText", { :class => 'ext_link', :target => '_blank' } %></li>
<li><%= link_to "Ottobah Cugoano, On the Evil and Wicked Traffic of Slavery (1787)", "http://voyeurtools.org/?corpus=K046227.xml&archive=http://18thConnect.org/images/18th/cugoanoXML.xml&stopList=stop.en.taporware.txt&xmlAuthorXpath=//author&xmlTitleXpath=//label&xmlContentXpath=//plainText", { :class => 'ext_link', :target => '_blank' } %></li>
<li><%= link_to "Adam Smith, The Theory of Moral Sentiments (1759)", "http://voyeurtools.org/?corpus=K111361.xml&archive=http://18thConnect.org/images/18th/smithXML.xml&stopList=stop.en.taporware.txt&xmlAuthorXpath=//author&xmlTitleXpath=//label&xmlContentXpath=//plainText", { :class => 'ext_link', :target => '_blank' } %></li>
</ul>
Send ideas or request texts: <a class="nav_link nospam" href="laura.mandell gmail com">Contact us</a>
</div>

<%#= link_to "Susanna Centlivre, The Artifice, a comedy (1723)", "http://voyeurtools.org/?corpus=K032308.xml&archive=http://18thConnect.org/images/18th/centlivreXML.xml&stopList=stop.en.taporware.txt", { :class => 'ext_link', :target => '_blank' } %>
<%#= link_to "Daniel Defoe, The Farther Adventures of Robinson Crusoe (1719)", "http://voyeurtools.org/?corpus=K018256.xml&archive=http://18thConnect.org/images/18th/defoeXML.xml&stopList=stop.en.taporware.txt", { :class => 'ext_link', :target => '_blank' } %>
<%#= link_to "Ottobah Cugoano, On the Evil and Wicked Traffic of Slavery (1787)", "http://voyeurtools.org/?corpus=K046227.xml&archive=http://18thConnect.org/images/18th/cugoanaXML.xml&stopList=stop.en.taporware.txt", { :class => 'ext_link', :target => '_blank' } %>
<%#= link_to "Adam Smith, The Theory of Moral Sentiments (1759)", "http://voyeurtools.org/?corpus=K111361.xml&archive=http://18thConnect.org/images/18th/smithXML.xml&stopList=stop.en.taporware.txt", { :class => 'ext_link', :target => '_blank' } %>
