<%#
# ------------------------------------------------------------------------
#     Copyright 2010 Applied Research in Patacriticism and the University of Virginia
#
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
#
#         http://www.apache.org/licenses/LICENSE-2.0
#
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>
<%# featured_resource param: ActiveRecord feature -%>
<table class="feature_resource"><tr>
<td class="feature_image">
   <% if feature.image.nil? %>
      <%= image_tag "#{SKIN}/lg_site_image.gif" %>
   <% else %>
	  <img src="/<%= feature.image.photo.url(:feature) %>" alt="Featured Resource" />
	<% end %>
</td>
<td class="feature_text">
	<div class="feature_text_header"><%= link_to feature.title, feature.object_url, { :class => 'nines_link' } %></div>
	<div class="search_result_data_container">
		 <div class="feature_text_data">
			<div class="feature_text_data_label">Date:</div>
			<div class="feature_text_data_value"><%= feature.date %></div>
			<div class="feature_text_data_label">Site:</div>
			<div class="feature_text_data_value"><%= link_to feature.site, feature.site_url, { :class => 'ext_link' } %></div>
			<div class="feature_text_saved_search">Click to browse more objects like <%= link_to feature.title, feature.saved_search_url, { :class => 'nav_link' } %></div>
		</div>
	</div>
</td>
</tr></table>
