<% current_page "HOME" -%>
    	<div id="search_container">
        	<div id="search_box">
				<%= form_tag( { :controller => 'search', :action => 'add_constraint' }, { :id => 'do-basic-search' } ) %>
	            	<strong>Search NINES:</strong><br />
	                <input id="search_phrase" name="search_phrase" type="text" /><input value="Search" id="search_button" type="submit" /> 
	                <div id="search_note_container">
	               	  <div id="search_note">Searching <%= number_with_delimiter(session[:num_docs]) %> peer-reviewed digital objects from <%=number_with_delimiter(Site.count)%> federated sites  </div>
	                    <div id="advanced_link"><%= link_to("Advanced Search", '/collex/new_search', { :class => 'nav_link' } ) %></div>
	                    <div class="clear_both"></div>
	                </div>
				</form>
            </div>
        </div>
		<div id="popular_container">
			<table>
            	<tbody><tr><td colspan="5" class="spacer_cell"></td></tr>
            	<tr>
                	<td id="discussions" valign="top">
                    <div class="popular_title">Popular Discussions</div>
                    <ul>
                    	<% @discussions.each {|discussion| -%>
						<li><%= link_to(discussion[:title], "/forum/view_thread?thread=#{discussion[:id]}", { :class => 'nav_link' }) %></li>
                    	<% } -%>
                		<li><%= link_to("MORE", forum_path, { :class => 'nav_link' }) %></li>
                	</ul>
                    </td>
                   	<td class="spacer_cell"></td>
                    <td id="tags" valign="top">
                    <div class="popular_title">Popular Tags</div>
					<% tag_links = [] -%>
					<% @tags.each {|tag| tag_links.push(link_to(tag[0], "/tag/results?tag=#{tag[0]}&view=tag", { :class => tag[2] ? 'nav_link tag_lvl1' : 'nav_link' })) } -%>
					<%= tag_links.join(" • ") %>
					</td>
                    <td class="spacer_cell"></td>
                    <td id="news" valign="top">
                    <div class="popular_title">Recent News</div>
					<div id="recent_news"></div>
                    </td>
              </tr>
            	<tr><td colspan="5" class="spacer_cell"></td></tr>
            </tbody></table>
		</div>
        
	<%= render :partial => 'featured_exhibit' %>

<div class="carousel_background">
	<center>
		<table><tr>
			<td class="carousel_button_column"><div id="carousel_left"></div></td>
			<td class="carousel_column"><div id="carousel_container">
			  <ol id="carousel">
					<% for item in @carousel -%>
						<li class="item">
				    		<a href="<%=h item[:url] %>"><img class="carousel_image" src="<%=h item[:image] %>" alt="<%=h item[:title] %>" /></a>
							<a href="<%=h item[:url] %>" class="carousel_item_title nav_link"><%=h item[:title] %></a>
							<%= item[:description] %>&nbsp;<a href="<%=h item[:url] %>" class="carousel_item_title nav_link">VISIT SITE</a>
						</li>
					<% end -%>
			  </ol>
			</div></td>
			<td class="carousel_button_column"><div id="carousel_right"></div></td>
		</tr></table>
	</center>
	<div class="carousel_title">Federated Websites</div>
</div>

<script type="text/javascript">
	document.observe('dom:loaded', function() {
		// initialize carousel
		//jQuery('#homepage_carousel').jcarousel({ scroll: 1 });

		// load news items
		loadLatestNews('recent_news','/news/?feed=rss2',5, true);
	});
	
	YAHOO.util.Event.onDOMReady(function (ev) {
		var carousel = new YAHOO.widget.Carousel(null);
		carousel.CONFIG.MAX_PAGER_BUTTONS = 20;
		carousel.init("carousel_container", {
			animation: { speed: 0.5 },
			navigation: { prev: 'carousel_left', next: 'carousel_right' }
		});
		carousel.render(); // get ready for rendering the widget
		carousel.show();   // display the widget
	});
</script>
