<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0

    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% current_page "News" -%>
<% name = Setup.site_name().downcase() %>

<div id="installation-instructions">
	<h2><%= Setup.site_name() %> News Installation</h2>
		
	<p><%= Setup.site_name() %> News is powered by WordPress which is integrated with the Ruby on Rails application. There are a number of ways to do this; the following discussion assumes the server is running Apache with Passenger.</p>
	<p>There are two WordPress installations needed: There is one for the blog that will appear under News, and there is one for the static pages that will appear under About. These
		instructions will set up both installations.
	</p>
<h3>System Dependencies</h3>

<p>ssh access to the server, Apache 2, Phusion Passenger, PHP, mysql.</p>

<h3>Step One: Install WordPress</h3>

<p>You can obtain the latest version of WordPress <a href="http://wordpress.org/download/">here</a>. Install WordPress anywhere on the same server as the <%= Setup.site_name() %> installation.
	For instance, if all of your websites are located at ~/www do this:
</p>
<pre>
cd ~/www
wget https://wordpress.org/latest.tar.gz
tar xvfz latest.tar.gz
mv wordpress wp_<%= name %>_news
cd wp_<%= name %>_news
cp wp-config-sample.php wp-config.php
vi wp-config.php
	# set the credentials for the database access.

cd ..
tar xvfz latest.tar.gz
mv wordpress wp_<%= name %>_about
cd wp_<%= name %>_about
cp wp-config-sample.php wp-config.php
vi wp-config.php
	# set the credentials for the database access.

mysql -u root -p
	CREATE DATABASE wp_<%= name %>_news;
	CREATE USER '<%= name %>_news'@'localhost' IDENTIFIED BY 'super-secret';
	GRANT ALL ON wp_<%= name %>_news.* TO '<%= name %>_news'@'localhost';
	GRANT FILE ON *.* TO '<%= name %>_news'@'localhost';

	CREATE DATABASE wp_<%= name %>_about;
	CREATE USER '<%= name %>_about'@'localhost' IDENTIFIED BY 'super-secret';
	GRANT ALL ON wp_<%= name %>_about.* TO '<%= name %>_about'@'localhost';
	GRANT FILE ON *.* TO '<%= name %>_about'@'localhost';
</pre>
  <p>
	Note: if you get an error trying to download wordpress, you might have an old version of wget on your server. Update it something like this:
	<pre>
sudo yum update wget
</pre>
  </p>
<h3>Step Two: Modify Apache Config</h3>
<p>Put this in your apache configuration file to get Passenger to ignore requests from the /news folder:</p>
<pre>
&lt;Directory "<%= Rails.root %>/public/news"&gt;
    PassengerEnabled off
    AllowOverride all
&lt;/Directory&gt;

&lt;Directory "<%= Rails.root %>/public/about"&gt;
	PassengerEnabled off
	AllowOverride all
&lt;/Directory&gt;
</pre>
	<p> Then restart Apache so the changes take effect:</p>
	<pre>
sudo /sbin/service httpd restart
	</pre>

<h3>Step Three: Link the blog to <%= Setup.site_name() %></h3>
  <div class="instructions-note"><p>NOTE: The capistrano task takes care of this step automatically. The following is described so there is no "magic" happening that would be hard to figure out.</p></div>
	<p>Put in a symbolic link in your Rails app so that requests for /news get redirected to WordPress:</p>
	<pre>
cd <%= Rails.root %>/public
ln -s ~/www/wp_<%= name %>_news news
ln -s ~/www/wp_<%= name %>_about about
	</pre>

	<div class="instructions-note"><p>NOTE: Once these rules are in place, this page of instructions will be replaced with WordPress. You can still access this page of instructions <a href="/home/news/">here</a>.</p></div>

<h3>Step Four: Activate Wordpress</h3>

<p>Point your browser to <%= link_to "News",  "#{ActionMailer::Base.default_url_options[:host]}/news" %>. You should get instructions from WordPress about setting up the blog. Note that you should NOT do this step before you get the
symbolic link set up. WordPress needs to have the correct URL to function properly. Repeat the above with <%= link_to "About",  "#{ActionMailer::Base.default_url_options[:host]}/about" %>
</p>

<h3>Step Five: Install the Collex Theme and Plugin</h3>
	<p>From the WordPress administration panel, search for and install the Hybrid theme.</p>
	<p>Install the generic Collex theme from <a href="https://github.com/collex/collex_wordpress_theme">here</a> by downloading the code to the wp-content/themes folder.
		Select the theme from the WordPress administration panel.
	</p>
<pre>
cd ~/www/wp_<%= name %>_about/wp-content/themes
git clone git://github.com/collex/collex_wordpress_theme.git
cd ~/www/wp_<%= name %>_news/wp-content/themes
git clone git://github.com/collex/collex_wordpress_theme.git
</pre>
	<p>Install the Rails Theme plugin by going to the plugin page and searching for "Rails Theme". After activating the plugin, go to the Settings/Rails Theme page and enter the URL for <%= ActionMailer::Base.default_url_options[:host] %>.</p>

</div>
