<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# edit_site_list params: array sites_forest, array found_resources, string parent_div -%>
<div class="right_column_header">Edit Sites and Categories</div>
<table class="limit_to">
	<tr>
		<th>Resource</th>
		<th>In carousel?</th>
		<th></th>
	</tr>
	<%= render :partial => '/common/facet_tree_one_branch', :locals => { :branch => sites_forest, :indent => 1, :is_edit_mode => true, :parent_id => '', :start_hidden => false, :site_count => nil } %>
	<tr><td class='limit_to_lvl1'><a class="modify_link" href='#' onclick='new AddCategoryDlg("<%= parent_div %>", "/admin/facet_tree/add_category", "/admin/facet_tree/get_categories"); return false;'>[Add Category]</a></td><td></td><td></td></tr>
</table>
<div class="right_column_header">Sites not in the resource tree:</div>
<table class="limit_to">
<% for resource in found_resources -%>
	<tr><td class='limit_to_lvl1'><%= resource %></td><td><a class="modify_link" href="#" onclick="new AddSiteDlg('<%= parent_div %>', '/admin/facet_tree/add_site', '<%= resource %>', '/admin/facet_tree/get_categories'); return false;">[add]</a></td></tr>
<% end -%>
</table>

<div class="right_column_header">Sites not in Solr:</div>
<% missing = get_missing_sites(sites_forest) -%>
<table class="limit_to">
	<% for site in missing -%>
		<tr><td class='limit_to_lvl1'><%= site.display_name %> [<%= site.value %>]</td><td><a class="modify_link" href="#" onclick="new RemoveSiteDlg('<%= parent_div %>', '/admin/facet_tree/remove_site', '<%= site.value %>'); return false;">[remove]</a></td></tr>
	<% end -%>
</table>

<div class="right_column_header">Inaccessible Sites:</div>
<table class="limit_to">
	<% for site_id in @inaccessible_sites -%>
		<% site = FacetCategory.find(site_id) %>
		<% sanitized_value = site['value'].gsub("'") { |apos| "&apos;" } -%>
		<tr><td class='limit_to_lvl1'><%= site.display_name %> [<%= site.value %>]</td><td><a href='#' class='modify_link' onclick='new EditFacetDialog("edit_site_list", "/admin/facet_tree/edit_facet", "<%=sanitized_value%>", "/admin/facet_tree/get_categories_and_details"); return false;'>[edit]</a><a class="modify_link" href="#" onclick="new RemoveSiteDlg('<%= parent_div %>', '/admin/facet_tree/remove_site', '<%= site.value %>'); return false;">[remove]</a></td></tr>
	<% end -%>
</table>
