<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% #  parameters: int row_id; int index; hit hit; bool has_exhibits; -%>
<ul style='list-style-type: none;'>
	<% if is_logged_in? -%>
	<span class="collect_link"><%= link_to_function "collect", "doCollect('#{hit['uri']}', #{index}, '#{row_id}');", :class => 'modify_link' if !result_is_collected(hit) -%></span>
	<% end -%>
	<% item = get_collected_item(hit) -%>
	<% if item != nil # if this item is collected. -%>
		<li>Collected On: <%= item.updated_at.strftime("%b %d %Y") %></li>
		<% tags = item.tags -%>
		<% if tags != nil -%>
	    	<% tags.each {|tag| -%>
        	<li><%= link_to_function "x", "doRemoveTag('#{hit['uri']}', #{index}, '#{row_id}', '#{create_javascript_friendly_tag_name(tag)}');", :class => 'modify_link' %>&nbsp;<%=h tag %></li>
			<% } #the tag loop -%>
		<% end #if there are tags -%>
		<li><%= link_to_function "Add a tag", "doAddTag('add_tag_#{index}', '#{hit['uri']}', #{index}, '#{row_id}', event);",  :id => "add_tag_#{index}", :class => 'modify_link' %></li>
		<li><%= link_to_function "Uncollect", "doRemoveCollect('#{hit['uri']}', #{index}, '#{row_id}');", :class => 'modify_link' %></li>
		<% if has_exhibits -%>
			<li><%= link_to_function "Add to exhibit", "doAddToExhibit('#{hit['uri']}', #{index}, '#{row_id}');", { :id => "link_#{row_id}", :class => 'modify_link' } %></li>
		<% end -%>
	<% end #if the item is collected -%>
</ul>
