<% #parameters: hit, row_id, bool no_links -%>
<% # this needs to be called inside a <table> element -%>
<% hit['alternative'].each do %>
<% ################### -%>
<% tr do %>
<%= td hit['alternative'], :valign => "top", :colspan => "2" %>
<% end %>
<% end if hit['alternative'] %>
<% hit['source'].each_with_index do |source, i| %>
<% ################### -%>
<% tr do %>
<%= td((i < 1 ? "source:" : ""), :class => "grey", :valign => "top") %>
<%= td h(source), :valign => "top" %>
<% end %>
<% end if hit['source'] %>
<% ################### -%>
<tr>
    <td class="grey">
        site:
    </td>
    <td width="100%">
        <% if hit['archive'] %>
        <% if site(hit['archive']) %><a class="nav_link" target="_blank" href="<%= site(hit['archive'])['url'] %>"><%=site(hit['archive'])['description'] %></a>&nbsp;&rarr; <% else %><%= hit['archive'] %><% end %>
        <% end %>
    </td>
</tr>
<% ################### -%>
<% tr do %>
<%= td "exhibit type:", :class => "grey", :valign => "top" %>
<%= td hit['exhibit_type'], :valign => "top" %>
<% end if hit['exhibit_type'] %>
<% ################### -%>
<% tr do %>
<%= td "license:", :class => "grey", :valign => "top" %>
<%= td hit['license'], :valign => "top" %>
<% end if hit['license'] %>
<% hit.select {|key,value| key =~ /^role_/}.each_with_index do |agent, i| agent[1].each do |name| %>
<% ################### -%>
<% tr do %>
<%= td((i < 1 ? "name:" : ""), :class => "grey", :valign => "top") %>
<%= td h("#{name} (#{COLLEX_MANAGER.relators[agent[0][-3,3]]})"), :valign => "top" %>
<% end %>
<% end end %>
<% ################### -%>
<% tr do %>
<%= td "date:", :class => "grey", :valign => "top" %>
<%= td h(hit['date_label'].join('; ')), :valign => "top" %>
<% end if hit['date_label'] %>
<% ################### -%>
<% tr do %>
<%= td("genre:", :class => "grey", :valign => "top") %>
<%= td h(hit['genre'].join('; ')) %>
<% end if hit['genre'] %>
<% tags = CollectedItem.get_tags_for_uri(hit['uri']) -%>
<% ################### -%>
<% tr do %>
<%= td("tags:", :class => "grey", :valign => "top") %>
<% if no_links -%>
<%= td h(tags.join('; ')) %>
<% else -%>
<td>
	<% item = get_collected_item(hit) -%>
	<% my_tags = [] -%>
	<% if item != nil # if this item is collected. -%>
		<% my_tags = item.tags -%>
	<% end #if the item is collected by the user. -%>
   	<% tags.each {|tag| -%>
		<% is_mine = my_tags.include?(tag) -%>
		<% if is_mine -%>
        	<%= link_to_function "x", "doRemoveTag('#{hit['uri']}', '#{row_id}', '#{create_javascript_friendly_tag_name(tag)}');", :class => 'modify_link my_tag', :title => "remove tag \"#{tag}\"" %>
			<%= link_to h(tag)+';', { :controller => 'tag', :action => 'results', :tag => tag, :view => 'tag' }, { :class => 'nav_link my_tag', :title => "view all objects tagged \"#{tag}\"" } %>
		<% else -%>
			<%= link_to h(tag)+';', { :controller => 'tag', :action => 'results', :tag => tag, :view => 'tag' }, { :class => 'nav_link', :title => "view all objects tagged \"#{tag}\"" } %>
		<% end #if this tag was created by the current user -%>
	<% } #the tag loop -%>
</td>
<% end -%>
<% end if tags.length > 0 -%>
<% ################### -%>
<% if hit["text"] != nil -%>
<tr>
    <td colspan='2'>
    	<div class="grey">Excerpt from Full Text:</div>
        <div class="snippet" id="<%=row_id%>_full_text">
            <%=hit["text"] %>
        </div>
	</td>
</tr>
<% end # if there is a full text excerpt -%>