<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<% # hit_body : parameters: hit, row_id, index, bool no_links -%>
<% # this needs to be called inside a <table> element -%>
<% item = get_collected_item(hit) -%>
<% is_collected =(item != nil) -%>

<% ################### -%>
<% hit['alternative'].each do %>
<tr>
<td valign="top" colspan="2"><%= hit['alternative'] %></td>
</tr>
<% end if hit['alternative'] %>
<% ################### -%>
<%= result_row_item(:separate_lines, hit, 'source', 'Source', false) %>
<%= result_row_item(:multiple_item, hit, 'role_AUT', 'By', false) %>
<%= result_row_item(:multiple_item, hit, 'role_ART', 'Artist', false) %>
<% ################### -%>
<% tags = CollectedItem.get_tags_for_uri(hit['uri']) -%>
<%  if is_collected -%>
	<tr>
	<td valign="top" class="search_result_data_label">Collected&nbsp;on:</td>
	<td><%= h(item.updated_at.strftime("%b %d, %Y")) %></td>
	</tr>
<% end -%>
<% ################### -%>
<% if no_links -%>
<% if tags.length > 0 -%>
<tr>
<td valign="top" class="search_result_data_label">Tags:</td>
<td><%= h(tags.join('; ')) %></td>
</tr>
<% end # if there are tags -%>
<% else # if we want links on the tags -%>
<tr>
<td valign="top" class="search_result_data_label">Tags:</td>
<td>
	<% my_tags = [] -%>
	<% if is_collected -%>
		<% my_tags = item.tags -%>
	<% end #if the item is collected by the user. -%>
   	<% tags.each {|tag| -%>
		<% is_mine = is_in_tag_array(my_tags, tag) -%>
		<%= " | " if tag != tags[0] %>
		<% if is_mine -%>
			<%= link_to h(tag).downcase, { :controller => 'tag', :action => 'results', :tag => tag, :view => 'tag' }, { :class => 'tag_link my_tag', :title => "view all objects tagged \"#{tag}\"" } %>
        	<%= link_to_function "X", "doRemoveTag('#{hit['uri']}', '#{row_id}', '#{create_javascript_friendly_tag_name(tag)}');", :class => 'modify_link my_tag remove_tag', :title => "delete tag \"#{tag}\"" %>
		<% else -%>
			<%= link_to h(tag).downcase, { :controller => 'tag', :action => 'results', :tag => tag, :view => 'tag' }, { :class => 'tag_link', :title => "view all objects tagged \"#{tag}\"" } %>
		<% end #if this tag was created by the current user -%>
	<% } #the tag loop -%>
	<% if !no_links -%>
		<% if session[:user] == nil -%>
			<span class="tags_instructions"><%= "[#{sign_in_link({:class => 'nav_link'})} to add tags]" %></span>
		<% else -%>
			<%= link_to_function "[add&nbsp;tag]", "doAddTag('add_tag_#{index}', '#{hit['uri']}', #{index}, '#{row_id}', event);",  :id => "add_tag_#{index}", :class => 'modify_link' if is_collected %>
			<%= "<span class='tags_instructions'>Collect this item to add tags</span>" if !is_collected %>
		<% end #if the user is logged in. -%>
	<% end #if !no_links -%>
</td>
</tr>
<% end # if no_links -%>
<% ################### -%>
<% if hit['archive'] %>
	<tr>
	    <td class="search_result_data_label">Site:</td>
	    <td>
	        <% if site(hit['archive']) %><a class="nines_link" target="_blank" href="<%= site(hit['archive'])['url'] %>"><%=site(hit['archive'])['description'] %></a><% else %><%= hit['archive'] %><% end %>
	    </td>
	</tr>
<% end %>
<% ################### -%>
<%= result_row_item(:multiple_item, hit, 'genre', 'Genre', true) %>
<%= result_row_item(:single_item, hit, 'exhibit_type', 'Exhibit&nbsp;type', true) %>
<%= result_row_item(:single_item, hit, 'license', 'License', true) %>
<%= result_row_item(:multiple_item, hit, 'role_EDT', 'Editor', true) %>
<%= result_row_item(:multiple_item, hit, 'role_PBL', 'Publisher', true) %>
<%= result_row_item(:multiple_item, hit, 'role_TRL', 'Translator', true) %>
<%= result_row_item(:multiple_item, hit, 'date_label', 'Date', true) %>
<% ################### -%>
<% if hit["text"] != nil -%>
<tr>
    <td colspan='2'>
    	<div colspan="2" class="search_result_full_text_label">Excerpt from Full Text:</div>
        <div colspan="2" id="<%=row_id%>_full_text" class="snippet">
        	<% # We want to escape everything except the bolding so that random control chars can't mess up the display -%>
            <% text = h hit["text"] -%>
			<%= text.gsub("&lt;em&gt;", "<em>").gsub("&lt;/em&gt;", "</em>") %>
        </div>
	</td>
</tr>
<% end # if there is a full text excerpt -%>
