<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% #  parameters: int row_id; int index; hit hit; bool has_exhibits; -%>
	    <%# The left side that contains the checkbox, graphic and the collect button -%>
	    <td valign="top">
	        <table border="0">
	            <tr>
	            	<% if is_logged_in? -%>
	                <td rowspan="2" valign="middle" align="left" width="10" class="thumbview">
	                    <input type="checkbox" id="bulk_collect_<%=index%>" name="bulk_collect[<%=index%>]" value="<%=hit['uri']%>" style="display: none;"/>
	                </td>
<script language="JavaScript">
	var bulk_form = $("bulk_collect_form");
	if (bulk_form != null)
		$("bulk_collect_<%=index%>").show();
</script>  
					<% end -%>
	                <td rowspan="1" valign="top" align="left" width="100" class="thumbview">
	                    <%= thumbnail_image_tag(hit) %>
	                </td>
	            </tr>
	        </table>
	    </td>

	    <%# The middle with the actual search results -%>
        <td width="100%">
            <table border="0">
                <tr>
                    <td colspan="2">
                    	<!-- image: <%= hit['image'] %><br/>
						uri: <%= hit['uri'] %><br /> -->
                        <% if hit["url"] %>
                        <a class="nav_link search-result-title <%= 'result_with_tag_background' if result_is_collected(hit)%>" target="_blank" href="<%= hit["url"][0] %>"><% if hit["title"] %><%= h hit["title"][0] %><%end %>
                        </a>&nbsp;&rarr;<% else %>
                        <% if hit["title"] %><%= h hit["title"][0] %><%end %>
                        <% end %>
                    </td>
                </tr>
				<%= render :partial => '/results/hit_body', :locals => { :hit => hit, :row_id => row_id } %>
				<% exhibits = ExhibitObject.find_all_by_uri(hit['uri']) -%>
				<% if exhibits.length > 0 -%>
					<tr><td class='grey'>exhibits:</td>
					<td><ul class="no_bullets">
   						<% user_name = session[:user] ? session[:user][:username] : nil -%>
						<% for exhibit in exhibits -%>
							<% # We only want to display the exhibit if it can be viewed, so only if it is owned by the current user, or is public -%>
							<% # We only want to have the edit link if it is owned by the current user. -%>
							<% real_exhibit = Exhibit.find(exhibit.exhibit.id) -%>
							<% owner = User.find(real_exhibit.user_id) -%>
							<% is_published = real_exhibit.is_published == 1 -%>
							<% if user_name == owner.username || is_published -%>
								<li id="in_exhibit_<%= exhibit.exhibit.id %>_<%= hit['uri'] %>"><%= real_exhibit.title -%>
									<a class="nav_link" href="/exhibits/<%= real_exhibit.visible_url.length > 0 ? real_exhibit.visible_url : real_exhibit.id %>" >[view]</a>
									<% if user_name == owner.username -%>
										<%= link_to("[edit]", { :controller => 'my9s', :action => 'edit_exhibit', :id => real_exhibit.id }, :class => 'nav_link' ) %>
									 <% end -%>
								</li>
							<% end -%>
						<% end # each exhibit -%>
					</ul></td></tr>
				<% end # if there are exhibits that use this object -%>
				<% if result_is_collected(hit) -%>
				<tr>
					<td colspan='2'>
						<%= link_to_function "#{has_annotation(hit)?"Edit":"Add"} Annotation", "doAnnotation('add_annotation_#{index}', '#{hit['uri']}', #{index}, '#{row_id}', 'annotation_#{index}');",  :id => "add_annotation_#{index}", :class => 'modify_link' %>
						<%= "<br />" if has_annotation(hit) -%>
						<span id="annotation_<%=index%>" class='annotation'><%= get_annotation(hit) %></span>
						<%= "<br/><span class='annotation'>#{hit['warning']}</span>" if hit['warning'] %>
					</td>
				</tr>
				<% end # if the item is collected -%>
            </table>
			</td>
			
			<%# the right side with the tags -%>
            <td>
 				<%= render :partial => 'results/collection_box', :locals => { :row_id => row_id, :index => index, :hit => hit, :has_exhibits => has_exhibits }  %>
            </td>

 