<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% #  result_row_for_popup parameters: hit hit; hash extra_button_data{partial, index, target_el}  -%>
<% index = -1
	has_exhibits = false
	add_border = false -%>
<div>
	<% row_id = "search_result_#{index}" -%>
    <%# The left side that contains the checkbox, graphic and the collect button -%>
	<div class="search_result_left_for_popup">
		<% if extra_button_data[:partial] -%>
			<div class="search_result_buttons">
				<% is_collected = result_is_collected(hit) -%>
				<%= result_button("Uncollect", "uncollect_#{extra_button_data[:index]}", "doRemoveCollect('#{extra_button_data[:partial]}', '#{hit['uri']}', #{extra_button_data[:index]}, '#{extra_button_data[:target_el]}');", is_collected) %>
				<%= result_button("Exhibit", "exhibit_#{extra_button_data[:index]}", "doAddToExhibit('#{extra_button_data[:partial]}', '#{hit['uri']}', #{extra_button_data[:index]}, '#{extra_button_data[:target_el]}');", is_collected) %>
				<%= result_button("Collect", "collect_#{-1}", "doCollect('#{extra_button_data[:partial]}', '#{hit['uri']}', #{extra_button_data[:index]}, '#{extra_button_data[:target_el]}', #{is_logged_in? ? true : false});", !is_collected) %>
			</div>
		<% end -%>
		<div class="search_result_image"><%= thumbnail_image_tag(hit) %></div>
    </div>

	<div class="search_result_right">
	    <%# The middle with the actual search results -%>
    	<div class="search_result_header">
            <% if hit["url"] %>
            	<a class="nines_link" target="_blank" href="<%= hit["url"][0] %>"><%= h hit["title"][0] if hit["title"] %></a>
			<% else %>
            	<%= h hit["title"][0] if hit["title"] %>
            <% end %>
		</div>
    	<div class="search_result_data_container">
	        <table class="search_result_data">
				<%= render :partial => '/results/hit_body', :locals => { :hit => hit, :row_id => row_id, :index => index, :no_links => true } %>
	
				<tr>
				<% if result_is_collected(hit) -%>
					<td colspan='2'>
						<%= "<br />" if has_annotation(hit) -%>
						<span id="annotation_<%=index%>" class='annotation'><%= decode_exhibit_links(get_annotation(hit)) %></span>
						<%= "<br/><span class='annotation'>#{hit['warning']}</span>" if hit['warning'] %>
					</td>
				</tr>
				<% end # if the item is collected -%>
	        </table>
		</div>
	</div>
	<div class="clear_both"></div>
</div>
