<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# parameter: results hits[]; int user_id; -%>
<script type="text/javascript">
	window.collex.pageName = '<%= @site_section %>';
	window.collex.currentUserId = '<%= get_curr_user_id %>';
	window.collex.isAdmin = <%= is_admin? %>;
	window.collex.hasTypewright = <%= COLLEX_PLUGINS['typewright'].present? %>;
	window.collex.myCollexUrl = '<%= MY_COLLEX_URL %>';
	window.collex.hasFuzzySearch = <%= HAS_FUZZY %>;
	window.collex.facetNames = {
		access: {
			fulltext: "Full Text Only",
			ocr: "Ocr Only",
			freeculture: "Free Culture Only",
			typewright: "Typewright Enabled Only"
		},
		archives: <%= raw(@archives.to_json) %>
	};
	window.collex.images = {
		spinner: '<%= image_path(PROGRESS_SPINNER_PATH) %>',
		federationThumbnail: '<%= image_path(DEFAULT_THUMBNAIL_IMAGE_PATH) %>',
		spinnerTimeout: '<%= image_path(SPINNER_TIMEOUT_PATH) %>',
		arrow_open: '<%= image_path('arrow.gif') %>',
		arrow_close: '<%= image_path('arrow_dn.gif') %>'
	};
	window.collex.exhibit_names = <%= raw(Exhibit.all_my_exhibits(get_curr_user_id).to_json) %>;
	window.collex.savedSearches = <%= user_signed_in? ? raw(get_saved_searches(current_user.username).map { |s| { id: s.id, name: s.name, url: s.url }}.to_json) : [] %>;
	window.collex.defaultFederation = '<%= Setup.default_federation() %>';
	<% if hits.length > 0 %>
	window.collex.hits = <%= raw(hits.to_json()) %>;
	<% end %>
	<% if @collected && @collected.length > 0 %>
	window.collex.collected = <%= raw(@collected.to_json()) %>;
	<% else %>
	window.collex.collected = {};
	<% end %>
</script>
<div class="search-results">
<% if @script == 'doCollect' %>
	<script type="text/javascript">
		doCollect("/results/result_row", '<%= @uri %>' , <%= @row_num %> , '<%= @row_id %>', true);
	</script>
<% elsif @script == 'doTypewright' %>
	<script type="text/javascript">
		gotoPage("<%= @uri %>");
	</script>
<% end %>
</div>