<%
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<% #  result_row parameters: int index; hit hit; bool has_exhibits; bool add_border -%>
<% row_id = "search_result_#{index}" -%>
<div class="clear_both"></div>
<hr class="search_results_hr" />
<div id="search_result_<%= index %>">
    <%# The left side that contains the checkbox, graphic and the collect button -%>
   	<% if is_logged_in? -%>
		<div class="search_result_left_logged_in">
			<table><tr>
				<td><input type="checkbox" id="bulk_collect_<%=index%>" name="bulk_collect[<%=index%>]" value="<%=hit['uri']%>" /></td>
				<td><div class="search_result_image"><%= thumbnail_image_tag(hit) %></div></td>
			</tr></table>
	    </div>
	<% else -%>
		<div class="search_result_left">
			<div class="search_result_image"><%= thumbnail_image_tag(hit) %></div>
	    </div>
	<% end -%>

	<div class="search_result_right<%= " result_row_collected" if result_is_collected(hit) %>">
	    <%# The middle with the actual search results -%>
    	<div class="search_result_header">
            <% if hit["url"] %>
            	<a class="nines_link" target="_blank" href="<%= hit["url"][0] %>"><%= h hit["title"][0] if hit["title"] %></a>
			<% else %>
            	<%= h hit["title"][0] if hit["title"] %>
            <% end %>
		</div>
    	<div class="search_result_data_container">
	        <table class="search_result_data">
				<%= render :partial => '/results/hit_body', :locals => { :hit => hit, :row_id => row_id, :index => index, :no_links => false } %>
				<% exhibits = ExhibitObject.find_all_by_uri(hit['uri']) -%>
				<% is_first = true -%>
				<% user_name = session[:user] ? session[:user][:username] : nil -%>
				<% for exhibit in exhibits -%>
					<% # We only want to display the exhibit if it can be viewed, so only if it is owned by the current user, or is public -%>
					<% # We only want to have the edit link if it is owned by the current user. -%>
					<% real_exhibit = Exhibit.find(exhibit.exhibit.id) -%>
					<% owner = User.find(real_exhibit.user_id) -%>
					<% if user_name == owner.username || real_exhibit.published? -%>
						<tr class="hidden" id="in_exhibit_<%= exhibit.exhibit.id %>_<%= hit['uri'] %>">
							<td class='grey' valign='top'>
								<%= "Exhibits:" if is_first == true -%>
								<% is_first = false -%>
							</td>
							<td valign='top' width='100%'>
								<%=h real_exhibit.title -%>
								<a class="nav_link" href="/exhibits/<%= real_exhibit.visible_url != nil && real_exhibit.visible_url.length > 0 ? real_exhibit.visible_url : real_exhibit.id %>" >[view]</a>
								<% if user_name == owner.username -%>
									<%= link_to("[edit]", { :controller => 'my9s', :action => 'edit_exhibit', :id => real_exhibit.id }, :class => 'nav_link' ) %>
								 <% end -%>
							</td>
						</tr>
					<% end -%>
				<% end # each exhibit -%>
	
				<tr id='more-<%= row_id %>' class="more">
					<td><%= link_to_function("[more...]", "removeHidden('more-#{row_id}', '#{row_id}');", { :id => "more-#{row_id}", :class => 'nav_link' }) %></td>
				</tr>
				<tr>
				<% if result_is_collected(hit) -%>
					<td colspan='2'>
						<%= link_to_function "#{has_annotation(hit)?"Edit":"Add"} Private Annotation", "doAnnotation('add_annotation_#{index}', '#{hit['uri']}', #{index}, '#{row_id}', 'annotation_#{index}');",  :id => "add_annotation_#{index}", :class => 'modify_link' %>
						<%= "<br />" if has_annotation(hit) -%>
						<span id="annotation_<%=index%>" class='annotation'><%= decode_exhibit_links(get_annotation(hit)) %></span>
						<%= "<br/><span class='annotation'>#{hit['warning']}</span>" if hit['warning'] %>
					</td>
				</tr>
				<% end # if the item is collected -%>
	        </table>
		</div>
	</div>
    <div class="search_result_buttons">
		<%= result_button("Collect", "collect_#{index}", "doCollect('#{hit['uri']}', #{index}, '#{row_id}', #{is_logged_in? ? true : false});") if !result_is_collected(hit) %>
		<%= result_button("Uncollect", "uncollect_#{index}", "doRemoveCollect('#{hit['uri']}', #{index}, '#{row_id}');") if result_is_collected(hit) %>
		<%= result_button("Discuss", "discuss_#{index}", "new StartDiscussionWithObject('/forum/get_all_topics', '/forum/post_object_to_new_thread', '#{hit['uri']}', 'discuss_#{index}', #{is_logged_in? ? true : false});") %>
		<%= result_button("Exhibit", "exhibit_#{index}", "doAddToExhibit('#{hit['uri']}', #{index}, '#{row_id}');") if result_is_collected(hit) %>
    </div>

</div>

