	    <%# The left side that contains the checkbox, graphic and the collect button -%>
	    <td valign="top">
	        <table border="0">
	            <tr>
	            	<% if is_logged_in? -%>
	                <td rowspan="2" valign="middle" align="left" width="10" class="thumbview">
	                    <input type="checkbox" name="bulk_collect" value="<%="#{hit['uri']}\t#{index}\t#{row_id}"%>"/>
	                </td>
					<% end -%>
	                <td rowspan="1" valign="top" align="left" width="100" class="thumbview">
	                    <%= thumbnail_image_tag(hit) %>
	                </td>
	            </tr>
	        </table>
	    </td>

	    <%# The middle with the actual search results -%>
        <td>
            <table border="0">
                <tr>
                    <td colspan="2">
                        <% if hit["url"] %>
                        <a class="search-result-title <%= 'result_with_tag_background' if result_is_collected(hit)%>" target="_blank" href="<%= hit["url"][0] %>"><% if hit["title"] %><%= h hit["title"][0] %><%end %>
                        </a>&nbsp;&rarr;<% else %>
                        <% if hit["title"] %><%= h hit["title"][0] %><%end %>
                        <% end %>
                    </td>
                </tr>
                <% hit['alternative'].each do %>
                <% tr do %>
                <%= td hit['alternative'], :valign => "top", :colspan => "2" %>
                <% end %>
                <% end if hit['alternative'] %>
                <% hit['source'].each_with_index do |source, i| %>
                <% tr do %>
                <%= td((i < 1 ? "source:" : ""), :class => "grey", :valign => "top") %>
                <%= td h(source), :valign => "top" %>
                <% end %>
                <% end if hit['source'] %>
                <tr>
                    <td class="grey">
                        site:
                    </td>
                    <td width="100%">
                        <% if hit['archive'] %>
                        <% if site(hit['archive']) %><a target="_blank" href="<%= site(hit['archive'])['url'] %>"><%=site(hit['archive'])['description'] %></a>&nbsp;&rarr; <% else %><%= hit['archive'] %><% end %>
                        <% end %>
                    </td>
                </tr>
                <% tr do %>
                <%= td "exhibit type:", :class => "grey", :valign => "top" %>
                <%= td hit['exhibit_type'], :valign => "top" %>
                <% end if hit['exhibit_type'] %>
                <% tr do %>
                <%= td "license:", :class => "grey", :valign => "top" %>
                <%= td hit['license'], :valign => "top" %>
                <% end if hit['license'] %>
                <% hit.select {|key,value| key =~ /^role_/}.each_with_index do |agent, i| agent[1].each do |name| %>
                <% tr do %>
                <%= td((i < 1 ? "name:" : ""), :class => "grey", :valign => "top") %>
                <%= td h("#{name} (#{COLLEX_MANAGER.relators[agent[0][-3,3]]})"), :valign => "top" %>
                <% end %>
                <% end end %>
                <% tr do %>
                <%= td "date:", :class => "grey", :valign => "top" %>
                <%= td h(hit['date_label'].join('; ')), :valign => "top" %>
                <% end if hit['date_label'] %>
                <% hit['genre'].each_with_index do |genre, i| %>
                <% tr do %>
                <%= td((i < 1 ? "genre:" : ""), :class => "grey", :valign => "top") %>
                <%= td h(genre) %>
                <% end %>
                <% end if hit['genre'] %>
				<% if hit["text"] != nil -%>
                <tr>
                    <td colspan='2'>
                    	<div class="grey">Excerpt from Full Text:</div>
                        <div class="snippet">
                            <%=hit["text"] %>
                        </div>
					</td>
				</tr>
				<% end # if there is a full text excerpt -%>
				<% if result_is_collected(hit) -%>
				<tr>
					<td colspan='2'>
						<%= link_to_function "#{has_annotation(hit)?"Edit":"Add"} Annotation", "doAnnotation('add_annotation_#{index}', '#{hit['uri']}', #{index}, '#{row_id}', 'annotation_#{index}');",  :id => "add_annotation_#{index}" %>
						<span id="annotation_<%=index%>"><%= get_annotation(hit) %></span>
					</td>
				</tr>
				<% end # if the item is collected -%>
            </table>
			</td>
			
			<%# the right side with the tags -%>
            <td>
 				<%= render :partial => 'results/collection_box', :locals => { :row_id => row_id, :index => index, :hit => hit }  %>
            </td>

 