<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
	
<%#  result_row parameters: int index; hit hit; -%>
<div <%= "class='result_row_collected'" if result_is_collected(hit) %>>
	<% row_id = "search_result_#{index}" -%>
    <%# The left side that contains the checkbox, graphic and the collect button -%>
   	<% if is_logged_in? -%>
		<div class="search_result_left_logged_in">
			<table><tr>
				<td><input type="checkbox" id="bulk_collect_<%=index%>" name="bulk_collect[<%=index%>]" value="<%=hit['uri']%>" /></td>
				<td><div class="search_result_image">
					<%= render :partial => '/results/thumbnail_image', :locals => { :hit => hit } %>
				</div></td>
			</tr>

			</table>
	    </div>
	<% else -%>
		<div class="search_result_left">
			<%= render :partial => '/results/thumbnail_image', :locals => { :hit => hit } %>
	    </div>
	<% end -%>

	<% title = hit["title"] ? hit["title"] : '' -%>
	<% title = title.gsub("\n", " ") -%>
	<div class="search_result_right">
	    <div class="search_result_buttons">
			<%= result_button("Collect", "collect_#{index}", "doCollect('/results/result_row', '#{hit['uri']}', #{index}, '#{row_id}', #{is_logged_in? ? true : false});", true) if !result_is_collected(hit) %>
			<%= result_button("Uncollect", "uncollect_#{index}", "doRemoveCollect('/results/result_row', '#{hit['uri']}', #{index}, '#{row_id}');", true) if result_is_collected(hit) %>
			<%= result_button("Discuss", "discuss_#{index}", "new StartDiscussionWithObject('/forum/get_all_topics', '/forum/post_object_to_new_thread', '#{hit['uri']}', '#{escape_apos(title)}', 'discuss_#{index}', #{is_logged_in? ? true : false}, '/forum/get_nines_obj_list', '#{image_path(PROGRESS_SPINNER_PATH)}');", true) %>
			<%= result_button("Exhibit", "exhibit_#{index}", "doAddToExhibit('result_row', '#{hit['uri']}', #{index}, '#{row_id}', '#{MY_COLLEX_URL}');", true) if result_is_collected(hit) %>
			<% if COLLEX_PLUGINS['typewright'] && hit['typewright'] != nil %>
			   <% tw_url = "/typewright/documents/0?uri=#{hit['uri']}"  %>
			   <%= result_button("Edit", "edit_#{index}", "doEditDocument( #{is_logged_in?}, '#{tw_url}' );", true) %>
			<% end %>
	    </div>
	    <%# The middle with the actual search results -%>
    	<div class="search_result_header">
			<% if is_admin? -%>
			<%= link_to_function("uri", "$('uri_#{index}').toggleClassName('hidden');", :class => 'uri_link') %><span id="uri_<%=index%>" class='hidden'>&nbsp;<%= hit['uri'] %></span>
            <% end -%>
            <% if hit["url"] && hit["url"].length > 0 -%>
				<% url = hit["url"] -%>
				<% url = url[0] if url.kind_of?(Array) -%>
				<% url = url.strip() -%>
				<% if url[0] == '/' # does the link start with a forward slash? -%>
					<% if hit['federation'] && hit['federation'].length > 0 %>
						<% base_url = session[:federations][hit['federation'][0]]['site'] #FEDERATION_URLS[hit['federation'][0]] -%>
						<% base_url = "http://#{base_url}" if !base_url.include?('http://')  %>
						<% url = base_url + url -%>
					<% end %>
				<% end %>
				<% aut = hit['role_AUT'] == nil ? '' : hit['role_AUT'][0] -%>
				<% pub = hit['role_PBL'] == nil ? '' : hit['role_PBL'][0] -%>
				<% dat = hit['date_label'] == nil ? '' : hit['date_label'][0] -%>
				<% esc_title = CGI::escape(title.gsub('&quot;', '"').gsub('&amp;', '&')) %>
				<span class="Z3988"
				title="ctx_ver=Z39.88-2004&amp;rft_val_fmt=info%3Aofi%2Ffmt%3Akev%3Amtx%3Abook&amp;rft_id=<%= CGI::escape(url) %>&amp;rfr_id=info%3Asid%2Focoins.info%3Agenerator&amp;rft.genre=book&amp;rft.btitle=<%= esc_title %>&amp;rft.title=<%= esc_title %>&amp;rft.aulast=<%= CGI::escape(aut) %>&amp;rft.aufirst=&amp;rft.au=<%= CGI::escape(aut) %>&amp;rft.date=<%= CGI::escape(dat) %>&amp;rft.pub=<%= CGI::escape(pub) %>">
					<%= result_row_title(title, url, index) %>
				</span>
			<% else -%>
            	<%= title %>
            <% end -%>
		</div>
    	<div class="search_result_data_container">
	        <table class="search_result_data">
				<%= render :partial => '/results/hit_body', :locals => { :hit => hit, :row_id => row_id, :index => index, :no_links => false } %>
				<% if result_is_collected(hit) -%>
				<tr>
					<td colspan='2'>
						<%= link_to_function "#{has_annotation(hit)?"Edit":"Add"} Private Annotation", "doAnnotation('#{hit['uri']}', #{index}, '#{row_id}', 'annotation_#{index}', '/forum/get_nines_obj_list', '#{image_path(PROGRESS_SPINNER_PATH)}');",  :id => "add_annotation_#{index}", :class => 'modify_link' %>
						<%= raw("<br />") if has_annotation(hit) -%>
						<span id="annotation_<%=index%>" class='annotation'><%= decode_exhibit_links(get_annotation(hit)) %></span>
						<%= raw("<br/><span class='annotation'>#{hit['warning']}</span>") if hit['warning'] %>
					</td>
				</tr>
				<% end # if the item is collected -%>
	        </table>
		</div>
	</div>
	<div class="clear_both"></div>
</div>
