<h1>Editing tagassign</h1>

<%= error_messages_for :tagassign %>

<% form_for(@tagassign) do |f| %>
  <p>
    <b>Collected item</b><br />
    <%= f.text_field :collected_item_id %>
  </p>

  <p>
    <b>Tag</b><br />
    <%= f.text_field :tag_id %>
  </p>

  <p>
    <b>Created at</b><br />
    <%= f.datetime_select :created_at %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @tagassign %> |
<%= link_to 'Back', tagassigns_path %>
