<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# parameters: current_user_id -%>
<div class="right_column_header">Exhibited Objects</div>
<% my_exhibits = Exhibit.find(:all, :conditions => ['user_id = ?', current_user_id], :order => 'last_change DESC' ) -%>
<% if my_exhibits.length == 0 -%>
	<div class="empty_list_text" >You have not created any exhibits</div>
<% else -%>
	<table> 
	<% for exhibit in my_exhibits -%>
		<% start_open = exhibit.id == my_exhibits[0].id -%>
		<tr class="exhibit_tree_exhibit_row">
			<td>
				<span <%= 'style="display:none"' if start_open %> class="exhibit_tree_<%= exhibit.id %> site-category-toggle">
					<%= link_to_function("<img src='/images/arrow.gif' />","toggleElementsByClass('exhibit_tree_#{exhibit.id}')") %>
				</span>
				<span <%= 'style="display:none"' if !start_open %>class="exhibit_tree_<%= exhibit.id %> site-category-toggle">
					<%= link_to_function("<img src='/images/arrow_dn.gif' />", "toggleElementsByClass('exhibit_tree_#{exhibit.id}')") %>
				</span>
			</td>
			<td><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit, :height => 15, :show_immediately => false } %></td>
			<td class="exhibit_link" colspan="3">
				<% if Exhibit.can_edit(get_curr_user(), exhibit.id) -%>
				<%= link_to h(exhibit.title), "/#{MY_COLLEX_URL}/edit_exhibit?id=#{exhibit.id}", { :title => 'Edit Exhibit', :class => 'nav_link' } %>
				<% else -%>
				<%= exhibit.title %>
				<% end -%>
			</td>
		</tr>
		<% for object in exhibit.exhibit_objects -%>
			<% hit = CachedResource.get_hit_from_uri(object.uri) -%>
			<tr <%= 'style="display:none"' if !start_open %> class="exhibit_tree_<%= exhibit.id %>" >
				<td></td>
				<td>
					<img src="<%= get_image_url(CachedResource.get_thumbnail_from_hit(hit)) %>" alt="" height="15"/>
				</td>
				<td>
					<%= hit['title'] %>
				</td>
				<td><%= link_to_function "x", "doRemoveObjectFromExhibit('#{exhibit.id}', '#{object.uri}');", :class => 'modify_link' %></td>
			</tr>
		<% end # for each object -%>
	<% end # for each exhibit -%>
	</table>
<% end # if there are exhibits -%>
