<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# my_exhibits_list params: int user_id -%>
<div class="right_column_header">My Exhibits</div>
<div class="new_exhibit_link"><%= link_to_function "Create New Exhibit", "var dlg = new CreateNewExhibitWizard({ progress_img: '#{image_path(PROGRESS_SPINNER_PATH)}', import_url: '/builder/import_exhibit', url_get_objects: '/builder/get_all_collected_objects', populate_collex_obj_url: '/forum/get_nines_obj_list_with_image'}); dlg.show();", :class => 'modify_link' %>
</div>
<% my_exhibits = Exhibit.where("user_id = ? OR alias_id = ?", user_id, user_id) -%>
<% if my_exhibits.length == 0 -%>
	<div class="empty_list_text" >You have not created any exhibits</div>
<% else -%>
	<% for exhibit in my_exhibits -%>
		<div class="side_bar_exhibit_thumbnail"><%= render :partial => 'exhibits/exhibit_thumbnail', :locals => { :exhibit => exhibit, :show_immediately => false } %></div>
		<div class="side_bar_exhibit_text exhibit_link"><%= exhibit.title %> <a class="nav_link" href="/exhibits/view/<%= exhibit.id %>">[view]</a> 
			<% if Exhibit.can_edit(current_user, exhibit.id) -%>
			<%= link_to "[edit]", { :controller => 'builder', :action => 'show', :id => exhibit.id }, { :class => 'nav_link' } %>
			<% else -%>
			<div>Peer Reviewed</div>
			<% end -%>
		</div>
		<div class="side_bar_exhibit_spacer clear_both"></div>
	<% end -%>
<% end # if there are exhibits -%>
