<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# my_groups_list : parameters: user_id -%>
<div class="right_column_header">My Groups</div>
<% my_groups = Group.get_all_users_groups(user_id) -%>
<% if my_groups.length == 0 -%>
	<div class="empty_list_text" >You have not started or joined any groups.</div>
<% else -%>
<% for group in my_groups -%>
	<div class="side_bar_exhibit_thumbnail"><%= render :partial => 'common/thumbnail', :locals => { :element_id => "group_#{group.id}", :url => get_group_image_url(group), :show_immediately => false } %></div>
	<div class="side_bar_exhibit_text exhibit_link"><%= link_to(group.name, { :controller => 'groups', :action => 'show', :id => group.get_visible_id() }, { :class => 'nav_link' }) %>
		<% if group.is_editor(user_id) %>
	        <%= image_tag("group_admin.png", { title: 'administrator', alt: 'administrator', class: "group_admin_img" }) %>
		<% end%>
	</div>
	<div class="side_bar_exhibit_spacer clear_both"></div>
<% end -%>
<% end -%>
<div class="create-group-links">
	<%= link_to_function("Create Group", "new CreateGroupWizardDlg('/search/auto_complete_for_search_university', '#{user_id}', '/groups/verify_group_title', '/groups', '/groups/', #{Group.types_to_json(true)}, #{Group.permissions_to_json()}, #{Group.visibility_to_json()}, '#{Group.types()[0]}', '#{Setup.site_name()}', '/forum/get_nines_obj_list', '#{image_path(PROGRESS_SPINNER_PATH)}', '#{User.find(user_id).institution}', '#{User.find(user_id).fullname}', '#{image_path("#{SKIN}/new_group_show_membership_example.jpg")}'); return false;", :class => 'nav_link' ) %>
	<%= link_to_function("[Browse Groups]", "new BrowseGroupsDlg('#{image_path(PROGRESS_SPINNER_PATH)}', '/groups/get_all_groups', 'browse_groups'); return false;", { :class => 'nav_link' }) %>
</div>
