<% current_page "admin" -%>
<% current_sub_page "TypeWright" -%>
<p id="notice"><%= notice %></p>

<div class="tw_profile">
    <%= render :partial => "/my_collex/profile", :locals => { :user => @typewright_overview[:user], :can_edit => false } %>
    <div class="tw_extra_profile">
        <div class="profile_div"><span class="profile_label">Last correction:</span>
            <span  data-localtime-format="MMM dd, yyyy hh:mm a"><%= tw_date_format(@typewright_overview['most_recent_correction']) %></span></div>
        <div class="profile_div"><span class="profile_label">Total documents corrected:</span>
            <span><%= @typewright_overview['documents'].length %></span></div>
    </div>
</div>

<div class="tw_doc_list">
	<h2>Documents edited</h2>
	
   <table class="tw_overview">
      <tr>
         <th>Title</th> 
         <th>Num Corrections</th>
         <th>Last Correction</th>
      </tr>
      <% @typewright_overview['documents'].each do |document| %>
         <tr>
            <td><%= tw_document_link(document) %></td>
            <td><%= document['count'] %></td>
            <td>
               <span data-localtime-format='MMM dd, yyyy hh:mm a'>
                  <%= tw_date_format(document['most_recent_correction']) %>
               </span>
            </td>
         </tr>
      <% end %>
   </table>
</div>


