      <%= javascript_include_tag 'exhibits.js' %>
      <%= error_messages_for 'exhibited_user_resource', :class => "flash_error" %>

      <table>
      <tbody>
        <tr>
          <%= td f.label :title, "Title" %>
          <%= td f.text_field :title %>
        </tr>
        <tr>
          <%= td f.label :url, "URL" %>
          <%= td f.text_field :url %>
        </tr>
        <tr>
          <%= td f.label :role_AUT, "Author(s)" %>
          <td>
            <%= link_to_function("add author", "Exhibit.addAuthorInput('authors_list')") %>
          </td>
        </tr>
        <tr>
          <%= td "" %>
          <% td :id => "authors_list" do %>
            <% @exhibited_user_resource.role_AUTs.each_with_index do |aut, i| div do %>
              <%= text_field_tag("exhibited_user_resource[role_AUT][]", aut) %><%= link_to_function("remove", "this.up().remove(); return false") %>
            <% end end %>
          <% end #td %>
        </tr>
        <tr>
          <%= td f.label :role_EDT, "Editor(s)" %>
          <td>
            <%= link_to_function("add editor", "Exhibit.addEditorInput('editors_list')") %>
          </td>
        </tr>
        <tr>
          <%= td "" %>
          <% td :id => "editors_list" do %>
            <% @exhibited_user_resource.role_EDTs.each do |edt| div do %>
              <%= text_field_tag("exhibited_user_resource[role_EDT][]", edt) %><%= link_to_function("remove", "this.up().remove(); return false") %>
            <% end end %>
          <% end #td %>
        </tr>
        <tr>
          <%= td f.label :role_TRL, "Translator(s)" %>
          <td>
            <%= link_to_function("add translator", "Exhibit.addTranslatorInput('translators_list')") %>
          </td>
        </tr>
        <tr>
          <%= td "" %>
          <% td :id => "translators_list" do %>
            <% @exhibited_user_resource.role_TRLs.each do |trl| div do %>
              <%= text_field_tag("exhibited_user_resource[role_TRL][]", trl) %><%= link_to_function("remove", "this.up().remove(); return false") %>
            <% end end %>
          <% end #td %>
        </tr>
        <tr>
          <%= td f.label :role_PBL, "Publisher" %>
          <%= td f.text_field :role_PBL %>
        </tr>
        <tr>
          <%= td f.label :role_CTY, "City" %>
          <%= td f.text_field :role_CTY %>
        </tr>
        <tr>
          <%= td f.label :date_label, "Date" %>
          <%= td f.text_field :date_label %>
        </tr>
        <tr>
          <%= td f.label :pages, "Pages" %>
          <%= td f.text_field :pages %>
        </tr>
        <tr>
          <%= td f.label :annotation, "annotation" %>
          <%= td f.text_area :annotation %>
        </tr>
        <tr>
          <%= td %>
          <%= td f.submit %>
        </tr>
      </tbody>
      </table>