<h1>Editing exhibit_illustration</h1>

<%= error_messages_for :exhibit_illustration %>

<% form_for(@exhibit_illustration) do |f| %>
  <p>
    <b>Exhibit element</b><br />
    <%= f.text_field :exhibit_element_id %>
  </p>

  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <b>Type</b><br />
    <%= f.text_field :type %>
  </p>

  <p>
    <b>Image url</b><br />
    <%= f.text_field :image_url %>
  </p>

  <p>
    <b>Illustration text</b><br />
    <%= f.text_area :illustration_text %>
  </p>

  <p>
    <b>Caption1</b><br />
    <%= f.text_area :caption1 %>
  </p>

  <p>
    <b>Caption2</b><br />
    <%= f.text_area :caption2 %>
  </p>

  <p>
    <b>Image width</b><br />
    <%= f.text_field :image_width %>
  </p>

  <p>
    <b>Link</b><br />
    <%= f.text_field :link %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @exhibit_illustration %> |
<%= link_to 'Back', exhibit_illustrations_path %>
