<p>
  <b>Exhibit element:</b>
  <%=h @exhibit_illustration.exhibit_element_id %>
</p>

<p>
  <b>Position:</b>
  <%=h @exhibit_illustration.position %>
</p>

<p>
  <b>Type:</b>
  <%=h @exhibit_illustration.type %>
</p>

<p>
  <b>Image url:</b>
  <%=h @exhibit_illustration.image_url %>
</p>

<p>
  <b>Illustration text:</b>
  <%=h @exhibit_illustration.illustration_text %>
</p>

<p>
  <b>Caption1:</b>
  <%=h @exhibit_illustration.caption1 %>
</p>

<p>
  <b>Caption2:</b>
  <%=h @exhibit_illustration.caption2 %>
</p>

<p>
  <b>Image width:</b>
  <%=h @exhibit_illustration.image_width %>
</p>

<p>
  <b>Link:</b>
  <%=h @exhibit_illustration.link %>
</p>


<%= link_to 'Edit', edit_exhibit_illustration_path(@exhibit_illustration) %> |
<%= link_to 'Back', exhibit_illustrations_path %>
