<%#
# ------------------------------------------------------------------------
#     Copyright 2011 Applied Research in Patacriticism and the University of Virginia
# 
#     Licensed under the Apache License, Version 2.0 (the "License");
#     you may not use this file except in compliance with the License.
#     You may obtain a copy of the License at
# 
#         http://www.apache.org/licenses/LICENSE-2.0
# 
#     Unless required by applicable law or agreed to in writing, software
#     distributed under the License is distributed on an "AS IS" BASIS,
#     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#     See the License for the specific language governing permissions and
#     limitations under the License.
# ----------------------------------------------------------------------------
%>

<table class='user_roles'>
<tr>
    <th>TypeWright Object URI</th>
    <th>Primary</th>
    <th>Disabled</th>
  </tr>
<% features.each do |rec| %>
  <tr>
    <td><%= rec.uri %></td>
    <td><%= rec.primary %></td>
    <td><%= rec.disabled %></td>
    <td>
      <%= link_to_function 'Edit', "tw_featureDlg( { method: 'PUT', url: '/typewright/admin/#{rec.id}' }, #{rec.to_json()} )", { :class => 'nav_link' } %>
    </td>
    <td>
      <%= link_to_confirm 'Delete', "/typewright/admin/#{rec.id}", 
                          "Delete Feature", "This will delete the feature \"#{rec.uri}\". Are you sure you want to continue?", "DELETE" %>
    </td>
  </tr>
<% end %>
</table>