<% # 
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# menu params: string current_page -%>
<div id="admin_menu">
	<ul>
	  <li><%= make_sub_menu_link("Home", "admin/default", "index", current_page) %></li>
	  <li><%= make_sub_menu_link("Features", "admin/features", "index", current_page) %></li>
	  <% if COLLEX_PLUGINS['typewright'] %>
			<li><%= make_sub_menu("TypeWright", [
				{ name: "Main", url: "/typewright/admin" },
				{ name: "Documents", url: "/typewright/overviews" },
				{ name: "Users", url: "/typewright/overviews?view=users" },
			], current_page) %></li>
	  <% end %>
	  <li><%= make_sub_menu_link("User Roles", "admin/user_roles", "index", current_page) %></li>
	  <li><%= make_sub_menu_link("Forum Topics", "admin/discussion_topics", "index", current_page) %></li>
	  <li><%= make_sub_menu_link("Pending Reports", "admin/default", "forum_pending_reports", current_page) %></li>
	  <li><%= make_sub_menu_link("Statistics", "admin/default", "stats", current_page) %></li>
	  <li><%= make_sub_menu_link("Groups", "admin/default", "groups", current_page) %></li>
	  <li><%= make_sub_menu_link("User Content", "admin/default", "user_content", current_page) %></li>
<!--	  <li><%#= make_sub_menu_link("VIC Conference", "admin/default", "vic_conference", current_page) %></li> -->
		<li><%= make_sub_menu_link("Setup", "admin/setups", "index", current_page) %></li>
	</ul>
</div>
