<% current_page "admin" -%>
<% current_sub_page "Exhibits" -%>
<div class="inner_content_container">
	<div class="page_header">Exhibits Categories</div>
	<table class="exhibit_category">
		<tr>
			<th>Exhibit</th>
			<th>Author</th>
			<th>Published?</th>
			<th>Category</th>
		</tr>
		<% exhibits = Exhibit.all(:order => 'title') -%>
		<% for exhibit in exhibits -%>
		<% category = exhibit.category ? exhibit.category : 'sandbox' -%>
		<% not_published = exhibit.is_published == '0' || exhibit.is_published == nil || exhibit.is_published == 0 -%>
			<tr>
				<td<%= " class='not_published'" if not_published %>><%= h exhibit.title %></td>
				<td<%= " class='not_published'" if not_published %>><%= h User.find(exhibit.user_id).fullname %></td>
				<td<%= " class='not_published'" if not_published %>><%= not_published ? "No" : "Yes" %></td>
				<td><span id="<%= "exhibit_#{exhibit.id}" %>"><%= category %></span>&nbsp;<%= link_to_function "[edit]", "new EditExhibitCategory('exhibit_#{exhibit.id}', '/admin/default/change_category', '#{exhibit.id}', '#{category}'); return false;" %></td>
			</tr>
		<% end -%>
	</table>
</div>
