<% current_page "admin" -%>
<% current_sub_page "Pending Reports" -%>
<div class="inner_content_container">
	<div class="page_header">Pending Reported Comments in the Forum</div>
	<br />
	<% spams = DiscussionComment.find_all_by_reported(1) -%>
	<table class="reported_abuse">
		<tr>
			<th>Commenter</th>
			<th>Reporter(s)</th>
			<th>Comment</th>
			<th colspan=3>Actions</th>
		</tr>
		<% for spam in spams -%>
			<tr>
				<td><%= User.find(spam.user_id).fullname -%></td>
				<td><%= spam.get_reported_by_list() %></td>
				<td><%= spam.comment %></td>
				<td><%= link_to "[Go to]", { :controller => '/forum', :action => 'view_thread', :thread => spam.discussion_thread_id }, :class => 'nav_link' %></td>
				<td><%= link_to "[Delete Comment]", { :controller => '/forum', :action => 'view_thread', :thread => spam.discussion_thread_id }, :class => 'nav_link' %></td>
				<td><%= link_to "[Remove Abuse Flag]", { :controller => '/forum', :action => 'view_thread', :thread => spam.discussion_thread_id }, :class => 'nav_link' %></td>
			</tr>
		<% end -%>
	</table>
</div>
