<% #
    # ------------------------------------------------------------------------
    # Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    #
    # Licensed under the Apache License, Version 2.0 (the "License");
    # you may not use this file except in compliance with the License.
    # You may obtain a copy of the License at
    #
    #    http://www.apache.org/licenses/LICENSE-2.0
  
    # Unless required by applicable law or agreed to in writing, software
    # distributed under the License is distributed on an "AS IS" BASIS,
    # WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    # See the License for the specific language governing permissions and
    # limitations under the License.
    # ---------------------------------------------------------------------------- -%>
<%# thumbnail parameters: string element_id, string url; int height=50; bool show_immediately, string klass='', border=false -%>
<% height ||= 50 -%>
<% klass ||= '' -%>
<% border ||= false -%>

<div class="exhibit_thumbnail<%= " #{klass}" if klass.length > 0 %>" style="overflow: hidden;width:<%= height %>px;height:<%= height %>px;<%= " border: 4px solid gray;" if border == true -%>"><img id="thumbnail_<%=element_id%>" src="<%= url %>"  style="display:none;" alt=""/></div>
<script type="text/javascript">
	$("thumbnail_<%=element_id %>").observe('load', thumbnail_resize);
	<% if show_immediately -%>
	setTimeout(thumbnail_resize.bind($("thumbnail_<%=element_id %>")), 500);
	<% end -%>
</script>
