<h1>Editing exhibit_page</h1>

<%= error_messages_for :exhibit_page %>

<% form_for(@exhibit_page) do |f| %>
  <p>
    <b>Exhibit</b><br />
    <%= f.text_field :exhibit_id %>
  </p>

  <p>
    <b>Position</b><br />
    <%= f.text_field :position %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @exhibit_page %> |
<%= link_to 'Back', exhibit_pages_path %>
