<%# ------------------------------------------------------------------------
    Copyright 2007 Applied Research in Patacriticism and the University of Virginia
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
---------------------------------------------------------------------------- %>

<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>N I N E S</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 

	<!-- site wide styles -->
  <%= stylesheet_link_tag "globals", :media => "all" %>
  <%= stylesheet_link_tag "core", :media => "all" %>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/menu/assets/skins/sam/menu.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/button/assets/skins/sam/button.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/container/assets/skins/sam/container.css" />
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/editor/assets/skins/sam/editor.css" />
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/resize/assets/skins/sam/resize.css" />

	<!-- section styles -->
	<%= case @site_section 
		when :search 
		  stylesheet_link_tag("results", :media => "all") + "\n" +
		  stylesheet_link_tag("full_window", :media => "all") + "\n" +
	  	  stylesheet_link_tag("search", :media => "all")
		when :my9s
		  stylesheet_link_tag("results", :media => "all") + "\n" +
			stylesheet_link_tag("search", :media => "all") + "\n" +
		  stylesheet_link_tag("tag", :media => "all") + "\n" +
		  stylesheet_link_tag("full_window", :media => "all") + "\n" +
		  stylesheet_link_tag("exhibit_list", :media => "all") + "\n" +
		  stylesheet_link_tag("my9s", :media => "all")
		when :home 
		  stylesheet_link_tag "home", :media => "all"
		when :login 
		  stylesheet_link_tag "login", :media => "all" 
		when :tag
		  stylesheet_link_tag("results", :media => "all") + "\n" +
		  stylesheet_link_tag("full_window", :media => "all") + "\n" +
		  stylesheet_link_tag("tag", :media => "all")
		when :exhibits
		  stylesheet_link_tag("exhibit_list", :media => "all")
		when :about
		  stylesheet_link_tag("about", :media => "all")
		when :news
		  stylesheet_link_tag("news", :media => "all")
	  else 
		  ""
    end 
	%>
	
<script language="JavaScript">
	var supportsFixedPositioning = true;
</script>
<!--[if IE]>
	  	<%= stylesheet_link_tag "ie", :media => "all" %>
<script language="JavaScript">
	supportsFixedPositioning = false;
</script>
<![endif]-->

<% if @site_section == :about || @site_section == :tag  -%>	
<!--[if lte IE 6]>
	            <link href="/stylesheets/about4ie.css" media="all" rel="stylesheet" type="text/css" />
<![endif]-->
<% end -%>

<!-- site wide scripts -->
<%= javascript_include_tag :defaults, 'nospam' %>

<% if @uses_yui -%>
<% min = "-min" # "-min" # this should be released equal to -min, but for debugging purposes it can be an empty string. -%>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/json/json<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/element/element-beta<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/button/button<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/container/container<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/connection/connection<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/menu/menu<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/editor/editor<%= min %>.js"></script>	
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/dragdrop/dragdrop<%= min %>.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/resize/resize<%= min %>.js"></script>
<%= javascript_include_tag 'input_dialog', 'modal_dialog', 'initialize_inplacericheditor' %>
<% end -%>

<!-- section scripts -->
<%= case @site_section 
	when :search 
	  javascript_include_tag 'search_validation'
	when :tag
	  javascript_include_tag 'sidebar_tag_cloud'
	when :my9s
	  javascript_include_tag 'sidebar_tag_cloud', 'edit_exhibit'
	when :home 
	when :login 
		""
end 
%>

</head>
<body class=" yui-skin-sam">
	
	<div id="mainContent">

	<div id="container">
		<a href="/"><div id="header-center">
			<br />
			<br />
			<br />
		</div></a>
		<div id="header-right">
			<% if @use_signin -%>
				<%= render :partial => '/common/login_slider' %>
			<% end -%>
		</div>
  		<div id="content">
  			<% if @use_tabs -%>
			<table class="tabs" cellspacing='0px' >
				<tr>
					<td class="tab-spacer-left">&nbsp;</td>
					<%= draw_tabs(yield(:current_page)) %>
					<td class="tab-spacer-right">&nbsp;</td>
				</tr>
			</table>
			<div class="tab-content-outline">
			<div class="tab-content-outline2">
			<div class="tab-content">
	  		  <%= h3 flash[:notice], :class => "flash_notice" if flash[:notice] %> 
	  		  <%= h3 flash[:warning], :class => "flash_warning" if flash[:warning] %> 
	  		  <%= h3 flash[:error], :class => "flash_error" if flash[:error] %> 
		      <%= yield %>
			</div> 
			</div> 
		  	<%= render :partial => '/common/footer' %>
			</div>
			<br />
			<% else # not if @user_tabs -%>
	  		  <%= h3 flash[:notice], :class => "flash_notice" if flash[:notice] %> 
	  		  <%= h3 flash[:warning], :class => "flash_warning" if flash[:warning] %> 
	  		  <%= h3 flash[:error], :class => "flash_error" if flash[:error] %> 
		      <%= yield %>
			<% end -%>
      </div>
    </div>
	</div>
	
	<!-- for Google Analytics -->
	<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
		try {
		var pageTracker = _gat._getTracker("UA-5450014-1");
		pageTracker._trackPageview();
		} catch(err) {}
	</script> 

	<!-- <script type="text/javascript" src="/javascripts/boxover.js"></script> -->
<%
# 	<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
#	</script>
#	<script type="text/javascript">
#	_uacct = "UA-1813036-1";
#	urchinTracker();
#	</script> -%>
  </body>
</html>
                
