<%# ------------------------------------------------------------------------
    Copyright 2009 Applied Research in Patacriticism and the University of Virginia
    
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0
  
    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
---------------------------------------------------------------------------- -%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<%# Figure out how we're running so we know what files to load -%>
	<%# We only run Google Analytics if we are on the real deployment. -%>
	<%# We want to load the non-minimized versions of YUI if we are running development -%>
	<% quick_load = (RAILS_ENV == 'development') && (request.host().index('performantsoftware') == nil) -%>
	<% title_prefix = quick_load ? "DEV: " : "" -%>
	<% title_prefix = "STAGING: " if request.host().index('performantsoftware') != nil -%>
	<% title_prefix = "EXP: " if request.host().index('performantsoftware') != nil && (RAILS_ENV == 'development') -%>

<title><%= title_prefix %><%= SITE_NAME_TITLE %><%= " - #{yield(:current_page)}" if @site_section != :home %><%= @subtitle %></title>
<%# Wrap ALL css and js calls in a model so there is control over them. In development mode, the files are included normally, in production, the files are bundled - %>
<%= get_stylesheets(@site_section, quick_load) %>
<!--[if lt IE 7]>
	<%= stylesheet_link_tag "iehacks", :media => "all" %>
<![endif]-->
<!--[if IE 7]>
	<%= stylesheet_link_tag "ie7hacks", :media => "all" %>
<![endif]-->

<%= get_javascripts(@site_section, quick_load) %>

	<script type="text/javascript">
		var supportsFixedPositioning = true;
	</script>
	<!--[if IE]>
	<script type="text/javascript">
		supportsFixedPositioning = false;
	</script>
	<![endif]-->
	<script type="text/javascript">
		var form_authenticity_token = '<%= form_authenticity_token %>';
	</script>

</head>
<body class="yui-skin-sam">
	<div id="main_container">
		<div id="header_container">
			<% if yield(:current_page) != "HOME" -%>
			<a href="/" id="header_left">&nbsp;</a>
			<% else -%>
				<div id="header_left<%= rand(5) + 1 %>"></div>
			<% end -%>
			<div id="header_right"><%= sign_in_link({ :class => 'nav_link' }) if !is_logged_in? %></div>
		</div>
		<%= draw_tabs(yield(:current_page)) %>

    	<div id="subnav_container">
        	<div id="login_container">
				<%= render :partial => '/common/login_slider', :locals => { :current_page => yield(:current_page) } %>
            </div>
            <div id="subnav_links_container">
            	<a href="/about/what_is.html" class="nav_link">What is <%= SITE_NAME %>?</a>  |  <a href="/about/scholarship/index.html" class="nav_link">Scholarship</a>  |  <a href="/about/software/index.html" class="nav_link">Software</a>  |  <a href="/about/community/index.html" class="nav_link">Community</a>
            </div>
           	<div class="clear_both"></div>
			<% if yield(:current_page) == "admin" -%>
				<%= render :partial => '/admin/default/menu', :locals => { :current_page => yield(:current_sub_page) } %>
			<% end -%>
        </div>
		<div id="content_container">
			<%= yield %>
		</div>        
	</div>

 	<div class="clear_both"></div>
	<%= render :partial => '/common/footer' %>
	<% if GOOGLE_ANALYTICS -%>
		<!-- for Google Analytics -->
		<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
			try {
			var pageTracker = _gat._getTracker("UA-5450014-1");
			pageTracker._trackPageview();
			} catch(err) {}
		</script>
	<% else %>
		<!-- Google analytics is not included on this page because the site.yml file does not contain "google_analytics: true" -->
	<% end -%>
</body></html>